<div id="wrapper" ng-init="dhboard();" class="container-fluid">
    <div class="row" >
        <div class="filter-bar">
            <div  class="row" style="margin-left: 10px; font-size: 20px;" >
                <button class="btn btn-xs btn-primary" data-toggle="collapse" data-target="#filterContent"><i class="fas fa-filter"></i></button>
                
            </div>          
        </div>
    </div>
    <!-- /.container -->
    <div class="collapse collapse-fullwidth" id="filterContent"  role="dialog" aria-labelledby="filterContent" aria-hidden="true">
        <div class="modal-dialog animated">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row" >
                        <div class="col-lg-12" style="background-color: #f1f1f1; ">
                            <div class="row" style="position: fixed;z-index: 100;width: 100%;background: #ebf3da; padding-top: 15px;margin-top: -0.4em;">
                                <div  class="row" style="margin-left: 10px;" >
                                    <div ng-show="sessionidProfile!=3" class="form-group col-lg-2">
                                        <label ng-show="sessionidProfile==2">Empresa</label>
                                      <label ng-show="sessionidProfile==1">Empresa o Administracion</label>
                                      <label ng-show="sessionidProfile==4">Administracion</label>
                                      <label ng-show="sessionidProfile==3 || sessionidProfile==5">Administracion</label>    
                                        <div class="col-xl-12">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="icon-suitcase"></i></span>
                                              <input ng-show="sessionidProfile!=1" name="companyN"  disabled class="form-control" ng-model="$parent.companyN" />

                                              <select ng-show="sessionidProfile==1" name="idCompany" class="form-control" ng-change="officeListByCompnayID(); CallFilterFormT(); dhboard();"  ng-options="item.idCompany as item.nameCompany for item in listCompany" ng-required="sessionidProfile==1" ng-model="select.idCompanyKf"  >
                                                  <option value="">Todos</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- List Address-->
                                    <div ng-if="sessionidProfile!=3 && sessionidProfile!=5" ng-disable="sessionidProfile==3 || sessionidProfile==5" class="form-group col-lg-2">
                                      <label ng-show="sessionidProfile==2">Sucursal</label>
                                      <label ng-show="sessionidProfile==1">Sucursal o Consorcio</label>
                                      <label ng-show="sessionidProfile==4">Consorcio</label>
                                      <label ng-show="sessionidProfile==3 || sessionidProfile==5">Consorcio</label>   
                                        <div class="col-xs-12 selectContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon icon-building"></i></span>
                                                <select name="idAddress" class="form-control" ng-change="dhboard()"  ng-options="item.idAdress as item.nameAdress for item in listOffice" ng-model="filters.idAddress" autofocus >
                                                    <option value="">Todos</option>
                                                    </select>
                                            </div>
                                      </div>
                                    </div>
                                    <!-- Address for Onwers-->      
                                    <div class="form-group col-lg-2" ng-disable="sessionidProfile!=3 && sessionidProfile!=5" ng-show="sessionidProfile==3 || sessionidProfile==5">
                                        <label>Consorcio</label>
                                            <div class="col-xl-12 selectContainer">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                                    <select name="idAddres" class="form-control" ng-change="dhboard()"  ng-options="item.idAdress as item.nameAdress for item in ListTenantAddress" ng-model="filters.idAddress" autofocus >
                                                        <option value="">Seleccione un consorcio</option>
                                                    </select>
                                                </div>
                                            </div>
                                    </div>
                                    <!-- Filter Top -->
                                    <div ng-if="sessionidProfile" class="form-group col-lg-1">
                                      <label>Top</label>
                                        <div class="col-xl-12 selectContainer">
                                          <div class="input-group">
                                              <span class="input-group-addon"><i class="glyphicon glyphicon-align-justify"></i></span>
                                              <select class="form-control" ng-change="dhboard()" ng-model="filters.topDH">
                                                <option value="">Todos</option>
                                                <option value="5">5</option>
                                                <option value="10">10</option>
                                                <option value="20">20</option>
                                                <option value="30">30</option>
                                                <option value="100">50</option>
                                            </select>
                                          </div>
                                        </div>
                                    </div>
                                    <!-- Filter Type of Ticket for Company User-->
                                    <div ng-if="sessionidProfile==2" class="form-group col-lg-2">
                                      <label>Tipo de Ticket</label>
                                        <div class="col-xl-12 selectContainer">
                                          <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-tags"></i></span>
                                                <select name="idTypeTicketKf" class="form-control" ng-change="dhboard()"  ng-options="item.idTypeTicket as item.TypeTicketName for item in listTypeTicket  | filter: greaterThan('idTypeTicket', 2)" ng-required="sessionidProfile==1" ng-model="filters.idTypeTicketKf"  >
                                                  <option value="">Todos</option>
                                                </select>
                                          </div>
                                        </div>
                                    </div>
                                    <!-- Filter Type of Ticket for Onwer User-->
                                    <div ng-if="sessionidProfile==3" class="form-group col-lg-2">
                                      <label>Tipo de Ticket</label>
                                        <div class="col-xl-12 selectContainer">
                                          <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-tags"></i></span>
                                                <select name="idTypeTicketKf" class="form-control" ng-change="dhboard()"  ng-options="item.idTypeTicket as item.TypeTicketName for item in listTypeTicket  " ng-required="sessionidProfile==1" ng-model="filters.idTypeTicketKf"  >
                                                  <option value="">Todos</option>
                                                </select>
                                          </div>
                                        </div>
                                    </div>
                                    <!-- Filter Type of Ticket for Onwer User-->
                                    <div ng-if="sessionidProfile!=2 && sessionidProfile!=3" class="form-group col-lg-2">
                                      <label>Tipo de Ticket</label>
                                        <div class="col-xl-12 selectContainer">
                                          <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-tags"></i></span>
                                                <select name="idTypeTicketKf" class="form-control" ng-change="dhboard()"  ng-options="item.idTypeTicket as item.TypeTicketName for item in listTypeTicket " ng-required="sessionidProfile==1" ng-model="filters.idTypeTicketKf"  >
                                                  <option value="">Todos</option>
                                                </select>
                                          </div>
                                        </div>
                                    </div>
                                    <!-- Filter Type of Status-->
                                    <div ng-if="sessionidProfile!=0" class="form-group col-lg-2">
                                      <label>Tipo de Estatus</label>
                                        <div class="col-xl-12 selectContainer">
                                          <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-tags"></i></span>
                                                <select name="idStatusKf" class="form-control" ng-change="dhboard()"  ng-options="item.idStatus as item.statusName for item in listStatusTicket " ng-model="filters.idStatusKf" >
                                                  <option value="">Todos</option>
                                                </select>
                                          </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-2">
                                    <label>Buscar</label>
                                      <div class="col-xl-12">
                                        <div class="input-group">
                                          <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                                          <input type="text" class="form-control" ng-blur="dhboard()" ng-model="filters.searchFilter" placeholder="Buscar...">
                                        </div>
                                      </div>
                                    </div>
                                    <div class="form-group col-lg-1">
                                        <div class="col-xl-12"><br>
                                            <div class="btn-group">
                                                <button type="button" ng-click="dhboard()" class="btn btn-md btn-info">
                                                    <i title="Actualizar" class="glyphicon glyphicon-refresh"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>          
                                    <div ng-show="noStatus" class="col-lg-3">
                                        <span class="glyphicon glyphicon-ok-sign " aria-hidden="true"></span>
                                        <label>Total Ticket Finalizados</label>
                                        <label style="color: #39af24;font-size: 20px;">0</label>
                                    </div>
                                    <div ng-show="noStatus" class="col-lg-3">
                                        <span class="glyphicon glyphicon-remove-sign " aria-hidden="true"></span>
                                        <label>Total Ticket Cancelados</label>
                                        <label style="color: #af2424;font-size: 20px;">0</label>
                                    </div>
                                    <div  ng-show="noStatus" class="col-lg-3">
                                        <span class="glyphicon glyphicon-ok-sign " aria-hidden="true"></span>
                                        <label>Total Ticket Pendientes</label>
                                        <label  style="color: #af8424;font-size: 20px;">0</label>
                                    </div>
                                    <div class="col-lg-3">
                                        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                                        <label>Total</label>
                                        <label style="font-size: 20px;">{{totalTickets}}</label>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
        <div class="container-fluid" style="margin-top: 4.7em;">
            <div ng-repeat="tk in listTickt" class="col-md-12 row_body" >
                <!--ng-if="differentDays[$index]<=2 && tk.isCancelTicket<=0" -->
                <div ng-init="compareDaysIn2Dates(tk.dateCratedTicket);" class="col-md-1 icon_circle">
                    <span >
                        <i ng-if="tk.idTypeTicket==1" class="fas fa-key"></i>
                        <i ng-if="tk.idTypeTicket==2" class="fas fa-key"></i>
                        <i ng-if="tk.idTypeTicket==3" class="fas fa-wrench"></i>
                    </span>              
                </div>
                <div class="col-lg-2 col-md-3 icon_list">
                    <ul>
                        <li><i class="fas fa-flag"></i> {{tk.TypeTicketName}}</li>
                        <li><i class="fas fa-file-alt"></i> N°: {{tk.codTicket}}</li>
                        <li><i class="far fa-calendar-alt"></i> Creado:  {{tk.dateCratedTicket | dateToISO | date:'dd/MM/yyyy'}}</li>
                        <li><i class="fas fa-tasks"></i> Estado: <span style="color:rgb(250, 107, 107);background: #fff;border-radius: 10px;padding-left: 5px; padding-right: 5px; font-size: 11px;">  {{tk.statusName}}</span></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-3 icon_list">
                    <ul>
                        <li><i class="far fa-calendar-check"></i> Aprobada:&nbsp; &nbsp;
                            <span ng-if="tk.dateRecibedAdmin">{{tk.dateRecibedAdmin}}</span>
                            <span ng-if="!tk.dateRecibedAdmin" class="label label-default">Pendiente</span>
                        </li>
                        <li><i class="far fa-calendar-check"></i> Coferba:&nbsp;&nbsp; &nbsp;&nbsp;
                            <span ng-if="tk.dateRecibeCompany">{{tk.dateRecibeCompany}}</span>
                            <span ng-if="!tk.dateRecibeCompany" class="label label-default">Pendiente</span>
                        </li>
                        <li><i class="far fa-calendar-times"></i> Cancelado:&nbsp; &nbsp; &nbsp;  
                            <span ng-if="tk.dateCancel==1">{{tk.dateCancel | dateToISO | date:'dd/MM/yyyy'}}</span>
                            <span ng-if="!tk.dateCancel || tk.dateCancel==null" class="label label-default">n/a</span>
                        </li>
                    </ul>
                </div>
                <div ng-if="tk.idTypeTicket" class="col-lg-3 col-md-4 icon_list">
                    <ul>
                        <li ng-if="tk.idTypeTicket>0"><i class="far fa-user"></i> Creado:
                            <span ng-if="tk.FullNameUserAdmin && tk.idProfileKf==1">{{tk.FullNameUserAdmin}}</span>
                            <span ng-if="tk.FullNameUserCompany && tk.idProfile==2">{{tk.FullNameUserCompany}}</span>
                            <span ng-if="tk.FullNameUserEnterprice && tk.idProfile==4">{{tk.FullNameUserEnterprice}}</span>
                            <span ng-if="tk.FullNameUserOwner && tk.idProfile==3">{{tk.FullNameUserOwner}}<span ng-if="tk.idProfile==3 || tk.idProfile==6 && (sessionidProfile==1 || sessionidTypeTenant==1)"> ({{tk.nameProfile}})</span></span>
                            <span ng-if="tk.FullUserTenant && (tk.idProfile==5 || tk.idProfile==6)">{{tk.FullUserTenant}}<span ng-if="tk.idProfile==5 && (sessionidProfile==1 || sessionidTypeTenant==2)"> ({{tk.nameProfile}})</span></span>
                        </li>
                        <li><i class="far fa-user"></i> Cliente:&nbsp;
                            <span ng-if="tk.idTypeTicket<=2 && tk.FullUserTenant && tk.idProfileKf==1">{{tk.FullUserTenant}}<span ng-if="sessionidProfile==1 || sessionidProfile==3 || (sessionidProfile==6 && sessionidTypeTenant==1) || sessionidProfile==4"> ({{tk.nameProfile}})</span></span>
                            <span ng-if="tk.idTypeTicket<=2 && tk.FullNameUserOwner && (tk.idProfile==3 || tk.idProfile==6)">{{tk.FullUserTenant}}</span>
                            <span ng-if="tk.idTypeTicket<=2 && tk.FullUserTenant && (tk.idProfile==5 || tk.idProfile==6)">{{tk.FullUserTenant}}</span>
                            <span ng-if="tk.idTypeTicket==3 && (tk.FullNameUserCompany || !tk.FullNameUserCompany) && tk.nameCompany">{{tk.nameCompany}}</span>
                            <span ng-if="tk.idTypeTicket<=2 && (tk.FullNameUserEnterprice || !tk.FullNameUserEnterprice) && tk.idTypeOfOptionKf && tk.nameCompany && (sessionidProfile==1 || sessionidProfile==4)">{{tk.nameCompany}}</span>
                            <span ng-if="!tk.nameCompany" class="label label-default">n/a</span>
                        </li>
                        <li ng-if="tk.idTypeTicket==3"><i class="fas fa-map-marker"></i> Sucursal:
                            <span ng-if="tk.nameAdress">{{tk.nameAdress}}</span>
                            <span ng-if="!tk.nameAdress" class="label label-default">n/a</span>
                        </li>
                        <li ng-if="tk.idTypeTicket<=2"><i class="fas fa-map-marker"></i> Consorcio:
                            <span ng-if="tk.nameAdress">{{tk.nameAdress}}</span>
                            <span ng-if="!tk.nameAdress" class="label label-default">n/a</span>
                        </li>
                        <li ng-if="tk.idTypeTicket<=2"><i class="fas fa-home"></i> Depto.:
                            <span ng-if="tk.departmentFloor">{{tk.departmentFloor}}</span>
                            <span ng-if="!tk.departmentFloor" class="label label-default">n/a</span>
                        </li>
                        <li ng-show="tk.idTypeTicket==3"><i class="fas fa-wrench"></i> Servicio:&nbsp;
                            <span ng-if="tk.typeServices">{{tk.typeServices}}</span>
                            <span ng-if="!tk.typeServices" class="label label-default">n/a</span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 icon_list">
                    <ul>
                        <li ng-show="tk.idTypeTicket==3"><i class="far fa-clipboard"></i></i> Descripcion:&nbsp;
                            <span ng-if="tk.description">{{tk.description}}</span>
                            <span ng-if="!tk.description" class="label label-default">n/a</span>
                        </li>
                        <li ng-show="tk.idTypeTicket<=2"><i class="far fa-clipboard"></i></i> Pedido:&nbsp;
                            <span ng-if="tk.listidTypeOfKeysKf">{{tk.listidTypeOfKeysKf[0].item}} ( {{tk.idTypeOfKeysKf.keys[0].keyQty}})</span>
                            <span ng-if="!tk.listidTypeOfKeysKf" class="label label-default">n/a</span>
                        </li>
                        <li ng-show="tk.idTypeTicket<=2"><i class="fas fa-truck"></i> Entrega:&nbsp;
                            <span class="blink" style="color:rgb(250, 107, 107);background: #fff;border-radius: 10px;padding-left: 5px; padding-right: 5px; font-size: 11px;" ng-if="tk.typeDelivery">{{tk.typeDelivery}}</span>
                            <span ng-if="!tk.typeDelivery" class="label label-default">n/a</span>
                        </li>
                        <li ng-show="tk.idTypeTicket<=2"><i class="fas fa-hand-holding"></i>
                            <span ng-if="tk.idTypeDeliveryKf==1"> Retirado por:&nbsp;</span>
                            <span ng-if="tk.idTypeDeliveryKf==2"> Recibido por:&nbsp;</span>
                            <span ng-if="tk.idTypeDeliveryKf==2 && tk.idUserAttendantKfDelivery">{{tk.idUserAttendantKfDelivery}} (Encargado)</span>
                            <span ng-if="tk.idTypeDeliveryKf==1 && !tk.idUserAttendantKfDelivery && !tk.thirdPersonNames">Cliente Titular</span>
                            <span ng-if="(tk.idTypeDeliveryKf==1 || tk.idTypeDeliveryKf==2) && !tk.idUserAttendantKfDelivery && tk.thirdPersonNames">{{tk.thirdPersonNames}}</span>
                        </li>
                        <li ng-show="tk.idTypeTicket<=2"><i class="fas fa-dollar-sign"></i> Costo:&nbsp;
                            <span style="color:rgb(250, 107, 107);background: #fff;border-radius: 10px;padding-left: 5px; padding-right: 5px; font-size: 11px;" ng-if="tk.typeDelivery">{{tk.totalService}}</span>
                            <span ng-if="!tk.totalService" class="label label-default">n/a</span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-1 label-tag pull-right"></div>
                <!--
                    <div class="col-lg-2 pull-right">
                        <div  class="btn-group">
                        <button ng-show="tk.isCancelTicket<=0" ng-disabled="tk.idStatusTicketKf<=1" type="button" class="btn btn-sm btn-success">{{tk.statusName}}</button>
                        <button ng-show="tk.isCancelTicket==1" ng-disabled="tk.idStatusTicketKf<=1" type="button" class="btn btn-sm btn-success">{{tk.statusName}}</button>
                        <button ng-show="tk.isCancelTicket<=0" ng-disabled="tk.idStatusTicketKf<=1" type="button" class="btn btn-sm btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span  class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul ng-if="tk.idStatusTicketKf>=2"  class="dropdown-menu">
                            <li><a ng-click="cancelTicket(tk.idTicket)">Cancelar</a></li>
                        </ul>
                        </div>
                    </div>    -->          
            </div>
        </div>
</div>
    
    
   