
Frond/Modules/menu\.html

DB/db_coferba_old\.sql

Frond/Modules/controllers/coferbaConnect\.js

Frond/Modules/controllers/coferbaCtrlforgotPwd\.js

Frond/Modules/controllers/coferbaCtrlLogin\.js

Frond/Modules/controllers/coferbaCtrlRegister\.js

Frond/Modules/controllers/coferbaCtrlTenant\.js

Frond/Modules/css/angular-block-ui\.css

Frond/Modules/css/angular-inform\.min\.css

Frond/Modules/css/animate\.min\.css

Frond/Modules/css/bootstrap_system\.css

Frond/Modules/css/bootstrap\.css

Frond/Modules/css/bootstrap\.min\.css

Frond/Modules/css/fa\.min\.css

Frond/Modules/css/flexslider\.css

Frond/Modules/css/font-awesome\.css

Frond/Modules/css/font-awesome\.min\.css

Frond/Modules/css/jquery\.dataTables\.min\.css

Frond/Modules/css/style-init\.css

Frond/Modules/css/style\.css

Frond/Modules/fonts/fa-webfont\.woff

Frond/Modules/fonts/flexslider-icon\.eot

Frond/Modules/fonts/flexslider-icon\.svg

Frond/Modules/fonts/flexslider-icon\.ttf

Frond/Modules/fonts/flexslider-icon\.woff

Frond/Modules/fonts/fontawesome-webfont\.eot

Frond/Modules/fonts/fontawesome-webfont\.svg

Frond/Modules/fonts/fontawesome-webfont\.ttf

Frond/Modules/fonts/fontawesome-webfont\.woff

Frond/Modules/fonts/fontawesome-webfont\.woff2

Frond/Modules/fonts/FontAwesome\.otf

Frond/Modules/fonts/glyphicons-halflings-regular\.woff

Frond/Modules/fonts/glyphicons-halflings-regular\.woff2

Frond/Modules/fonts/opensans-regular-webfont\.woff

Frond/Modules/fonts/opensans-semibold-webfont\.woff

Frond/Modules/index\.html

Frond/Modules/js/angular-animate\.min\.js

Frond/Modules/js/angular-block-ui\.js

Frond/Modules/js/angular-inform\.min\.js

Frond/Modules/js/angular-material\.min\.js

Frond/Modules/js/angular-route\.min\.js

Frond/Modules/js/angular-showdown\.js

Frond/Modules/js/angular\.js

Frond/Modules/js/bootstrap\.min\.js

Frond/Modules/js/bootstrapvalidator\.min\.js

Frond/Modules/js/coferbaAngularApp\.js

Frond/Modules/js/coferbaConnect_web\.js

Frond/Modules/js/coferbaConnect\.js

Frond/Modules/js/coferbaCtrlLogin\.js

Frond/Modules/js/coferbaJsFunctions\.js

Frond/Modules/js/coferbaJsLogin\.js

Frond/Modules/js/easing\.js

Frond/Modules/js/index\.html

Frond/Modules/js/inputMask\.js

Frond/Modules/js/jquery\.min\.js

Frond/Modules/js/jsf\.js\.xhtml

Frond/Modules/js/loginService\.js

Frond/Modules/js/ui-bootstrap\.js

Frond/Modules/js/underscore-min\.js

Frond/Modules/views/forgotpwd/forgotpwd\.html

Frond/Modules/views/login/login\.html

Frond/Modules/views/login/style-login\.css

Frond/Modules/views/nologinuser/nologinsystem\.css

Frond/Modules/views/nologinuser/nologinsystem\.html

Frond/Modules/views/register/register\.html

Frond/Modules/views/register/style-register\.css

db_coferba_old2\.sql
