
<div class="container">
	<div class="registerForm" ng-init="launchLoader();">
	  	<div ng-if="!redirectSuccessfull" class="panel panel-default panel-primary">
	      	<div class="panel-heading">
	      		<a href="#/login" class="close"><span aria-hidden="true"><i alt="Cerrar" class="glyphicon glyphicon-remove-sign"> </i></span><span class="sr-only">Close</span></a>
	        	<h3 class="modal-title">NUEVO USUARIO</h3>
	    	</div>
			<div class="panel-body" ng-init="fnLoadPhoneMask();">
				<!-- FORM CONTAINER-->
				<form class="form-horizontal" name="fNewUser" autocomplete="off" role="form" ng-init="CallFilterFormU(); CallFilterFormT(); getTypeAttendant();" novalidate>
 												<!-- Select profile -->					  
						<div class="form-group col-md-12" ng-class="{'has-error': fNewUser.idProfileKf.$dirty && fNewUser.idProfileKf.$invalid, 'has-error': fNewUser.idProfileKf.$invalid && !fNewUser.idProfileKf.$pristine}">
						    	<div class="inner-addon right-addon">
						    		<select name="idProfileKf" class="form-input" ng-blur="inputCheckCss('idProfileKf', 's');"  ng-options="item.idProfile as item.nameProfile for item in listProfile" ng-model="$parent.idProfileKf"  required autofocus />
									<label>Perfil</label> 
									<span class="bar"></span>
						    	</div>
						</div> 
						<!-- Form First Name -->
						<div class="form-group col-md-6" ng-class="{'has-error': fNewUser.fname.$dirty && fNewUser.fname.$invalid, 'has-error': fNewUser.fname.$invalid && !fNewUser.fname.$pristine}">
						  	<div class="inner-addon right-addon">
							  	<input  name="fname" autofocus="true" class="form-input" ng-blur="inputCheckCss('fname', 'i');" ng-model="fname"  type="text" required autofocus/>
							  	<label>Nombre</label>  
					  			<i ng-show="fNewUser.fname.$valid && !fNewUser.fname.$pristine" class="glyphicon glyphicon-user"></i>
						  		<i ng-show="fNewUser.fname.$invalid && !fNewUser.fname.$dirty" class="glyphicon glyphicon-user"></i>
						  		<i style="color: red;" ng-show="fNewUser.fname.$invalid && !fNewUser.fname.$pristine" class="glyphicon glyphicon-remove"></i>
						  		<span class="bar"></span>
						  	</div>
						</div>
						<!-- Form Last Name -->
						<div class="form-group col-md-6" ng-class="{'has-error': fNewUser.lname.$dirty && fNewUser.lname.$invalid, 'has-error': fNewUser.lname.$invalid && !fNewUser.lname.$pristine}">
							<div class="inner-addon right-addon">
						  		<input name="lname" class="form-input" ng-blur="inputCheckCss('lname', 'i');" ng-model="lname" type="text" required autofocus />
						  		<label >Apellido</label> 
						  		<i ng-show="fNewUser.lname.$valid && !fNewUser.lname.$pristine" class="glyphicon glyphicon-user"></i>
						  		<i ng-show="fNewUser.lname.$invalid && !fNewUser.lname.$dirty" class="glyphicon glyphicon-user"></i>
						  		<i style="color: red;" ng-show="fNewUser.lname.$invalid && !fNewUser.lname.$pristine" class="glyphicon glyphicon-remove"></i>
								<span class="bar"></span>
							</div>
						</div>
						<!-- Text Mail-->
						<div class="form-group col-lg-12" ng-class="{'has-error': fNewUser.emailUser.$dirty && fNewUser.emailUser.$invalid}">
						    <div class="inner-addon right-addon">
						  		<input  name="emailUser" class="form-input" ng-blur="inputCheckCss('emailUser', 'i');" ng-model="$parent.emailUser"  type="email" required autofocus />
						  		<label>E-Mail</label> 
						  		<i class="glyphicon glyphicon-envelope"></i>
						  		<span class="bar"></span>
						    </div>
						</div>
						<!-- Text Password-->
						<div class="form-group col-md-6 " ng-class="{'has-error': fNewUser.password1.$dirty && fNewUser.password1.$invalid, 'has-success':fNewUser.password2.$dirty && fNewUser.password2.$valid}">
						    <div class="inner-addon right-addon">
						  		<input id="password1" name="password1" aria-describedby="passwordHelpBlock1" class="form-input" ng-blur="inputCheckCss('password1', 'i');" ng-model="password1" ng-minlength="8" type="password" password-confirm match-target="password2" required autofocus />
						  		<label>Contrase&#241a</label> 
						  		<i class="glyphicon glyphicon-lock"></i>
								<span class="bar"></span>
						    </div>
						    <small id="passwordHelpBlock1" class="form-text text-muted">
								<span ng-if="!password1 && !fNewUser.password1.$error.minlength" class="text-info">La clave debe contener minimo 8 caracteres alfanumericos.</span> 
								<span class="bg-warning" ng-if="fNewUser.password1.$error.minlength">Su clave no cumple con el minimo requerido</span>
								<span class="bg-success" ng-if="password1 && !fNewUser.password1.$error.minlength && fNewUser.password2.$error.match">Confirma la clave en el proximo campo</span>
								<span ng-if="fNewUser.password1.$valid && fNewUser.password2.$valid"><i class="glyphicon glyphicon-ok"></i></span>
							</small>
						</div>
						<!-- Text Password Check-->
						<div class="form-group col-md-6 " ng-class="{'has-error':fNewUser.password1.$dirty && fNewUser.password1.$invalid, 'has-success':fNewUser.password1.$valid}">
						    <div class="inner-addon right-addon">
						  		<input id="password2" name="password2" aria-describedby="passwordHelpBlock2" class="form-input" ng-blur="inputCheckCss('password2', 'i');" ng-minlength="8" ng-model="password2" type="password" password-confirm match-target="password1"  required autofocus />
						  		<label>Confirme su Contrase&#241a</label> 
						  		<i class="glyphicon glyphicon-lock"></i>
						  		<span class="bar"></span>
						    </div>
						    <small  id="passwordHelpBlock2" class="form-text text-muted">
									<span ng-if="!password2 && !fNewUser.password2.$error.minlength" class="text-info">La clave debe contener minimo 8 caracteres alfanumericos.</span> 
									<span class="bg-warning" ng-if="fNewUser.password2.$error.minlength">Su clave no cumple con el minimo requerido</span>
									<span ng-if="fNewUser.password1.$valid && fNewUser.password2.$valid"><i class="glyphicon glyphicon-ok"></i></span>
								<span class="bg-danger" ng-show="fNewUser.password2.$error.match && !fNewUser.password2.$error.minlength && password2">Las claves no coinciden, por favor verificar.</span>
							</small>
						</div>
						<!-- Text Phone-->						       
						<div class="form-group col-md-6">
						    <div class="inner-addon right-addon">
						  		<input name="phoneLocal" class="form-input input--tel" ng-blur="inputCheckCss('phoneLocal', 'i');" ng-model="$parent.phonelocalNumberUser"  type="text" autofocus />
						  		<label>Telefono Fijo</label>  
						  		<i class="glyphicon glyphicon-earphone"></i>
						  		<span class="bar"></span>	
						    </div>
						</div>
						<!-- Text Phone-->						       
						<div class="form-group col-md-6">
						   
							    <div class="inner-addon right-addon">
							  		<input name="phoneMovil" class="form-input input--tel" ng-blur="inputCheckCss('phoneMovil', 'i');" ng-model="phoneNumberUser" ng-minlength="20" ng-maxlength="20"  type="text" required autofocus />
							  		<label>Telefono Movil</label> 
							  		<i class="glyphicon glyphicon-phone"></i>
							  		<span class="bar"></span>	
							    </div>
						</div>
			</div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <button type="submit" ng-click="sysRegisterFn()" ng-disabled="fNewUser.$invalid" class="btn btn-labeled btn-success">
                            <span class="btn-label"><i class="glyphicon glyphicon-send"></i></span> Enviar</button>
                        <a href="#/login" type="button" class="btn btn-labeled btn-danger">
                            <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span> Cancel</a>
                    </div>
                </div>
            </div>
    	</form>	
        </div>
		<div class="successRegister" ng-if="redirectSuccessfull">
			<div class="col-md-12">
				<div ng-click="sysConfig('att','dash')" class="hero-widget alert well-sm alert-success">
    				<div class="icon">
         				<i class="glyphicon glyphicon-ok"></i>
    				</div>
	    			<div class="text">
	        			<h2 class="text-success">Registro Satisfactorio</h2>
	    			</div>
				<div class="options">
	    			<p data-toggle="tooltip" data-placement="bottom" title="{{time2Redirect+1}}" class="btn btn-primary btn-sm">Redireccionando en <span class="badge badge-light"> {{time2Redirect+1}}</span></p>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>
