
<div class="container">
	<div class="registerForm">
	  	<div ng-if="!redirectSuccessfull" class="panel panel-default panel-primary">
	      	<div class="panel-heading">
	      		<a href="#/login" class="close"><span aria-hidden="true"><i alt="Cerrar" class="glyphicon glyphicon-remove-sign"> </i></span><span class="sr-only">Close</span></a>
	        	<h3 class="modal-title">NUEVO USUARIO</h3>
	    	</div>
			<div class="panel-body" ng-init="fnLoadPhoneMask();">
				<!-- FORM CONTAINER -->
				<form class="form-horizontal" name="fNewUser" autocomplete="off" role="form" ng-init="CallFilterFormU(); CallFilterFormT(); getTypeAttendant(); getAllAddress();" novalidate>
						<!-- Select profile -->					  
						<div class="form-group col-md-12" ng-class="{'has-error': fNewUser.idProfileKf.$dirty && fNewUser.idProfileKf.$invalid, 'has-error': fNewUser.idProfileKf.$invalid && !fNewUser.idProfileKf.$pristine}">
					    	<div class="inner-addon right-addon">
					    		<select id="idProfileKf" name="idProfileKf" class="form-input" ng-blur="inputCheckCss('idProfileKf', 's');" ng-change="register.idTypeAttKf=null; register.idCompanyKf=null; selectIdAddressKf.selected=undefined; register.idDepartmentKf=null; modalConfirmation();"  ng-options="item.idProfile as item.nameProfile for item in listProfile | filter:filterProfileUser " ng-model="register.idProfileKf"  required autofocus />
								<label>Perfil</label> 
								<span class="bar"></span>
					    	</div>
						</div>
						<!-- Select Company -->					  
						<div ng-if="register.idProfileKf==2 || register.idProfileKf==4" class="form-group col-md-12" ng-class="{'has-error': fNewUser.idCompanyKf.$dirty && fNewUser.idCompanyKf.$invalid, 'has-error': fNewUser.idCompanyKf.$invalid && !fNewUser.idCompanyKf.$pristine}">
					    	<div class="inner-addon right-addon">
					    		<select name="idCompanyKf" class="form-input" ng-blur="inputCheckCss('idCompanyKf', 's');" ng-change="register.idTypeAttKf=null;"  ng-options="item.idCompany as item.nameCompany for item in listCompany" ng-model="register.idCompanyKf"  ng-required="register.idProfileKf==2 || register.idProfileKf==4" autofocus />
								<label>Empresa</label> 
								<span class="bar"></span>
					    	</div>
						</div>
						<!-- Select Type of Attendant -->					  
						<div ng-if="register.idProfileKf==6" class="form-group "  ng-class="!register.idTypeAttKf ? 'col-md-12' : 'col-md-6' " ng-class="{'has-error': fNewUser.idTypeAttKf.$dirty && fNewUser.idTypeAttKf.$invalid, 'has-error': fNewUser.idTypeAttKf.$invalid && !fNewUser.idTypeAttKf.$pristine}">
					    	<div class="inner-addon right-addon">
					    		<select name="idTypeAttKf" class="form-input" ng-blur="inputCheckCss('idTypeAttKf', 's');"  ng-options="item.idTyepeAttendant as item.nameTypeAttendant for item in listTypeAttendant | filter:hideTypeAttendant()" ng-change="register.idDepartmentKf=null; register.password1=null; register.password2=null;" ng-model="register.idTypeAttKf" ng-required="register.idProfileKf==6" autofocus />
								<label>Tipo de Encargado</label> 
								<span class="bar"></span>
					    	</div>
						</div>
						<!-- Select Attendant Address-->					  
						<!--<div ng-if="(register.idProfileKf==3 || register.idProfileKf==5) || (register.idProfileKf==6 && register.idTypeAttKf)" class="form-group col-md-6"   ng-class="{'has-error': fNewUser.idAddrAttKf.$dirty && fNewUser.idAddrAttKf.$invalid, 'has-error': fNewUser.idAddrAttKf.$invalid && !fNewUser.idAddrAttKf.$pristine}">
					    	<div class="form-input inner-addon right-addon">
					    		<ui-select id="idAddressKf" class="input-temp" theme="selectize" ng-required="((register.idProfileKf==3 || register.idProfileKf==5) && !register.idTypeAttKf)||(register.idProfileKf==6 && register.idTypeAttKf==2)" ng-change="getDeptoListByAddress(selectIdAddressKf.selected.idAdress); register.idDepartmentKf=null; ListDpto=''; inputCheckCss('idAddressKf', 'ui'); ownerFound=false;" ng-required="(register.idProfileKf==3 || register.idProfileKf==5) || (register.idProfileKf==6 && register.idTypeAttKf)" autofocus ng-model="selectIdAddressKf.selected" theme="bootstrap" autofocus>
		                          <ui-select-match>{{$select.selected.nameAdress}}</ui-select-match>
		                            <ui-select-choices repeat="item in ListAddress | filter: $select.search">
		                              <div id="idAddressKf" ng-bind-html="item.nameAdress | highlight: $select.search"></div>
		                            </ui-select-choices>
		                            <ui-select-no-choice>
									    No hay resultados, contacte are de soporte.
								  	</ui-select-no-choice>
		                        </ui-select>
		                        <label>Direcci&#243n</label> 
		                        <span class="bar"></span>
					    	</div>
						</div>-->
						<!-- Form Input Address -->
						<div ng-if="(register.idProfileKf==3 || register.idProfileKf==5) || (register.idProfileKf==6 && register.idTypeAttKf)" class="form-group col-md-6"   ng-class="{'has-error': fNewUser.idAddrAttKf.$dirty && fNewUser.idAddrAttKf.$invalid, 'has-error': fNewUser.idAddrAttKf.$invalid && !fNewUser.idAddrAttKf.$pristine}">
						  	<div class="inner-addon right-addon">
							  	<input id="idAddrAttKf" name="idAddrAttKf" readonly="true" value="{{register.idAddrName}}" class="form-input" ng-blur="inputCheckCss('idAddrAttKf', 'i');" type="text" required autofocus/>
							  	<label>Direcci&#243n</label>  
					  			<i ng-show="fNewUser.idAddrAttKf.$valid && !fNewUser.idAddrAttKf.$pristine" class="glyphicon icon-building"></i>
						  		<i ng-show="fNewUser.idAddrAttKf.$invalid && !fNewUser.idAddrAttKf.$dirty" class="glyphicon icon-building"></i>
						  		<i style="color: red;" ng-show="fNewUser.idAddrAttKf.$invalid && !fNewUser.idAddrAttKf.$pristine" class="glyphicon glyphicon-remove"></i>
						  		<span class="bar"></span>
						  	</div>
						</div>
						<!-- Select Department -->
						<div ng-if="((register.idProfileKf==3 || register.idProfileKf==5) && !register.idTypeAttKf)||(register.idProfileKf==6 && register.idTypeAttKf==2)" class="form-group" ng-class="(register.idTypeAttKf!=1 && register.idTypeAttKf!=2) || (register.idTypeAttKf==0)  ? 'col-md-6' : 'col-md-3' " ng-class="{'has-error': fNewUser.idDepartmentKf.$dirty && fNewUser.idDepartmentKf.$invalid, 'has-error': fNewUser.idDepartmentKf.$invalid && !fNewUser.idDepartmentKf.$pristine}">
				  		 	<div class="inner-addon right-addon">
					    		<select id="idDepartmentKf" name="idDepartmentKf" ng-change="deptoHasOwner(register.idDepartmentKf)" class="form-input" ng-blur="deptoHasOwner(register.idDepartmentKf); inputCheckCss('idDepartmentKf', 's');" ng-options="item.idDepartment as item.departmentFloor for item in ListDpto | filter:hideDeptoByProfile()" ng-model="register.idDepartmentKf" ng-required="((register.idProfileKf==3 || register.idProfileKf==5) && !register.idTypeAttKf)||(register.idProfileKf==6 && register.idTypeAttKf==2)" autofocus >
						    		<option value=""></option>
						    	</select>
								<label>Departamento</label> 
								<span class="bar"></span>
					    	</div>
							<!--<div ng-if="ownerFound && sessionidProfile!=0" class="alert alert-warning" role="alert">
			            		<strong><i class="fas fa-exclamation-triangle">&nbsp </i>ATENCION: </strong>Departamento no disponible, contacte con el administrador.
			        		</div>-->
						</div>
	
						<!-- Other Attendant Type Functions -->
						<div ng-if="register.idProfileKf==6 && register.idTypeAttKf==1" class="form-group col-md-3" ng-class="{'has-error': fNewUser.typeOtherAtt.$dirty && fNewUser.typeOtherAtt.$invalid, 'has-error': fNewUser.typeOtherAtt.$invalid && !fNewUser.typeOtherAtt.$pristine}">
						  	<div  class="inner-addon right-addon">
							  	<input  name="typeOtherAtt" autofocus="true" class="form-input" ng-blur="inputCheckCss('typeOtherAtt', 'i');" ng-model="register.typeOtherAtt"  type="text" ng-required="register.idProfileKf==6 && register.idTypeAttKf==1" autofocus/>
							  	<label>Funcion</label>  
					  			<i ng-show="fNewUser.typeOtherAtt.$valid && !fNewUser.typeOtherAtt.$pristine" class="glyphicon glyphicon-user"></i>
						  		<i ng-show="fNewUser.typeOtherAtt.$invalid && !fNewUser.typeOtherAtt.$dirty" class="glyphicon glyphicon-user"></i>
						  		<i style="color: red;" ng-show="fNewUser.typeOtherAtt.$invalid && !fNewUser.typeOtherAtt.$pristine" class="glyphicon glyphicon-remove"></i>
						  		<span class="bar"></span>
						  	</div>
						</div> 
						<!-- Form First Name -->
						<div class="form-group col-md-6" ng-class="{'has-error': fNewUser.fname.$dirty && fNewUser.fname.$invalid, 'has-error': fNewUser.fname.$invalid && !fNewUser.fname.$pristine}">
						  	<div class="inner-addon right-addon">
							  	<input  name="fname" ng-minlength="3" class="form-input" ng-blur="inputCheckCss('fname', 'i');" ng-model="register.fname"  type="text" required autofocus/>
							  	<label>Nombre</label>  
					  			<i ng-show="fNewUser.fname.$valid && !fNewUser.fname.$pristine" class="glyphicon glyphicon-user"></i>
						  		<i ng-show="fNewUser.fname.$invalid && !fNewUser.fname.$dirty" class="glyphicon glyphicon-user"></i>
						  		<i style="color: red;" ng-show="fNewUser.fname.$invalid && !fNewUser.fname.$pristine" class="glyphicon glyphicon-remove"></i>
						  		<span class="bar"></span>
						  	</div>
						</div>
						<!-- Form Last Name -->
						<div class="form-group col-md-6" ng-class="{'has-error': fNewUser.lname.$dirty && fNewUser.lname.$invalid, 'has-error': fNewUser.lname.$invalid && !fNewUser.lname.$pristine}">
							<div class="inner-addon right-addon">
						  		<input name="lname" class="form-input" ng-minlength="3" ng-blur="inputCheckCss('lname', 'i');" ng-model="register.lname" type="text" required autofocus />
						  		<label >Apellido</label> 
						  		<i ng-show="fNewUser.lname.$valid && !fNewUser.lname.$pristine" class="glyphicon glyphicon-user"></i>
						  		<i ng-show="fNewUser.lname.$invalid && !fNewUser.lname.$dirty" class="glyphicon glyphicon-user"></i>
						  		<i style="color: red;" ng-show="fNewUser.lname.$invalid && !fNewUser.lname.$pristine" class="glyphicon glyphicon-remove"></i>
								<span class="bar"></span>
							</div>
						</div>
						<!-- Text Mail-->
						<div class="form-group col-lg-12" ng-class="{'has-error': fNewUser.emailUser.$dirty && fNewUser.emailUser.$invalid}">
						    <div class="inner-addon right-addon">
						  		<input id="emailRegister"  name="emailUser" value="{{register.email}}" class="form-input" ng-blur="inputCheckCss('emailUser', 'i'); sysCheckEmail();" ng-model="register.email"  type="email" required autofocus autocomplete="off" />
						  		<label>E-Mail</label> 
						  		<i class="glyphicon glyphicon-envelope"></i>
						  		<span class="bar"></span>
						    </div><br>
							<div ng-if="sysEmailRegistered && sessionidProfile!=0" class="alert alert-danger" role="alert">
			            		<strong><i class="fas fa-ban">&nbsp </i>ATENCION: </strong>la direccion de correo ingresada se encuentra registrada. Si no recuerda su clave puede recuperarla haciendo <strong><a href="#/forgotpwd"> click aqui</a></strong>.
		            		  	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
  								</button>
			        		</div>
						</div>
						<!-- Text Password--><!--
						<div ng-if="(register.idProfileKf!=6 && !register.idTypeAttKf) || (register.idProfileKf==6 && register.idTypeAttKf==2) " class="form-group col-md-6 " ng-class="{'has-error': fNewUser.password1.$dirty && fNewUser.password1.$invalid, 'has-success':fNewUser.password2.$dirty && fNewUser.password2.$valid}">
						    <div class="inner-addon right-addon">
						  		<input id="password1" name="password1" aria-describedby="passwordHelpBlock1" class="form-input" ng-blur="inputCheckCss('password1', 'i');" ng-model="register.password1" ng-minlength="8" type="password" password-confirm match-target="register.password2" ng-required="(register.idProfileKf!=6 && !register.idTypeAttKf) || (register.idProfileKf==6 && register.idTypeAttKf==2)" autofocus />
						  		<label>Contrase&#241a</label> 
						  		<i ng-show="(fNewUser.password1.$pristine && !fNewUser.password1.$dirty) || (fNewUser.password1.$valid && fNewUser.password1.$dirty && !fNewUser.password1.$valid.minlength && !fNewUser.password2.$valid)" class="glyphicon glyphicon-lock"></i>
						  		<i style="color: red;" ng-if="fNewUser.password1.$invalid && fNewUser.password1.$dirty && fNewUser.password1.$error.minlength" class="glyphicon glyphicon-lock"></i>
						  		<i ng-if="fNewUser.password1.$dirty && fNewUser.password1.$invalid && !fNewUser.password1.$error.minlength" class="glyphicon glyphicon-ok"></i>
						  		<i style="color: green;" ng-if="fNewUser.password1.$valid && fNewUser.password2.$valid" class="glyphicon glyphicon-ok"></i>
								<span class="bar"></span>
						    </div>
						    <small id="passwordHelpBlock1" class="form-text text-muted">
								<span ng-if="!register.password1 && !fNewUser.password1.$error.minlength" class="text-info">La clave debe contener minimo 8 caracteres alfanumericos.</span> 
								<span class="bg-warning" ng-if="fNewUser.password1.$error.minlength">Su clave no cumple con el minimo requerido</span>
								<span class="bg-success" ng-if="password1 && !fNewUser.password1.$error.minlength && fNewUser.password2.$error.match">Confirma la clave en el proximo campo</span>
								<span ></span>
							</small>
						</div>-->
						<!-- Text Password Check--><!--
						<div ng-if="(register.idProfileKf!=6 && !register.idTypeAttKf) || (register.idProfileKf==6 && register.idTypeAttKf==2) " class="form-group col-md-6 " ng-class="{'has-error':fNewUser.password1.$dirty && fNewUser.password1.$invalid, 'has-success':fNewUser.password1.$valid}">
						    <div class="inner-addon right-addon">
						  		<input id="password2" name="password2" aria-describedby="passwordHelpBlock2" class="form-input" ng-blur="inputCheckCss('password2', 'i');" ng-minlength="8" ng-model="register.password2" type="password" password-confirm match-target="register.password1" ng-required="(register.idProfileKf!=6 && !register.idTypeAttKf) || (register.idProfileKf==6 && register.idTypeAttKf==2)" autofocus />
						  		<label>Confirme su Contrase&#241a</label> 
						  		<i ng-show="(fNewUser.password2.$pristine && !fNewUser.password2.$dirty) || (fNewUser.password2.$invalid.match && fNewUser.password2.$dirty && !fNewUser.password2.$valid.minlength && !fNewUser.password1.$valid)" class="glyphicon glyphicon-lock"></i>
						  		<i style="color: red;" ng-if="fNewUser.password2.$invalid && fNewUser.password2.$dirty && fNewUser.password2.$error.minlength" class="glyphicon glyphicon-lock"></i>
						  		<i ng-if="fNewUser.password2.$dirty && fNewUser.password2.$invalid && !fNewUser.password2.$error.minlength" class="glyphicon glyphicon-ok"></i>
						  		<i style="color: green;" ng-if="fNewUser.password1.$valid && fNewUser.password2.$valid" class="glyphicon glyphicon-ok"></i>
						  		<span class="bar"></span>
						    </div>
						    <small  id="passwordHelpBlock2" class="form-text text-muted">
								<span ng-if="!register.password2 && !fNewUser.password2.$error.minlength" class="text-info">La clave debe contener minimo 8 caracteres alfanumericos.</span> 
								<span class="bg-warning" ng-if="fNewUser.password2.$error.minlength">Su clave no cumple con el minimo requerido</span>
								<span class="bg-danger" ng-show="fNewUser.password2.$error.match && !fNewUser.password2.$error.minlength && register.password2">Las claves no coinciden, por favor verificar.</span>
							</small>
						</div>-->
						<!-- Text Phone-->						       
						<div class="form-group col-md-6 " ng-class="{'has-error':fNewUser.phoneLocal.$dirty && fNewUser.phoneLocal.$invalid, 'has-success':fNewUser.phoneLocal.$valid}">
						    <div class="inner-addon right-addon">
						  		<input name="phoneLocal" ng-minlength="8" class="form-input input--local" ng-blur="inputCheckCss('phoneLocal', 'i');" ng-model="register.phonelocalNumberUser" type="text" autofocus ng-required="register.phoneMovilNumberUser==''" />
						  		<label>Telefono Fijo</label>  
						  		<i class="glyphicon glyphicon-earphone"></i>
						  		<span class="bar"></span>	
						    </div>
						</div>
						<!-- Text Phone-->						       
						<div class="form-group col-md-6 " ng-class="{'has-error':fNewUser.phoneMovil.$dirty && fNewUser.phoneMovil.$invalid, 'has-success':fNewUser.phoneMovil.$valid}">
						    <div class="inner-addon right-addon">
						  		<input name="phoneMovil" ng-minlength="8" class="form-input input--movil" ng-blur="inputCheckCss('phoneMovil', 'i');" ng-model="register.phoneMovilNumberUser"  type="text" ng-required="register.phonelocalNumberUser==''" autofocus />
						  		<label>Telefono Movil</label> 
						  		<i class="glyphicon glyphicon-phone"></i>
						  		<span class="bar"></span>	
						    </div>
						</div>
			</div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <button type="submit" ng-click="sysRegisterFn()" ng-disabled="fNewUser.$invalid" class="btn btn-labeled btn-success">
                            <span class="btn-label"><i class="glyphicon glyphicon-send"></i></span> Enviar</button>
                        <a href="#/login" type="button" class="btn btn-labeled btn-danger">
                            <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span> Cancelar</a>
                    </div>
                </div>
            </div>
    	</form>	
        </div>
		<div class="successRegister" ng-if="redirectSuccessfull">
			<div class="col-md-12">
				<div class="hero-widget alert well-sm alert-success">
    				<div class="icon">
         				<i class="glyphicon glyphicon-ok"></i>
    				</div>
	    			<div class="text">
	        			<h2 class="text-success">Registro Satisfactorio</h2>
	    			</div>
				<div class="options">
	    			<p data-toggle="tooltip" data-placement="bottom" title="{{time2Redirect+1}}" class="btn btn-primary btn-sm">Redireccionando en <span class="badge badge-light"> {{time2Redirect+1}}</span></p>
				</div>
				</div>
			</div>
		</div>
	</div>
<!-- Modal Confirmation -->
<div class="modal fade" id="confirmCodeModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">Soporte coferba </h5>
      </div>
      <div class="modal-body">
			<form name="frmSecCode" class="form-horizontal" autocomplete="off" role="form" novalidate>
				<div class="form-group" ng-class="{'has-error': frmSecCode.checkCode.$dirty && frmSecCode.checkCode.$invalid}">
					<div class="col-md-12">
						<div class="inner-addon right-addon">
					  		<input id="checkCode" name="checkCode" class="form-input" ng-blur="inputCheckCss('checkCode', 'i');" ng-model="register.securityCode" type="password" required autofocus />
					  		<label>Codigo de Validacion</label> 
					  		<i class="glyphicon glyphicon-lock"></i>
							<span class="bar"></span>
					    </div>
		  			</div>
				</div>
	        </form>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="sysCheckCode()" class="btn btn-success">Validar</button>
      </div>
    </div>
  </div>
</div>
<!-- //Modal Confirmation -->
</div>


