<div class="row">
	<!--SIDEBAR MENU -->
    <div class="col-sm-3 col-md-2">
        <div class="nav-side-menu">
        	<i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
            <div class="menu-list">      
                <ul id="menu-content" class="menu-content collapse out">
                    <li ng-click="sysConfig('sys','dash')">
                      <a href="">
                      <i class="fas fa-sitemap fa-lg"></i> Dashboard
                      </a>
                    </li>
    
                    <li  data-toggle="collapse" data-target="#accounts" >
                      <a href=""><i class="fa fa-users fa-lg"></i> Cuentas <span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="accounts">
                        <li ng-click="sysConfig('user','dash')"><a href="">Usuarios</a></li>
                        <li ng-click="sysConfig('att','dash')"><a href="">Encargados</a></li>
                        <li ng-click="sysConfig('tenant','dash')"><a href="">Habitantes</a></li>
                    </ul>
    
    
                    <li data-toggle="collapse" data-target="#service" class="collapsed">
                      <a href=""><i class="fa fa-globe fa-lg"></i> Servicios <span class="arrow"></span></a>
                    </li>  
                    <ul class="sub-menu collapse" id="service">
                      <li ng-click="sysConfig('smtp', 'open')">SMTP Mail</li>
                      <li ng-click="sysConfig('mails', 'open')">Correos Alternos</li>
                      <li ng-click="sysConfig('services', 'open')">Costos de Gestion</li>
                    </ul>
    
    
                    <li data-toggle="collapse" data-target="#report" class="collapsed">
                      <a href=""><i class="fa fa-bar-chart fa-lg"></i> Reportes <span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="new">
                      <li></li>
                      <li>New Report</li>
                    </ul>
                </ul>
         	</div>
    	</div>
    </div>
    <!-- CONTENT -->
    <div style="background-color: white;" class=" sys_content col-sm-9 col-md-10">
		<div class="">
			<h3 style="color: black;">&nbsp <span class="glyphicon icon-cogs icon-2x"></span> Administracion del Sistema &nbsp <span style="cursor: pointer;" data-toggle="tooltip" data-placement="right" title="Volver al dashboard" ng-if="sysContent=='user' || sysContent=='tenant' || sysContent=='att' || sysContent=='company'" ng-click="sysConfig('sys','dash')" ><i class="glyphicon glyphicon-share-alt"></i></span></h3> 
		</div>
		<div ng-if="sysContent=='user' || sysContent=='tenant' || sysContent=='att' || sysContent=='company'" class="pull-left col-md-12">
		    <div  class="panel panel-default">
		        <div class="panel-heading">
		          <h3 ng-if="sysContent=='user'" class="panel-title">USUARIOS</h3>
		          <h3 ng-if="sysContent=='tenant'" class="panel-title">HABITANTES</h3>
		          <h3 ng-if="sysContent=='att'" class="panel-title">ENCARGADOS</h3>
		          <h3 ng-if="sysContent=='company'" class="panel-title">EMPRESAS</h3>
		        </div>
		          	<div class="panel-body">
			          	<!-- ROW WITH THE FILTERS USED TO DISPLAY DATA IN THE TABLE -->
			            <div  class="row">
			                <!-- Filter Type of User For Admins -->
			                <div ng-if="sysContent=='user'" class="form-group col-md-6">
		                          <label ng-if="sysContent=='user'" style="padding-left: 15px;">Tipo de Usuarios</label>
		                            <div class="col-xs-12 selectContainer">
		                              <div class="input-group">
		                                    <span class="input-group-addon"><i class="glyphicon glyphicon-tags"></i></span>
		                                    <select  name="filterUserProfile" ng-change="search(filterUserProfile.nameProfile, true)" ng-options="item.nameProfile for item in listProfile" class="form-control" ng-model="$parent.filterUserProfile" >
		                                      <option value="" >Todos</option>
		                                    </select>

		                              </div>
		                            </div>
		                    </div>
		                    <!-- Filter Type of Tenant For Admins -->
			                <div ng-if="sysContent=='tenant'" class="form-group col-md-6">
		                          <label style="padding-left: 15px;">Tipo de Habitante</label>
		                            <div class="col-xs-12 selectContainer">
		                              <div class="input-group">
		                                    <span class="input-group-addon"><i class="glyphicon glyphicon-tags"></i></span>
		                                    <select  name="filterTenantProfile" ng-change="search(filterTenantProfile.typeTenantName, true)" ng-options="item.typeTenantName for item in lisTypeTenant" class="form-control" ng-model="$parent.filterTenantProfile" >
                                                <option value="" >Todos</option>
		                                    </select>

		                              </div>
		                            </div>
		                    </div>
		                    <!-- Company Name-->    
			              	<div ng-if="sysContent=='att' || sysContent=='company'" class="form-group" ng-class="sysContent=='company'? 'col-md-4':'col-md-6'">
				                <label ng-if="sysContent=='att'" style="padding-left: 15px;">Administracion</label>
				                <label ng-if="sysContent=='company'" style="padding-left: 15px;">Empresas</label>
			                  	<div class="col-xs-12">
				                    <div class="input-group">
				                      <span class="input-group-addon"><i class="icon-suitcase"></i></span>
				                        <ui-select class="dropdown-select" ng-model="$parent.filterCompanyKf.selected" ng-change="search(filterCompanyKf.selected.nameCompany, true); officeListByCompnayID(filterCompanyKf.selected.idCompany);" on-select="onSelectCallback()">
				                          <ui-select-match allow-clear="true" placeholder="Todos" >{{$select.selected.nameCompany}}</ui-select-match>
				                            <ui-select-choices repeat="item in listCompany | filter: $select.search">
				                              <div ng-bind-html="item.nameCompany | highlight: $select.search"></div>
				                                <small ng-bind-html="item.mail_admin | highlight: $select.search"></small>
				                            </ui-select-choices>
				                            <ui-select-no-choice>
											    No hay resultados, contacte area de soporte.
										  	</ui-select-no-choice>
				                        </ui-select>
				                    </div>
			                  	</div>
			              	</div>
							<!-- Address for Admins Consorcios-->      
				            <div class="form-group col-md-6" ng-if="sysContent=='att'">
				                <label style="padding-left: 15px;">Direcci&#243n del Consorcio</label>
			                  	<div class="col-xs-12">
				                    <div class="input-group">
				                      <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                      <ui-select class="dropdown-select" name="filterAddressKf" ng-disabled="!companyFound" ng-change="search(filterAddressKf.selected.nameAdress, true)"  ng-model="$parent.filterAddressKf.selected" autofocus>
				                          <ui-select-match allow-clear="true" placeholder="Todos">{{$select.selected.nameAdress}}</ui-select-match>
				                            <ui-select-choices repeat="item in listOffice | filter: $select.search">
				                              <div ng-bind-html="item.nameAdress | highlight: $select.search"></div>
				                                <!--<small>Gestion: </small><small ng-bind-html="item.priceManagement | highlight: $select.search"></small>
				                                <small>Envio: </small><small ng-bind-html="item.priceShipping | highlight: $select.search"></small>-->
				                            </ui-select-choices>
				                            <ui-select-no-choice>
											    No hay resultados, contacte area de soporte.
										  	</ui-select-no-choice>
				                        </ui-select>
				                    </div>
			                  	</div>
				            </div>
		                    <!-- Filter Type of Attendants For Admins -->
                            <div ng-if="sysContent=='att'" class="form-group col-md-6">
                            	<label style="padding-left: 15px;">Tipo de Encargados</label>
                              <div class="col-xs-12 selectContainer">
                                <div class="input-group">
                                      <span class="input-group-addon"><i class="glyphicon glyphicon-tags"></i></span>
                                      <select name="filteroAttProfile" ng-change="search(filteroAttProfile.nameTypeAttendant, true)" ng-options="item.nameTypeAttendant for item in listTypeAttendant" class="form-control" ng-model="$parent.filteroAttProfile" >
                                          <option value="" >Todos</option>
                                      </select>
                                </div>
                              </div>
                      		</div>
		                    <!-- Filter Type of Status For Admins -->
			                <div ng-if="sysContent=='user' || sysContent=='tenant' || sysContent=='att'" class="form-group col-md-6">
		                          <label style="padding-left: 15px;">Estatus</label>
		                            <div class="col-xs-12 selectContainer">
		                              <div class="input-group">
		                                    <span class="input-group-addon"><i class="glyphicon glyphicon-tags"></i></span>
		                                    <select name="filterUserStatus" ng-change="search(filterUserStatus.statusTenantName, true)" ng-options="item.statusTenantName for item in listStatus"  class="form-control" ng-model="$parent.filterUserStatus" >
		                                  	    <option value="" >Todos</option>
		                                    </select>
		                              </div>
		                            </div>
		                    </div>
			                <div class="form-group" ng-class="sysContent=='company'?'col-md-4':'col-md-6'">
			                	<label style="padding-left: 15px;">Buscar</label>
			                 	<div class="col-xs-12">
			                    	<div class="input-group">
			                      	<span class="input-group-addon"><i class="glyphicon glyphicon-search "></i></span>
			                      	<input type="text" class="form-control" ng-change="search(searchboxfilter, false)"  ng-model="searchboxfilter" placeholder="Buscar...">
			                    </div>
			                  </div>
			                </div>
			                <div class="form-group" ng-class="sysContent=='company'?'col-md-4 pull-right':'col-md-6 pull-right'">
			                	<br>
			            		<div class="col-xs-1">
		                    		<button  type="button" ng-click="refresRowsInList();" class="btn btn-info">
		                        		<i title="Actualizar" class="glyphicon glyphicon-refresh"></i>
		                    		</button>
		                    	</div>
		                    	<div class="col-xs-3">
		                    		<button ng-if="sysContent=='user'" type="button" ng-click="sysConfig('user','openW')" class="btn btn-info">
		                          		<i title="Agregar Inquilino" class="glyphicon glyphicon-plus"></i> Nuevo
		                        	</button>
		                        	<button ng-if="sysContent=='tenant'" type="button" ng-click="sysConfig('user', 'openW');" class="btn btn-info">
		                          		<i title="Agregar Inquilino" class="glyphicon glyphicon-plus"></i> Nuevo
		                        	</button>
		                        	<button ng-if="sysContent=='att'" type="button" ng-click="sysConfig('att','openW')" class="btn btn-info">
		                          		<i title="Agregar Inquilino" class="glyphicon glyphicon-plus"></i> Nuevo
		                        	</button>
		                		</div>
			        		</div>
			        	</div>
			            <div>
			            	<!-- TABLE LIST WHERE IS DISPLAYED THE USER DATA REQUESTED -->
				            <div ng-if="sysContent=='user'" ng-include="'views/system/listUser.html'"></div>
				            <!-- TABLE LIST WHERE IS DISPLAYED THE TENANT DATA REQUESTED -->
				            <div ng-if="sysContent=='tenant'" ng-include="'views/system/listTenant.html'"></div>
				            <!-- TABLE LIST WHERE IS DISPLAYED THE ATTENDANT DATA REQUESTED -->
				            <div ng-if="sysContent=='att'" ng-include="'views/system/listAtten.html'"></div>
				            <!-- TABLE LIST WHERE IS DISPLAYED THE COMPANIES DATA REQUESTED -->
				            <div ng-if="sysContent=='company'" ng-include="'views/system/listCompanies.html'"></div>
    				        <!-- PAGINATION -->
				            <div>
            	              	<ul class="pager">
					                <li ng-class="{disabled: currentPage == 0}">
					                  <a href ng-click="prevPage()">« Anterior</a>
					                </li>
					                <!--<li ng-repeat="n in range(pagedItems.length)[currentPage]"
					                    ng-class="{active: n == currentPage}"
					                    ng-click="setPage()">
					                  <a href ng-bind="n + 1">1</a>
					                </li>-->
					                <span style="margin-top:-5px" class="badge badge-success">{{currentPage+1}} / {{pagedItems.length}}</span>
					                <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
					                  <a href ng-click="nextPage()">Siguiente »</a>
					                </li>
					            </ul>
			        		</div>
			        	</div>
		        	</div>
		    </div>
		</div>
		<div ng-if="sysContent=='dashboard'">
			<div class="col-md-12">
				<div class="col-md-2">    	    
					<div ng-click="sysConfig('user','dash')" class="hero-widget well well-sm">
		            	<div class="icon">
		                 	<i class="icon-user"></i>
		            	</div>
		            	<div class="text">
		                	<h2 class="text-muted">Usuarios</h2>
		            	</div>
		            	<div class="options">
		                <a data-toggle="tooltip" data-placement="bottom" title="Usuarios Registrados" ng-click="sysConfig('user','dash')" href="" class="btn btn-primary btn-sm"><span class="badge badge-light">{{listUser.length}}</span> </a>
		            	</div>
		        	</div>
		        </div>
				<div class="col-md-2">
					<div ng-click="sysConfig('tenant','dash')" class="hero-widget well well-sm">
		            	<div class="icon">
		                 	<i class="icon-user"></i>
		            	</div>
		            	<div class="text">
		                	<h2 class="text-muted">Habitantes</h2>
		            	</div>
		            	<div class="options">
		                <a  data-toggle="tooltip" data-placement="bottom" title="Habitantes Registrados" ng-click="sysConfig('tenant','dash')" href="" class="btn btn-primary btn-sm"><span class="badge badge-light">{{sysListTenant.length}}</span></a>
		            	</div>
		        	</div>
				</div>
				<div class="col-md-2">
					<div ng-click="sysConfig('att','dash')" class="hero-widget well well-sm">
		            	<div class="icon">
		                 	<i class="icon-user"></i>
		            	</div>
		            	<div class="text">
		                	<h2 class="text-muted">Encargados</h2>
		            	</div>
		            	<div class="options">
		                <a data-toggle="tooltip" data-placement="bottom" title="Encargados Registrados" ng-click="sysConfig('att','dash')" href="" class="btn btn-primary btn-sm"><span class="badge badge-light">{{sysListAttendant.length}}</span></a>
		            	</div>
		        	</div>
				</div>
				<div class="col-md-2">
					<div ng-click="sysConfig('company','dash')" class="hero-widget well well-sm">
		            	<div class="icon">
		                 	<i class="icon-suitcase"></i>
		            	</div>
		            	<div class="text">
		                	<h2 class="text-muted">Empresas</h2>
		            	</div>
		            	<div class="options">
		                <a data-toggle="tooltip" data-placement="bottom" title="Empresas Registradas" ng-click="sysConfig('company','dash')" href="" class="btn btn-primary btn-sm"><span class="badge badge-light">{{listCompany.length}}</span></a>
		            	</div>
		        	</div>
				</div>
				<div class="col-md-2">
					<div ng-click="fnShowHide('home', 'open')"  class="hero-widget well well-sm">
		            	<div class="icon">
		                 	<i class="icon-file-text"></i>
		            	</div>
		            	<div class="text">
		                	<h2 class="text-muted">Solicitudes</h2>
		            	</div>
		            	<div class="options">
		                <a data-toggle="tooltip" data-placement="bottom" title="Solicitudes Registradas" ng-click="fnShowHide('home', 'open')" href="" class="btn btn-primary btn-sm"><span class="badge badge-light">{{listTickt.length}}</span></a>
		            	</div>
		        	</div>
				</div>
				<div class="col-md-2">
					<div ng-click="sysConfig('services', 'open')" class="hero-widget well well-sm">
		            	<div class="icon">
		                 	<i class="icon-usd"></i>
		            	</div>
		            	<div class="text">
		                	<h2 class="text-muted">Servicios</h2>
		            	</div>
		            	<div class="options">
		            	<input type="button" class="btn btn-primary btn-sm" value="Consultar" ng-click="sysConfig('services', 'open')"/>
		            	</div>
		        	</div>
				</div>
			</div>
			<div class="col-md-12">
		        <div class="col-md-4"> 
			        <div class="panel panel-success">
	  					<div class="panel-heading"><i class="icon-envelope"></i> SMTP Email <span ng-click="sysConfig('smtp', 'open')" data-toggle="tooltip" data-placement="top" title="Modificar" style="cursor: pointer;" class="pull-right"><i class="glyphicon glyphicon-edit"></i></span></div>
	  					<div class="panel-body">
						    <div ng-show="smtpMail" class="well" >
								<strong>Mail Actual: </strong>{{smtpMail}}
							</div>
							<div ng-show="!smtpMail" class="alert alert-warning" role="alert">
								<strong>Mail Actual: </strong>No Asignado.
							</div>
							<div ng-show="smtpPwd" class="well" >
								<strong>Clave Actual: </strong>Asignada
							</div>
							<div ng-show="!smtpPwd" class="alert alert-warning" role="alert">
								<strong>Clave Actual: </strong>No Asignado.
							</div>
	  					</div>
					</div>
				</div>
		        <div class="col-md-8"> 
			        <div class="panel panel-success">
	  					<div class="panel-heading"><i class="icon-envelope"></i> Correos</div>
	  					<div class="panel-body">
	  						<div class="col-md-6">
							    <div ng-show="salesMail" class="well" >
									<strong>VENTAS: </strong>{{salesMail}}<span ng-click="sysConfig('mails','open')" data-toggle="tooltip" data-placement="top" title="Modificar" style="cursor: pointer;" class="pull-right"><i class="glyphicon glyphicon-edit"></i></span>

								</div>
								<div ng-show="!salesMail" class="alert alert-warning" role="alert">
									<strong>VENTAS: </strong>Sin Asignar.<span ng-click="sysConfig('mails','open')" data-toggle="tooltip" data-placement="top" title="Modificar" style="cursor: pointer;" class="pull-right"><i class="glyphicon glyphicon-edit"></i></span>
								</div>
								<div ng-show="payrollMail" class="well" >
									<strong>FACTURACION: </strong>{{payrollMail}}<span ng-click="sysConfig('mails','open')" data-toggle="tooltip" data-placement="top" title="Modificar" style="cursor: pointer;" class="pull-right"><i class="glyphicon glyphicon-edit"></i></span>
								</div>
								<div ng-show="!payrollMail" class="alert alert-warning" role="alert">
									<strong>FACTURACION: </strong>Sin Asignar.<span ng-click="sysConfig('mails','open')" data-toggle="tooltip" data-placement="top" title="Modificar" style="cursor: pointer;" class="pull-right"><i class="glyphicon glyphicon-edit"></i></span>
								</div>
							</div>
							<div class="col-md-6">
								<div ng-show="supportMail" class="well" >
									<strong>SERVICIO TECNICO: </strong>{{supportMail}}<span ng-click="sysConfig('mails','open')" data-toggle="tooltip" data-placement="top" title="Modificar" style="cursor: pointer;" class="pull-right"><i class="glyphicon glyphicon-edit"></i></span>
								</div>
								<div ng-show="!supportMail" class="alert alert-warning" role="alert">
									<strong>SERVICIO TECNICO: </strong>Sin Asignar.<span ng-click="sysConfig('mails','open')" data-toggle="tooltip" data-placement="top" title="Modificar" style="cursor: pointer;" class="pull-right"><i class="glyphicon glyphicon-edit"></i></span>
								</div>
								<div ng-show="adminMail" class="well" >
									<strong>ADMINISTRATIVAS: </strong>{{adminMail}}<span ng-click="sysConfig('mails','open')" data-toggle="tooltip" data-placement="top" title="Modificar" style="cursor: pointer;" class="pull-right"><i class="glyphicon glyphicon-edit"></i></span>
								</div>
								<div ng-show="!adminMail" class="alert alert-warning" role="alert">
									<strong>ADMINISTRATIVAS: </strong>Sin Asignar.<span ng-click="sysConfig('mails','open')" data-toggle="tooltip" data-placement="top" title="Modificar" style="cursor: pointer;" class="pull-right"><i class="glyphicon glyphicon-edit"></i></span>
								</div>
							</div>
	  					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- SETUP EMAIL -->
<div id="ModalSMTPEmail" class="modal fade bd-example-modal-lg" style="top: 120px;" role="dialog">
  	<div class="modal-dialog modal-lg" >
	    <div class="modal-content">
          	<div class="modal-header">
            	<h3 class="modal-title">CONFIGURACION DE CORREO SMTP<a data-dismiss="modal" class="close"><i title="Cerrar" class="glyphicon glyphicon-remove-sign"> </i></a></h3>
        	</div>
			<div class="modal-body" style="overflow-y: scroll;">
				<div class="container-fluid">
					<form class="form-horizontal" name="frmsmtpMail" ng-submit="sysConfig('smtp', 'save')">
						<fieldset>
							<div class="form-group">
							  <label class="col-md-4 control-label">Correo SMTP</label>  
							    <div class="col-md-4">
								    <div class="input-group">
								        <span ng-if="changeSmtp" class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
								  		<input ng-if="changeSmtp" id="smtpMail" placeholder="Correo principal" class="form-control" ng-model="smtp.mail" type="mail" required autofocus />
								    </div>
								    <div ng-show="smtpMail" class="alert alert-info" role="alert">
										<strong>Mail Actual: </strong>{{smtpMail}}
									</div>
									<div ng-show="!smtpMail" class="alert alert-warning" role="alert">
										<strong>Mail Actual: </strong>Sin Asignar.
									</div>
								</div>
							</div>
							<!-- Password-->
							<div class="form-group">
							  <label class="col-md-4 control-label">Contrase&#241a</label>  
							    <div class="col-md-4">
								    <div class="input-group">
								        <span ng-show="changeSmtp==true" class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
								  		<input ng-show="changeSmtp==true" id="passwordSmtp" placeholder="Contrase&#241a" class="form-control" ng-model="smtp.password" minlength="8" type="password" required autofocus />
								    </div>
								    <div ng-show="smtpPwd" class="alert alert-info" role="alert">
										<strong>Clave Actual: </strong>Asignada
									</div>
									<div ng-show="!smtpPwd" class="alert alert-warning" role="alert">
										<strong>Clave Actual: </strong>Sin Asignar.
									</div>
								</div>
							</div>
							<!-- Actions Button -->
							<div class="form-group">
							  <label class="col-md-4 control-label"></label>
							  <div class="col-md-4">
							  	<input type="button" ng-if="!changeSmtp" ng-click="changeVar(1)" class="btn btn-primary" value="Cambiar" />
							    <button ng-show="changeSmtp" type="submit" class="btn btn-success" ><i class="glyphicon glyphicon-save"> </i> Guardar</button>

							  </div>
							</div>
						</fieldset>
					</form>
					<div class="clearfix"> </div> 
				</div>
			</div>
		</div>
	</div>
</div>
<!-- SETUP EMAIL -->
<div id="ModalSetupEmail" class="modal fade bd-example-modal-lg" style="top: 120px;" role="dialog">
  	<div class="modal-dialog modal-lg" >
	    <div class="modal-content">
          	<div class="modal-header">
            	<h3 class="modal-title">CONFIGURACION DE CORREOS<a data-dismiss="modal" class="close"><i title="Cerrar" class="glyphicon glyphicon-remove-sign"> </i></a></h3>
        	</div>
			<div class="modal-body" style="overflow-y: scroll;">
				<div class="container-fluid">
					<form class="form-horizontal" name="frmMails" ng-submit="sysConfig('mails', 'save')">
						<fieldset>
							<!-- Select Category -->
							<div class="form-group"> 
							  	<label class="col-md-4 control-label">Departamento</label>
							    <div class="col-md-4 selectContainer">
								    <div class="input-group">
								        <span class="input-group-addon"><i class="glyphicon glyphicon-pushpin"></i></span>
										    <select name="idTypeOutherKf" class="form-control" placeholder="Tipo de Consulta" ng-options="item.idTypeOuther as item.TypeOuther for item in listTypeQuery | filter: filterSelect('idTypeOuther', 2)"" ng-model="sys.idTypeOutherKf" required autofocus ><option value="">Selecione una opcion</option></select>
								  	</div>
								</div>
							</div>
							<div class="form-group">
							  <label class="col-md-4 control-label">Email</label>  
							    <div class="col-md-4">
								    <div class="input-group">
								        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
								  		<input placeholder="Email" class="form-control" ng-model="sys.email" type="mail" required autofocus />
								    </div>
								</div>
							</div>
							<!-- Actions Button -->
							<div class="form-group">
							  <label class="col-md-4 control-label"></label>
							  <div class="col-md-4">
							    <button type="submit" class="btn btn-success" ><i class="glyphicon glyphicon-save"> </i> Guardar</button>

							  </div>
							</div>
						</fieldset>
					</form>
					<div class="clearfix"> </div> 
				</div>
			</div>
		</div>
	</div>
</div>

<!-- SETUP SERVICES COST -->
<div id="ModalServiceCost" class="modal fade bd-example-modal-lg" style="top: 120px;" role="dialog">
  	<div class="modal-dialog modal-lg" >
	    <div class="modal-content">
          	<div class="modal-header">
            	<h3 class="modal-title">COSTOS DE SERVICIOS<a data-dismiss="modal" class="close"><i title="Cerrar" class="glyphicon glyphicon-remove-sign"> </i></a></h3>
        	</div>
    		<div class="modal-body" style="overflow-y: scroll;">
				<!-- FORM CONTAINER-->
				<form class="form-horizontal" name="frmCost">
					<fieldset>
						<!-- Company Name-->    
						<div class="container-fluid" ng-show="sessionidProfile!=3"> 
							<div class="row">   
								<div class="col-md-8 col-md-offset-4">
								  <label class="col-xs-12">Administracion</label>
								    <div class="col-md-6">
									    <div class="input-group">
									        <span class="input-group-addon"><i class="icon-suitcase"></i></span>
									  		<input ng-show="sessionidProfile!=1" name="CompanyName"  disabled class="form-control" ng-model="$parent.CompanyName" />

									  		<select ng-show="sessionidProfile==1" name="idCompanyKf" class="form-control" ng-change="officeListByCompnayID(); CallFilterFormT(); select.idAddressAtt=null"  ng-options="item.idCompany as item.nameCompany for item in listCompany" ng-required="sessionidProfile==1" ng-model="select.idCompanyKf"  ><option value="">Seleccione una opcion</option>
										    </select>
									    </div>
								  	</div>
								</div>
							</div>
						</div>
						<!-- Address for Admins -->
						<div class="container-fluid" ng-show="sessionidProfile!=3"> 
							<div class="row">   
								<div class="col-md-8 col-md-offset-4">
								  	<label class="col-xs-12">Direcci&#243n del Consorcio</label>
									    <div class="col-md-6">
										    <div class="input-group">
										        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
										  		<select name="idAddressKf" ng-disabled="!select.idCompanyKf && sessionidProfile==1" class="form-control" ng-change="getCostServiceData(4);"  ng-options="item.idAdress as item.nameAdress for item in listOffice" ng-required="sessionidProfile!=3" ng-model="select.idAddressAtt" autofocus >
												    <option value="">Seleccione un consorcio</option>
											    </select>
										    </div>
									  	</div>
								</div>
							</div>
						</div>
						<div><ul><i class="divider"></li></ul></div>
						<div ng-if="!select.idAddressAtt">
							<div class="alert alert-info alert-dismissible" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<i class="glyphicon glyphicon-info-sign"></i><span> <strong>INFO: </strong>Selecciona una dieccion de un consorcio para conocer los costos.</span>
							</div>
						</div>
						<div ng-if="select.idAddressAtt">
							<!-- Service-->
							<div class="container-fluid">
								<div class="row">
				  				    <div class="col-md-6 col-md-offset-3">
									    <div ng-if="costService!=0" class="alert alert-info" role="alert">
											<strong>Costo Gestion (Alta / Baja): </strong><span class="pull-right">{{costService}} <i class="glyphicon glyphicon-edit"></i></span>

										</div>
										<div ng-if="costService==0" class="alert alert-warning" role="alert">
											<strong>Costo Servicio: </strong><span class="pull-right"><span class="pull-right">Valor No Asignado. <i class="glyphicon glyphicon-exclamation-sign"></i></span>
											
										</div>
									</div>
								</div>
							</div>
							<!-- Key-->
							<div class="container-fluid"> 
								<div class="row"> 
								    <div class="col-md-6 col-md-offset-3">
									    <div ng-if="costKey!=0" class="alert alert-info" role="alert">
											<strong>Costo de Llave: </strong><span class="pull-right">{{costKey}} <i class="glyphicon icon-key"></i></span>
										</div>
										<div ng-if="costKey==0" class="alert alert-warning" role="alert">
											<strong>Costo Llave: </strong><span class="pull-right">Valor No Asignado. <i class="glyphicon glyphicon-exclamation-sign"></i></span>
										</div>
									</div>
								</div>
							</div>
							<!-- Delivery-->
							<div class="container-fluid">
								<div class="row">
								   	<div class="col-md-6 col-md-offset-3">
									    <div ng-if="costDelivery!=0" class="alert alert-info" role="alert">
											<strong>Costo de Envio: </strong><span class="pull-right">{{costDelivery}} <i class="glyphicon icon-truck"></i></span>
										</div>
										<div ng-if="costDelivery==0" class="alert alert-warning" role="alert">
											<strong>Costo Envio: </strong><span class="pull-right">Valor No Asignado. <i class="glyphicon glyphicon-exclamation-sign"></i></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</fieldset>
				</form>
				<div class="clearfix"> </div> 
			</div>
		</div>
	</div>
</div>