<!-- USER REQUEST OTHER QUERIES  ruother=Register Request User Other Queries-->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">GESTION DE EDIFICIO</h3>
    </div>
    <div class="panel-body">
      <form class="form-horizontal" name="frmDpto" ng-submit="fnAssignDepto(select.idDepartmentKf,0)">
            <fieldset>
              <!-- Company Name-->    
              <div ng-show="sessionidProfile!=3" class="form-group col-lg-3">
                <label style="padding-left: 15px;">Administracion</label>
                  <div class="col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icon-suitcase"></i></span>
                      <input ng-show="sessionidProfile==4" name="companyN"  disabled class="form-control" ng-model="$parent.companyN" />

                      <select ng-show="sessionidProfile==1" name="idCompanyKf" class="form-control" ng-change="officeListByCompnayID(); CallFilterFormT();"  ng-options="item.idCompany as item.nameCompany for item in listCompany" ng-required="sessionidProfile==1" ng-model="select.idCompanyKf"  >
                          <option value="">Seleccione un consorcio</option>
                        </select>
                    </div>
                  </div>
              </div>
              <!-- Address for Owner-->      
              <div ng-show="sessionidProfile==3" class="form-group col-lg-4">
                 <label style="padding-left: 15px;">Consorcio</label>
                    <div class="col-xs-12">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        <select name="idAddressAtt" class="form-control" ng-change="getDeparment(1); listUserDepto(1); collap=1;"  ng-options="item.idAdress as item.nameAdress for item in ListAddress" ng-required="sessionidProfile!=4" ng-model="select.idAddressAtt" autofocus >
                          <option value="">Seleccione</option>
                        </select>
                        <span ng-show="select.idAddressAtt!=0" style="cursor: pointer;" class="input-group-addon"><i ng-click="getDeparment(1); listUserDepto(1);" class="glyphicon glyphicon-refresh"></i></span>
                      </div>
                    </div>
              </div>
              <!-- Address for Admins-->      
              <div ng-show="sessionidProfile!=3" class="form-group col-lg-4">
                  <label style="padding-left: 15px;">Consorcio</label>
                    <div class="col-xs-12">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        <select name="idAddressAtt" class="form-control" ng-disabled="sessionidProfile==1 && select.idCompanyKf==''" ng-change="getDeparment(0);listUserDepto(1); getAllAttendant(); idDepartmentKf=''; "  ng-options="item.idAdressKf as item.nameAdress for item in listOffice" ng-required="sessionidProfile!=3" ng-model="select.idAddressAtt" autofocus >
                          <option value="">Seleccione direccion</option>
                        </select>
                        <span ng-show="select.idAddressAtt!=0 && sessionidProfile==3" style="cursor: pointer;" class="input-group-addon"><i ng-click="listUserDepto(1); getAllAttendant();" class="glyphicon glyphicon-refresh"></i></span>
                      </div>
                    </div>
              </div>
              <!-- Select Department -->
                    <div ng-show="sessionidProfile==3" class="form-group col-lg-2">
                      <label style="padding-left: 15px;">Departamento</label>
                        <div class="col-xs-12 selectContainer">
                          <div class="input-group">
                              <span class="input-group-addon"><i class="glyphicon icon-building"></i></span>
                              <select ng-model="select.idDepartmentKf"  ng-disabled="dptoNotFound!=false" class="form-control" ng-options="x.idDepartment as x.departmentFloor for x in ListDpto " required autofocus >
                                <option value="">Seleccione</option>
                              </select>
                          </div>
                      </div>
                    </div>
              <!-- Actions Button -->
              <div ng-show="sessionidProfile==3" class="form-group col-lg-2">
                <br>
                <div class="col-xs-12">
                  <button type="submit" class="btn btn-primary" ng-disabled="dptoNotFound!=false" >Asociar</button>
                </div>
              </div>
            </fieldset>
      </form>
      <div class="clearfix"></div> 
      <div ng-if="select.idAddressAtt && sessionidProfile!=3 && !noRecordsFound && !dptoNotFound" class="btn-group btn-group-justified">
          <a href="" data-target="body" ng-model="collap1" ng-click="changeBody(1); listUserDepto(1);" data-toggle="collapse" class="btn btn-primary" aria-pressed="true">DEPARTAMENTOS</a>
          <a href="" data-target="body" ng-model="collap2" ng-click="changeBody(2); getAllAttendant();" data-toggle="collapse" class="btn btn-primary" aria-pressed="true">ENCARGADOS</a>
      </div>
      <div id="body" ng-class="sessionidProfile==3 ? 'collapse in' : 'collapse'" ng-show="sessionidProfile!=0">
        <!--*********************DEPARTAMENTOS *******************************-->
        <div ng-if="collap==1 && sessionidProfile>0 && recordsFound" class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div ng-show="noRecordsFound && sessionidProfile==3" class="alert alert-info" role="alert">
                    <strong>INFO: </strong>Estimado/a, <strong>{{sessionNames}}</strong> No existen departamentos asociados a la direccion seleccionada.
              </div>
              <div ng-show="noRecordsFound && sessionidProfile!=3 && select.idAddressAtt" class="alert alert-info" role="alert">
                    <strong>INFO: </strong>No hay departamentos registrados en la direccion seleccionada.
              </div>
               <!-- Filter Department For Admins -->
              <div ng-show="sessionidProfile!=3" class="form-group col-lg-2">
                <label style="padding-left: 15px;">Departamento</label>
                  <div class="col-xs-12 selectContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon icon-building"></i></span>
                        <select ng-model="idDepartmentKf" ng-disabled="select.idAddressAtt==''" ng-change="dayDataCollapseFn();" class="form-control" ng-options=" x.departmentFloor as x.departmentFloor for x in ListDpto " autofocus >
                          <option value="">Todos</option>
                        </select>
                    </div>
                </div>
              </div>
              <!-- Filter Status For Admins -->
              <div ng-show="sessionidProfile!=3" class="form-group col-lg-2">
                <label style="padding-left: 15px;">Status</label>
                  <div class="col-xs-12 selectContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon icon-flag"></i></span>
                        <select ng-model="idStatusDeptoKf" ng-disabled="select.idAddressAtt==''" ng-change="dayDataCollapseFn();" class="form-control" autofocus >
                          <option value="">Todos</option>
                          <option value="ASIGNADO">ASIGNADO</option>
                          <option value="DISPONIBLE">DISPONIBLE</option>
                        </select>
                    </div>
                </div>
              </div>
              <div ng-show="sessionidProfile!=3" class="col-xs-4"><br>
                <div>
                    <button type="button" ng-click="listUserDepto(1);" class="btn btn-info">
                        <i title="Actualizar" class="glyphicon glyphicon-refresh"></i>
                    </button>
                </div>
              </div>
            </div>
            <div style="overflow-x:auto">
              <table ng-show="recordsFound && sessionidProfile!=0"  class="table table-sm  table-striped table-responsive">
                  <thead style=" background: #4d5d6f; color: white;">
                      <tr>
                          <th></th>
                          <th>ID</th>
                          <th>Departamento</th>
                          <th>Status</th>
                      </tr>
                  </thead>
                  <tbody>
                    <!-- Shows the department List by the Selected Address-->
                      <tr style="align-content: center; cursor: pointer;" ng-repeat-start="item in ListDptoByTenant | filter: idStatusDeptoKf |filter: (!!idDepartmentKf || undefined) && {departmentFloor:idDepartmentKf}">
                        <td>
                          <div class="btn-group">
                            <button type="button" ng-disabled="sessionidProfile==3 && item.isAprobatedAdmin!=1" ng-click="selectTableRow($index, item.idDepartment); isAllowed=item.isAprobatedAdmin==1?item.idTenantKf:null" class="btn btn-info btn-sm">
                            <i ng-if="dayDataCollapse[$index]" title="Ver Inquilinos" class="glyphicon glyphicon-plus"></i>
                            <i ng-if="!dayDataCollapse[$index]" title="Ver Inquilinos" class="glyphicon glyphicon-minus"></i>
                              <span ng-if="item.departmentFloor=='Porteria'"> Ver Encargado</span>
                              <span ng-if="item.departmentFloor!='Porteria'"> Ver Inquilinos</span>
                            </button>
                            <button ng-if="sessionidProfile==3 && item.isAprobatedAdmin==1" type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">
                              <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                              <li><a href="#" type="button" ng-click="modalConfirmation('removet', 0, item)"><i title="Ver Inquilinos" class="glyphicon glyphicon-remove-sign"></i> Darme de Baja</a></li>
                              
                            </ul>
                          </div>
                        </td>
                        <td>{{item.idDepartment}}</td>
                        <td>{{item.departmentFloor}}</td>
                        <!-- Status for Administrator -->
                        <td ng-if="sessionidProfile!=3">
                          <div class="btn-group">
                            <!-- STATUS ASSGIN SUCESS -->
                            <button type="button" ng-if="item.isRequesLowByProp==0 && item.isAprobatedAdmin==1 && (item.idTenantKf!=null || item.idTenantKf!=0)" class="btn btn-sm btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              ASIGNADO &nbsp <span class="caret"></span>
                            </button>
                             <!-- STATUS AVAILABLE SUCESS -->
                            <button type="button" ng-if="item.isRequesLowByProp==0 && item.isAprobatedAdmin==0 && (item.idTenantKf==null || item.idTenantKf==0)" class="btn btn-sm btn-primary dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                              DISPONIBLE &nbsp
                            </button>
                             <!-- STATUS REQUESTED SUCESS -->
                            <button type="button" ng-if="item.isRequesLowByProp==0 && item.isAprobatedAdmin==0 && item.idTenantKf>0" class="btn btn-sm btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              SOLICITADO &nbsp <span class="caret"></span>
                            </button>
                              <ul class="dropdown-menu" role="menu">
                                  <li><a ng-click="approveDepto(item.idDepartment)" ng-if="item.isAprobatedAdmin==0 && item.idTenantKf>0"><i title="Activar" class="glyphicon glyphicon-ok-circle"> </i> Aprobar</a></li>
                                  <li><a ng-click="modalConfirmation('removet', 0, item)" ng-if="item.isAprobatedAdmin==1 && item.idTenantKf>0 && item.isRequesLowByProp>=0"><i title="desactivar" class="glyphicon glyphicon-ban-circle"></i> Dar Baja</a></li>
                                  <li><a ng-click="fnAssignDepto(item.idDepartment,2)" ng-if="item.isAprobatedAdmin==0 && (item.idTenantKf!=null || item.idTenantKf!=0) && item.isRequesLowByProp==0"><i title="desactivar" class="glyphicon glyphicon-ban-circle"></i> Cancelar</a></li>
                                  
                              </ul>
                          </div>
                        </td>
                        <!-- Status for Owners -->
                        <td ng-if="sessionidProfile==3">
                          <div class="btn-group">
                            <button type="button" ng-if="item.isRequesLowByProp==0 && item.isAprobatedAdmin==1 && item.idTenantKf!=null" class="btn  btn-sm btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> APROBADO </button>
                            <button type="button" ng-if="item.isAprobatedAdmin==0" class="btn btn-sm btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> PENDIENTE</button>
                            <button type="button" ng-if="item.isAprobatedAdmin<0" class="btn btn-sm btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> ELIMINADO</button>
                            <button type="button" ng-if="item.isRequesLowByProp==1 && item.isAprobatedAdmin==1 && item.idTenantKf!=null" class="btn btn-sm btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> BAJA SOLICITADA</button>
                          </div>
                        </td>
                      </tr>
                      <!-- Show the tenant & owner List by the Department selected -->
                      <tr collapse="dayDataCollapse[$index]" ng-repeat-end="">
                        <td colspan="4" >
                            <div ng-show="tenantNotFound && sessionidProfile!=0 && select.idAddressAtt" class="alert alert-info" role="alert">
                                <strong>INFO: </strong>No hay Inquilinos registrados en el departamento seleccionada.
                                <div class="btn-group">
                                  <button type="button" class="btn btn-info btn-sm"><i title="Registrar" class="glyphicon glyphicon-plus"></i> Registrar</button>
                                  <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu" role="menu">
                                    <li><a href="#" ng-click="sysFunctionsTenant('open', 'add'); "><i title="Registrar Inquilinos" class="glyphicon glyphicon-edit"></i> Inquilinos</a></li>
                                    <li ng-if="item.departmentFloor=='Porteria'"><a href="#" ng-click="sysFunctionsAtt('open')"><i title="Registrar Encargados" class="glyphicon glyphicon-edit"></i> Encargados</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div ng-if="tenantNotFound!=true && sessionidProfile!=0" class="panel panel-default">
                              <div class="panel-heading">
                                <h3 class="panel-title">GESTION DE HABITANTES - DEPARTAMENTO N°: <bold> {{item.departmentFloor}}</bold></h3>
                              </div>
                                <div class="panel-body">
                                  <div  class="row" >
                                      <!-- Filter Type of Tenant For Admins -->
                                      <div ng-if="sessionidProfile!=3" class="form-group col-lg-3">
                                        <label style="padding-left: 15px;">Tipo de Habitante</label>
                                          <div class="col-xs-12 selectContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon icon-user"></i></span>
                                                <select name="filterTenant" ng-model="$parent.filterTenant" class="form-control" required autofocus > 
                                                  <option value="" >Todos</option>
                                                  <option value="1" >Propietarios</option>
                                                  <option value="2" >Inquilinos</option>
                                              </select>
                                            </div>
                                          </div>
                                      </div>
                                      <div class="form-group col-lg-3">
                                      <label style="padding-left: 15px;">Buscar</label>
                                        <div class="col-xs-12">
                                          <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-search "></i></span>
                                            <input type="text" class="form-control" ng-model="searchboxfilter" placeholder="Buscar...">
                                          </div>
                                        </div>
                                      </div>
                                      <div class="form-group col-lg-3">
                                        <div class="col-xs-12"><br>
                                          <div class="btn-group">
                                              <button type="button" ng-click="sysFunctionsTenant('open', 'add'); " class="btn btn-info">
                                                <i data-toggle="tooltip" title="Agregar Inquilino" class="glyphicon glyphicon-plus"></i> Inquilino
                                              </button>
                                              <!--<button  title="Seleccionar" class="btn btn-lg btn-info">
                                              <i class="glyphicon glyphicon-plus"></i>Asignar Inquilino
                                              </button>-->
                                          </div>
                                        </div>
                                      </div>
                                  </div>
                                  <table  class="table table-hover table-responsive">
                                      <thead style=" background: #4d5d6f; color: white;">
                                        <tr >
                                            <th>#</th>
                                            <th>ID</th>
                                            <th><i class="glyphicon glyphicon-user"> </i> Nombres</th>
                                            <!--<th><i class="glyphicon glyphicon-earphone"> </i> Telefonos</th>-->
                                            <!--<th><i class="glyphicon glyphicon-envelope"> </i> Correo</th>-->
                                            <th>Perfil</th>
                                            <th><i class="glyphicon icon-flag"> </i> Status</th>
                                            <th><i class="glyphicon icon-calendar"> </i> Registrado</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr style="align-content: center;" ng-repeat="item in listTenant | filter: searchboxfilter | filter: {idTypeKf:filterTenant}">
                                            <td>
                                              <div class="btn-group">
                                                <button type="button" ng-click="select2EditTenant(item);" class="btn btn-sm btn-warning">
                                                <i title="Modificar Datos" class="glyphicon glyphicon-edit"></i>  
                                                </button>
                                                <button type="button" ng-click="modalConfirmation('removet', 0, item)" class="btn btn-sm btn-danger">
                                                <i title="Eliminar Inquilino" class="glyphicon glyphicon-remove-circle"></i>  
                                                </button>
                                              </div>
                                            </td>
                                            <td>{{item.idTenant}}</td>
                                            <td>{{item.fullNameTenant}}</td>
                                            <!--<td>
                                              <span ng-if="item.phoneNumberTenant">
                                                <i class="glyphicon glyphicon-phone"></i>
                                                  <span >{{item.phoneNumberTenant}}</span>
                                              </span>
                                                <br ng-if="item.phoneNumberTenant"><br ng-if="item.phoneNumberTenant">
                                              <span ng-if="item.phoneNumberContactTenant">
                                                <i class="glyphicon glyphicon-earphone"></i>
                                                  <span >{{item.phoneNumberContactTenant}}</span>
                                              </span>
                                            </td>-->
                                            <!--<td>{{item.emailTenant}}</td>-->
                                            <td ng-if="item.idTypeKf==1 && isAllowed==null" >Propietario <span style="padding-top: 4px; margin-top: 10px; text-align: center;" class="alert alert-warning"> &nbsp &nbsp &nbsp No Autorizado</span></td>
                                            <td ng-if="item.idTypeKf==1 && item.idTenant==isAllowed" >Propietario</td>
                                            <td ng-if="item.idTypeKf==2">Inquilino</td>
                                            <td> <!-- TD to Admins -->
                                              <div class="btn-group">
                                                <button type="button" ng-if="item.idStatusKf==1" class="btn btn-sm btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                  ACTIVO &nbsp <span ng-if="sessionidProfile==1" class="caret"></span>
                                                </button>
                                                <button type="button" ng-if="item.idStatusKf==0" class="btn btn-sm btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                  INACTIVO &nbsp <span ng-if="sessionidProfile==1" class="caret"></span>
                                                </button>
                                                <button type="button" ng-if="item.idStatusKf<0" class="btn btn-sm btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                  ACTIVO &nbsp <span ng-if="sessionidProfile==1" class="caret"></span>
                                                </button>
                                                <ul ng-show="item.idStatusKf==0 || sessionidProfile==1" class="dropdown-menu">
                                                  <li><a ng-click="enabledTenant(item.idTenant)" ng-if="item.idStatusKf<1"><i title="Activar" class="glyphicon glyphicon-ok-circle"> </i> Activar</a></li>
                                                  <li><a ng-click="disabledTenant(item.idTenant)" ng-if="item.idStatusKf>0 && sessionidProfile!=3"><i title="desactivar" class="glyphicon glyphicon-ban-circle"></i> Desactivar</a></li>
                                                </ul>
                                              </div>
                                            </td>
                                            <td>{{item.dateCrated  | dateToISO | date:'MM/dd/yyyy'}}</td>
                                        </tr>
                                      </tbody>
                                  </table>
                                </div>
                            </div>
                        </td>
                      </tr>
                  </tbody>
              </table>
              <div ng-if="sessionidProfile==3"><br></div>
            </div>
          </div>
        </div>
        <!--*********************ENCARGADOS ***********************************-->
        <div ng-if="collap==2 && sessionidProfile!=3 && attendantFound" class="panel panel-default">
            <div class="panel-body">
                <div  class="row" >
                    <!-- Filter Type of Tenant For Admins -->
                    <div ng-if="sessionidProfile!=0" class="form-group col-lg-2">
                            <label style="padding-left: 15px;">Tipo de Encargados</label>
                              <div class="col-xs-12 selectContainer">
                                <div class="input-group">
                                      <span class="input-group-addon"><i class="glyphicon glyphicon-tags"></i></span>
                                      <select name="filteroAttProfile" class="form-control" ng-model="$parent.filteroAttProfile" >
                                          <option value="" >Todos</option>
                                          <option value="1" >Otros</option>
                                          <option value="2" >Titular</option>
                                          <option value="3" >Suplente</option>
                                          <option value="4" >Intendente</option>
                                      </select>
                                </div>
                              </div>
                      </div>
                      <!-- Filter Type of Tenant For Admins -->
                    <div ng-if="sessionidProfile!=0" class="form-group col-lg-2">
                            <label style="padding-left: 15px;">Estatus</label>
                              <div class="col-xs-12 selectContainer">
                                <div class="input-group">
                                      <span class="input-group-addon"><i class="glyphicon glyphicon-tags"></i></span>
                                      <select name="filterUserStatus" class="form-control" ng-model="$parent.filterUserStatus" >
                                          <option value="" >Todos</option>
                                          <option value="1" >Activo</option>
                                          <option value="0" >Inactivo</option>
                                          <option value="-1" >eliminado</option>
                                      </select>
                                </div>
                              </div>
                      </div>
                    <div class="form-group col-lg-2">
                    <label style="padding-left: 15px;">Buscar</label>
                      <div class="col-xs-12">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-search "></i></span>
                          <input type="text" class="form-control" ng-model="searchboxfilter" placeholder="Buscar...">
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                    <div class="col-xs-4"><br>
                        <div >
                            <button type="button" ng-click="getAllAttendant(0)" class="btn btn-info">
                                <i title="Actualizar" class="glyphicon glyphicon-refresh"></i>
                            </button>&nbsp
                            <button type="button" ng-click="sysFunctionsAtt('open')" class="btn btn-info">
                                  <i title="Agregar Inquilino" class="glyphicon glyphicon-plus"></i> Encargado
                              </button>
                        </div>
                    </div>
                </div>  
                </div><br><br>
                <div style="overflow-x:auto">
                  <table  class="table  table-striped table-responsive">
                      <thead style=" background: #4d5d6f; color: white;">
                        <tr style="text-align: center;">
                            <th>ID</th>
                            <th><i class="glyphicon glyphicon-user"> </i> Nombres</th>
                            <!--<th><i class="glyphicon glyphicon-phone"> </i> Tlf Movil</th>
                            <th><i class="glyphicon glyphicon-earphone"> </i> Tlf Fijo</th>-->
                            <th><i class="glyphicon glyphicon-envelope"> </i> Correo</th>
                            <th><i class="glyphicon glyphicon-user"> </i>Perfil</th>
                            <th><i class="glyphicon icon-flag"> </i> Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr style="align-content: center;" ng-repeat="item in listAttendant | filter: {idTyepeAttendantKf:filteroAttProfile} | filter: {idStatusKf:filterUserStatus} | filter: searchboxfilter | orderBy: 'idAttendant'">
                          <td>
                          <div class="btn-group">
                            <button type="button" ng-click="select2EditAtt(item);" class="btn btn-info btn-sm">{{item.idAttendant}}</button>
                            <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">
                              <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                              <li><a href="#" ng-click="select2EditAtt(item);"><i title="Modificar Datos" class="glyphicon glyphicon-edit"></i>  Editar</a></li>
                              <li ng-if="item.idStatusKf<=0 "><a href="#" ng-click="sysFunctionsAtt('enabled',item.idAttendant)"><i title="Activar Inquilino" class="glyphicon glyphicon-remove-circle"></i> Activar</a></li>
                              <li ng-if="item.idStatusKf>0"><a href="#" ng-click="sysFunctionsAtt('disabled',item.idAttendant)"><i title="Desactivar Inquilino" class="glyphicon glyphicon-remove-circle"></i> Desactivar</a></li>
                              <li ng-if="item.idStatusKf>0" role="presentation">
                              <div class="divider"></div>
                              </li>
                              <li ng-if="item.idStatusKf>0"><a href="#" ng-click="modalConfirmation('removeatt', 0, item)"><i title="Eliminar Usuario" class="glyphicon glyphicon-trash"></i> Eliminar</a></li>
                            </ul>
                          </div>
                          </td>
                          <td>{{item.nameAttendant}}</td>
                          <!--<td ng-if="item.phoneLocalNumberUser">{{item.phoneLocalNumberUser}}</td>
                          <td ng-if="!item.phoneLocalNumberUser"><span style="padding-top: 4px; margin-top: 10px; text-align: center;" class="alert alert-warning"> &nbsp &nbsp n/a</span></td>
                          <td ng-if="item.phoneNumberUser">{{item.phoneNumberUser}}</td>
                          <td ng-if="!item.phoneNumberUser"><span style="padding-top: 4px; margin-top: 10px; text-align: center;" class="alert alert-warning"> &nbsp &nbsp n/a</span>
                          </td>-->
                          <td>{{item.mailAttendant}}</td>
                          <td ng-if="!item.idTyepeAttendantKf"><label ng-if="item.idStatusKf==1" class="label label-warning">No Asignado
                            </label></td>
                          <td ng-if="item.idTyepeAttendantKf==1">Otros</td>
                          <td ng-if="item.idTyepeAttendantKf==2">Titular</td>
                          <td ng-if="item.idTyepeAttendantKf==3">Suplente</td>
                          <td ng-if="item.idTyepeAttendantKf==4">Ayudante</td>
                          <td ng-if="item.idTyepeAttendantKf==5">Intendente</td>
                          <td> <!-- TD to Admins -->
                            <label ng-if="item.idStatusKf==1" class="label label-success">ACTIVO
                            </label>
                            <label ng-if="item.idStatusKf==0" class="label label-warning">INACTIVO
                            </label>
                            <label ng-if="item.idStatusKf==-1" class="label label-danger"><del>ELIMINADO</del>
                            </label>
                          </td>
                        </tr>
                      </tbody>
                  </table>
                  <br><br><br><br><br>
                </div>
                <!--<div>
                  <pagination 
                      total-items="totalItems" 
                      ng-model="currentPage" 
                      ng-change="pageChanged()" 
                      class="pagination-sm" 
                      items-per-page="itemsPerPage"
                      max-size="maxSize"
                      boundary-links="true">
                  </pagination>
                </div>-->
            </div>
        </div>
      </div>
    </div>
  </div>
