<!-- USER REQUEST KEY UP FORM  rukeyup=Register Key Up-->
<div class="container">
  	<div class="panel panel-default">
      	<div class="panel-heading">
        	<h3 class="panel-title">ALTA DE LLAVE - {{mySwitch}}</h3>
    	</div>
    		<div class="panel-body">
			    <form class="form-horizontal" name="fkeyup" ng-submit="newTicket('up')" >
			    	<div ng-switch on="mySwitch">
						<fieldset ng-switch-when="PASO 1: DIRECCION">
								<legend style="visibility: hidden;"></legend>
							    <!-- Company Name-->    
					            <div class="form-group" ng-show="sessionidProfile!=3">
					              <label class="col-md-4 control-label">Administracion</label>
					                <div class="col-md-4">
					                  <div class="input-group">
					                      <span ng-show="sessionidProfile!=3" class="input-group-addon"><i class="icon-suitcase"></i></span>
					                    <input ng-show="sessionidProfile!=1 && sessionidProfile!=3" name="companyN"  disabled class="form-control" ng-model="$parent.companyN" />

					                    <select ng-show="sessionidProfile==1" name="idCompanyKf" class="form-control" ng-change="officeListByCompnayID(); CallFilterFormT(); enabledNextBtn();"  ng-options="item.idCompany as item.nameCompany for item in listCompany" ng-required="sessionidProfile==1" ng-model="select.idCompanyKf"  >
					                        <option value="">Seleccione una Administracion</option>
					                      </select>
					                  </div>
					                </div>
					            </div>     
								<!-- Address for Onwers-->      
								<div class="form-group" ng-disable="sessionidProfile!=3" ng-show="sessionidProfile==3">
								  	<label class="col-md-4 control-label">Direcci&#243n del Consorcio</label>
									    <div class="col-md-4">
										    <div class="input-group">
										        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
										  		<select name="idAddressAtt" class="form-control" ng-change="getAllAttendant(); enabledNextBtn(); select.idDepartmentKf=null;"  ng-options="item.idAdress as item.nameAdress for item in ListTenantAddress" ng-required="sessionidProfile!=3" ng-model="select.idAddressAtt" autofocus >
												    <option value="">Seleccione un consorcio</option>
											    </select>
										    </div>
									  	</div>
								</div>
								<!-- Address for Admins Consorcios-->      
					            <div class="form-group" ng-disable="sessionidProfile!=4" ng-show="sessionidProfile==4">
					                <label class="col-md-4 control-label">Direcci&#243n del Consorcio</label>
					                  <div class="col-md-4">
					                    <div class="input-group">
					                      <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
					                      <select name="idAddressAtt" class="form-control" ng-change="getAllAttendant(); enabledNextBtn(); getDeparment(0); editAttendant=false; saveAttendant=false; select.nameAtt=null; select.idDepartmentKf=null;"  ng-options="item.idAdressKf as item.nameAdress for item in listOffice" ng-required="sessionidProfile!=3" ng-model="select.idAddressAtt" autofocus >
					                        <option value="" >Seleccione un consorcio</option>
					                      </select>
					                    </div>
					                  </div>
					            </div>
								<!-- Text Address for Admins-->       
								<div class="form-group" ng-disable="sessionidProfile!=1" ng-show="sessionidProfile==1">
								  	<label class="col-md-4 control-label">Direcci&#243n del Consorcio</label>
									    <div class="col-md-4">
										    <div class="input-group">
										        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
										  		<select name="idAddressAtt" ng-disabled="companyFound!=true" class="form-control" ng-change="getAllAttendant(); enabledNextBtn(); editAttendant=false; saveAttendant=false; select.nameAtt=null; select.idDepartmentKf=null;"  ng-options="item.idAdressKf as item.nameAdress for item in listOffice" ng-required="sessionidProfile!=4" ng-model="select.idAddressAtt" autofocus >
												    <option value="">Seleccione un consorcio</option>
											    </select>
										    </div>
									  	</div>
								</div>
								<legend style="text-align: center;">DATOS DEL ENCARGADO</legend>
								<!-- Encargado First Name & Lastname -->
								<div class="form-group" ng-disable="sessionidProfile!=2" ng-show="sessionidProfile!=2">
								  	<label class="col-md-4 control-label">Nombres</label>  
									    <div class="col-md-4">
										    <div class="input-group">
										        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
										  		<select name="nameAtt" class="form-control" ng-disabled="attendantFound!=true"  ng-options="item.idAttendant as item.nameAttendant for item in listAttendant" ng-required="sessionidProfile!=2" ng-change="getAttData(); editAttendant=false; isAttUpdated=false; saveAttendant=false; enabledNextBtn(); collap=1;" ng-model="select.nameAtt" autofocus >
												    <option value="">Seleccione un encargado</option>
											    </select>
											    <!--BUTTONS -->
											    <span ng-show="attendantFound==true && sessionidProfile!=3 && select.nameAtt && !saveAttendant" style="cursor: pointer;" ng-click="editAttendant=true; saveAttendant=true;" class="input-group-addon"><a><i class="glyphicon glyphicon-edit"></i> Editar</a></span>
											    <span ng-show="attendantFound==true && sessionidProfile!=3 && select.nameAtt && editAttendant" style="cursor: pointer;" ng-click="editAttendant=false; sysFunctionsAtt('update'); saveAttendant=false;" class="input-group-addon"><a><i class="glyphicon glyphicon-save"></i> Guardar</a></span>
											    <span ng-show="(!attendantFound || attendantFound) && sessionidProfile!=3 && !select.nameAtt && select.idAddressAtt" style="cursor: pointer;" ng-click="sysFunctionsAtt('open')" class="input-group-addon"><a><i class="glyphicon glyphicon-plus"></i> Registrar</a>
											    </span>
											    <!-- //BUTTONS -->
										    </div>
									  	</div>
								</div>
								<!-- Text Local Phone -->       
								<div class="form-group">
								  <label class="col-md-4 control-label">Telefono Fijo</label>  
								    <div class="col-md-4">
									    <div class="input-group">
									        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
										  		<input name="localPhoneAtt" ng-disabled="!editAttendant && sessionidProfile!=0" placeholder="(___) _ __ - ____-____" class="form-control input--tel"  ng-model="tmp.localPhoneAtt" type="text" required autofocus />
									    </div>
								  </div>
								</div>
								<!-- Text Phone 2 -->       
								<div class="form-group">
								  <label class="col-md-4 control-label">Telefono Celular</label>  
								    <div class="col-md-4">
									    <div class="input-group">
									        <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
									  		<input name="movilPhoneAtt" ng-disabled="!editAttendant && sessionidProfile!=0" placeholder="(___) _ __ - ____-____" class="form-control input--tel"  ng-model="tmp.movilPhoneAtt" type="text" required autofocus />
									    </div>
								  </div>
								</div>
								<!-- Text Mail-->
								<div class="form-group">
								 <label class="col-md-4 control-label">E-Mail</label>
								   <div class="col-md-4">
								    <div class="input-group">
								    	<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
								  		<input name="emailAtt" ng-disabled="!editAttendant && sessionidProfile!=0" placeholder="E-Mail" class="form-control" ng-model="tmp.emailAtt"  type="email" required autofocus />
								    </div>
								  </div>
								</div>
						</fieldset>
						<fieldset ng-switch-when="PASO 2: SOLICITUD PARA">
							<div ng-if="select.idAddressAtt && sessionidProfile!=3" class="btn-group btn-group-justified">
					          <a href="#body" ng-model="collap1" ng-click="changeBody(1);" data-toggle="collapse" class="btn btn-primary">DEPARTAMENTO</a>
					          <a href="#body" ng-model="collap2" ng-click="changeBody(2);" data-toggle="collapse" class="btn btn-primary">EDIFICIO</a>
					      	</div><br><br>
      						<div id="body" ng-class="sessionidProfile==3 ? 'collapse in' : 'collapse'" ng-show="sessionidProfile!=0">
								<!--*********************DEPARTAMENTOS *******************************-->
								<div ng-if="collap==1 && sessionidProfile!=3 || sessionidProfile==3" class="panel panel-default">
									<div class="form-check form-check-inline">
										<div class="col-md-6 col-md-offset-3">
										    <label class="col-xs-6 ">
										  		<input type="radio" ng-click="getData(1); saveTenant=false; enabledNextBtn();" name="typeTenant" value="1" ng-model="typeTenant" required autofocus>
											  		<code ng-show="sessionidProfile==3">{{sessionNames}}</code>
											  		<code ng-show="sessionidProfile!=3">Propietario</code>
									  		</label> 
									  		<label class="col-xs-6">
										  		<input ng-click="getData(2); saveTenant=false; enabledNextBtn();" type="radio" name="typeTenant" value="2" ng-model="typeTenant" required autofocus>
											  		<code>Inquilino</code>
									  		</label> 
									 	</div>
									</div>
									<br><br>
									<!-- Select Department -->
									<div ng-show="sessionidProfile==1 || (sessionidProfile==3 && typeTenant!=0) || sessionidProfile==4" class="form-group"> 
									  <label class="col-md-4 control-label">Departamento</label>
									    <div class="col-md-4 selectContainer">
										    <div class="input-group">
										        <span style="cursor: pointer;" class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
										        <select ng-model="select.idDepartmentKf" ng-change="enabledNextBtn(); saveTenant=false; searchTenant('ticket');" ng-disabled="dptoNotFound!=false" class="form-control" ng-options="x.idDepartment as x.departmentFloor for x in ListDpto " required autofocus >
										        	<option value="" >Seleccione</option>
											    	</select>
											    <span style="cursor: pointer;" ng-click="searchTenant('ticket')" ng-show="typeTenant!=1 || sessionidProfile!=3" class="input-group-addon"><a><i class="glyphicon glyphicon-search"></i> Buscar</a></span><span ng-show="tenantNotFound" style="cursor: pointer;" ng-click="sysFunctionsTenant('open', 'add')" class="input-group-addon"><a><i class="glyphicon glyphicon-plus"></i> Registrar</a></span>
										  	</div>
										</div>
									</div>
									<br>
									<!-- Owner First Name & Lastname -->
									<div class="form-group">
									  <label class="col-md-4 control-label">Nombre y Apellido</label>  
										  <div class="col-md-4">
											  <div class="input-group">
												  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
												  <input  name="namesTenant" ng-disabled="sessionidProfile==3 && typeTenant!=2" autofocus="true" placeholder="Nombre y Apellido" class="form-control" ng-model="tenant.namesTenant"  type="text" required="true" required autofocus />
											   		<!--BUTTONS -->
												    <span ng-show="tenant.namesTenant && sessionidProfile!=0 && select.idDepartmentKf>0 && !saveTenant" style="cursor: pointer;" ng-click="editTenant=true; saveTenant=true;" class="input-group-addon"><a><i class="glyphicon glyphicon-edit"></i> Editar</a></span>
												    <span ng-show="saveTenant && sessionidProfile!=0" style="cursor: pointer;" ng-click="" class="input-group-addon"><a><i class="glyphicon glyphicon-save"></i> Guardar</a></span>
												    <!-- //BUTTONS -->
											  </div>
										  </div>
									</div>
									<!-- Text Owner Phone 1 -->      
									<div class="form-group">
									  <label class="col-md-4 control-label">Telefono Fijo</label>  
									    <div class="col-md-4">
										    <div class="input-group">
										        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
										  		<input name="localPhoneTenant" ng-disabled="sessionidProfile==3 && typeTenant!=2"  placeholder="(___) _ __ - ____-____" class="form-control input--tel"  ng-model="tenant.localPhoneTenant" type="text" required autofocus />
										    </div>
									  </div>
									</div>
									<!-- Text Owner Phone 2 -->     
									<div class="form-group">
									  <label class="col-md-4 control-label">Telefono Celular</label>  
									    <div class="col-md-4">
										    <div class="input-group">
										        <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
										  		<input name="movilPhoneTenant" ng-disabled="sessionidProfile==3 && typeTenant!=2" placeholder="(___) _ __ - ____-____" class="form-control input--tel"  ng-model="tenant.movilPhoneTenant" type="text" required autofocus />
										    </div>
									  </div>
									</div>
									<!-- Text Mail-->
									<div class="form-group">
									 <label class="col-md-4 control-label">E-Mail</label>  
									   <div class="col-md-4">
									    <div class="input-group">
									    	<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
									  		<input name="emailTenant" ng-disabled="sessionidProfile==3 && typeTenant!=2" placeholder="E-Mail" class="form-control" ng-model="tenant.emailTenant"  type="email" required autofocus />
									    </div>
									  </div>
									</div>
								</div>
								<!--*********************EDIFICIO *******************************-->
								<div ng-if="collap==2 && sessionidProfile!=3" class="panel panel-default">
									<div class="form-check form-check-inline">
										<div class="col-md-6 col-md-offset-3">
										    <label class="col-xs-4 ">
										  		<input type="radio" ng-click=" enabledNextBtn(1);" name="typeOption" value="1" ng-model="typeOption" required autofocus>
											  		<code >Encargado</code>
									  		</label> 
									  		<label class="col-xs-4">
										  		<input ng-click="  enabledNextBtn(2);" type="radio" name="typeOption" value="2" ng-model="typeOption" required autofocus>
											  		<code>Edificio</code>
									  		</label> 
									  		<label class="col-xs-4">
										  		<input ng-click="  enabledNextBtn(3);" type="radio" name="typeOption" value="3" ng-model="typeOption" required autofocus>
											  		<code>Otros</code>
									  		</label>
									 	</div>
									</div>
									<br><br>
									<!-- OTHER ATTENDANT -->
									<div ng-if="sessionidProfile!=3 && typeOption == 3" class="row">
										<!-- List type of Attendant-->    
										<div class="form-group" ng-show="sessionidProfile!=3">
										  <label class="col-md-4 control-label">Tipo de Encargado</label>   
										    <div class="col-md-4">
											    <div class="input-group">
											        <span class="input-group-addon"><i class="glyphicon icon-building"></i></span>
											  		<select name="idTypeAttKf" class="form-control"  ng-options="item.idTyepeAttendant as item.nameTypeAttendant for item in listTypeAttendant" ng-model="other.idTypeAttTmp" autofocus disabled>
													    <option value="">Seleccione una opcion</option>
												    	</select>
											    </div>
										  </div>
										</div>
										<!-- Other Attendant First Name & Lastname -->
										<div class="form-group">
										  <label class="col-md-4 control-label">Nombres</label>  
											  <div class="col-md-4">
												  <div class="input-group">
													  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
													  <input  name="fullNamesAtt" placeholder="Nombre y Apellido" class="form-control" ng-model="other.fullNamesAtt"  type="text" required="true" required autofocus />
												  </div>
											  </div>
										</div>
										<!-- Text Owner Phone 1 -->      
										<div class="form-group">
										  <label class="col-md-4 control-label">Telefono Fijo</label>  
										    <div class="col-md-4">
											    <div class="input-group">
											        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
											  		<input name="phonelocalAtt" placeholder="(___) _ __ - ____-____" class="form-control input--tel"  ng-model="other.phonelocalAtt" type="text" autofocus />
											    </div>
										  </div>
										</div>
										<!-- Text Owner Phone 2 -->     
										<div class="form-group">
										  <label class="col-md-4 control-label">Telefono Celular</label>  
										    <div class="col-md-4">
											    <div class="input-group">
											        <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
											  		<input name="phoneMovilAtt" placeholder="(___) _ __ - ____-____" class="form-control input--tel"  ng-model="other.phoneMovilAtt" type="text" autofocus />
											    </div>
										  </div>
										</div>
										<!-- Text Mail-->
										<div class="form-group">
										 <label class="col-md-4 control-label">E-Mail</label>  
										   <div class="col-md-4">
										    <div class="input-group">
										    	<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
										  		<input name="emailAtt" ng-blur="enabledNextBtn();" placeholder="E-Mail" class="form-control" ng-model="other.emailAtt"  type="email" required autofocus />
										    </div>
										  </div>
										</div>
									</div>
								</div>
							</div>
						</fieldset>
						<fieldset ng-switch-when="PASO 3: DATOS DE LA SOLICITUD">
							<div class="row justify-content-md-center">
								<!-- Form Key Quantity qku = Quantity Keys Up-->
								<div class="form-group col-lg-6">
								  <label class="col-md-5 control-label" >Cantidad de llaves</label> 
									<div class="col-md-6 input-group">
							  		  <span class="input-group-addon"><i class="glyphicon icon-key"></i></span>
							  			<select name="qkuTenant" ng-change="getTotalService()" class="form-control" placeholder="Seleccione la cantidad de llaves"  ng-model="quantity.qkuTenant" required autofocus >
											    <option value=""></option>
											    <option value="1">1</option>
											    <option value="2">2</option>
											    <option value="3">3</option>
											    <option value="4">4</option>
											    <option value="5">5</option>
								    	</select>
							    	</div>
								</div>
								<!-- Select Type of Delivery -->   
								<div class="form-group col-lg-6"> 
								  <label class="col-md-5 control-label">Tipo de Entrega</label>
								    <div class="col-md-6 input-group">
								        <span class="input-group-addon"><i class="glyphicon icon-truck"></i></span>
										    <select name="idTypeDeliveryKf" ng-change="getTotalService()" class="form-control" ng-change=""  ng-options="item.idTypeDelivery as item.typeDelivery for item in listTypeDelivery" ng-model="delivery.idTypeDeliveryKf" required autofocus >
										    <option value=""></option>
									    	</select>
								  	</div>
								</div>
							</div>
							<div class="row">
							<!-- Form Special Request sru= Special Request Up -->
								<div class="form-group col-md-6">
								  <label class="col-md-4 control-label" >Observaciones Adicionales</label> 
									<div class="col-md-6 input-group">
								  		<textarea style="resize: vertical;" name="sruTenant" rows="9" placeholder="Describa aqui si desea realizar una solicitud especial." class="form-control" ng-model="txt.sruTenant" ></textarea>
									</div>
								</div>
								<div class="form-group col-md-6 "> 
									<legend>Costos de Servicios</legend>
									  <div class="col-md-4">
									  	<label class="control-label">Gestion</label> 
										  <div class=" input-group">
											  <input disabled style="text-align: right;"  name="cost.service" autofocus="true" placeholder="$0,00" class="form-control" ng-model="cost.service"  type="text" required autofocus/>
										  </div>
									  </div>
									  <div class="col-md-4 ">
									  	<label class="control-label">Llave</label> 
										  <div class="input-group">
											  <input disabled  style="text-align: right;"" name="cost.key" autofocus="true" placeholder="$0,00" class="form-control" ng-model="cost.key"  type="text" required autofocus/>
										  </div>
									  </div>
									  <div class="col-md-4">
									  	<label class="control-label">Envio</label> 
										  <div class="input-group">
											  <input disabled style="text-align: right;"" name="cost.delivery" autofocus="true" placeholder="$0,00" class="form-control" ng-model="cost.delivery"  type="text" required autofocus/>
										  </div>
									  </div>
								</div>
								<div class="form-group col-md-6 "> 
									  <div class="pull-right">
									  	<label class="control-label">Total</label> 
										  <div class="input-group">
											  <input disabled style="text-align: right"; name="cost.total" autofocus="true" placeholder="$0,00" class="form-control" ng-model="cost.total"  type="text" required autofocus/>
										  </div>
									  </div>
								</div>
							</div>
						</fieldset>
					</div>
					<!-- Actions Button -->
					<div class="form-group">
					  <label class="col-md-4"></label>
					  <div class="col-md-4">
					  	<input type="button" ng-click="decrementStep();" ng-show="btnBack" class="btn btn-primary" value="Atras" />	
				  		<input type="button" ng-click="incrementStep(); enabledNextBtn();" ng-disabled="formValidated!=true" ng-show="btnShow" class="btn btn-primary" value="Siguiente"/>
				  		<button type="submit" ng-show="!hasNextStep()" class="btn btn-primary" >Enviar</button>
					  </div><!--  -->
					</div>
				</form>
			</div>
	</div>
</div>
