	<!--<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">ADMINISTRACION DEL SISTEMA<a ng-click="fnShowHide()" class="frmclose"><i alt="Cerrar" class="glyphicon glyphicon-remove-sign"> </i></a></h3>
		</div>
	      	<div class="panel-body">
		      	<div class="row"  >

    			</div>
	  		</div>
	</div>-->
<style type="text/css">
	img {
	  max-width: 100%;
	}
	a {
	  text-decoration: none;
	}
	#header {
	  float: left;
	  width: 100%;
	  background: #ffffff;
	  position: relative;
	}
	.white-label {
	  float: left;
	  background: #2A2D33;
	  max-width: 210px;
	  padding: 10px;
	  min-height: 69px;
	  background: #2A2D33;
	  width: 100%;
	  max-height: 44px;
	}
	.white-label img {
	  max-height: 43px;
	}
	.header-nav {
	  min-height: 64px;
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	  background: #279BE4;
	}
	.menu-button {
	  float: left;
	  font-size: 29px;
	}
	#sidebar {
	  overflow: hidden;
	  width: 210px;
	  height: 100%;
	  float: left;
	  background: #2A2D33;
	  margin-top: -45px;
	}
	#sidebar-nav {
	  width: 106%;
	  height: calc(100% - 95px);
	  padding: 0;
	  background: #2A2D33;
	  border-right: 1px solid #E0E0E0;
	  overflow-y: scroll;
	}
	#sidebar-nav h2 {
	  color: #60636B;
	  float: left;
	  width: 100%;
	  font-size: .8em;
	  font-family: 'Open Sans', sans-serif;
	  font-weight: 600;
	  text-transform: uppercase;
	  padding: 3px 0 2px 20px;
	  border-top: 1px solid #4D4C4C;
	  box-sizing: border-box;
	  margin: 10px 0;
	}


	#sidebar-nav div a{
	  color: #C2C2C2;
	  font-size: .95em;
	  padding: 15px 20px;
	  float: left;
	  width: 100%;
	  font-weight: 600;
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	}
	#sidebar-nav div:hover a {
	  background: #fff;
	  color: #333;
	}
	#sidebar-nav div.active {
	  background: #fff;
	  color: #333;
	}
	#sidebar-nav div.active a i {
	  background: #fff;
	}
	#sidebar-nav i {
	  padding-right: 8px;
	  font-size: 1.3em;
	  color: #60636B;
	  width: 25px;
	  text-align: center;
	}
	#content {
	  float: left;
	  width: calc(100% - 210px);
	  height: 100%;
	  word-wrap: break-word;
	  background: #FFFFFF;
	  font-family: Raleway, sans-serif;
	}
	::-webkit-scrollbar {
	    width: 12px;
	}
	::-webkit-scrollbar-track {
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	    border-radius: 10px;
	}
	::-webkit-scrollbar-thumb {
	    border-radius: 10px;
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
	}
	.content {
	  float: left;
	  background: #E9EEF4;
	  width: 100%;
	  height: calc(100% - 64px);
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	  margin-top: -20px;
	}
	.content-header {
	  background: #fff;
	  float: left;
	  width: 100%;
	  margin-bottom: 15px;
	  padding: 0 0 0 15px;
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	  border-bottom: 1px solid #ccc;
	}
	.content-header h1 {
	  margin: 0;
	  font-weight: normal;
	  padding-bottom: 5px;
	}
	.content-header p {
	  margin: 0;
	  padding-left: 2px;
	}
	.widget-box {
	  background: #fff;
	  border: 1px solid #E0E0E0;
	  float: left;
	  width: 100%;
	  margin: 0 0 15px 15px;
	}
	.widget-header {
	  background: #279BE4;
	}
	.widget-header h2 {
	  font-size: 15px;
	  font-weight: normal;
	  margin: 0;
	  padding: 11px 15px;
	  color: #F9F9F9;
	  display: inline-block;
	}
	.sample-widget {max-width: 47%;}
	.widget-box .icon-cog {
	  float: right;
	  color: #fff;
	  margin: 11px 11px 0 0;
	  font-size: 20px;
	}
</style>
<section id="sidebar"> 
  <div class="white-label"></div> 
  <div id="sidebar-nav">   
      <div ng-click="sideBarMenu()"><a href="#"><i class="icon-group"></i> Registrar Usuarios</a></div>
      <div><a href="#"><i class="icon-user"></i>Registrar Encargados</a></div>
      <div><a href="#"><i class="icon-envelope"></i>Configurar Correos</a></div>
      <div><a href="#"><i class="icon-usd"></i>Configurar costos</a></div>
      <div><a href="#"><i class="icon-bar-chart"></i> Reportes</a></div>
  </div>
  <div class="white-label"></div> 
</section>
<section id="content">
  <div class="content">
	    <div class="content-header">
	      <h1>Administracion del Sistema</h1>
	    </div>
	    <div class="widget-box sample-widget">
	      <div class="widget-header">
	        <h2>Usuarios Recientes Registrados</h2>
	      </div>
	      	<div class="widget-content">
		        <table class="table  table-striped ">
	                <thead style=" background: #4d5d6f; color: white;">
	                    <tr >
	                        <th>ID</th>
	                        <th><i class="glyphicon glyphicon-user"> </i> Nombres</th>
	                        <th><i class="glyphicon glyphicon-envelope"> </i> Correo</th>
	                        <th>Perfil</th>
	                        <th><i class="glyphicon icon-flag"> </i> Status</th>
	                        <th><i class="glyphicon icon-calendar"> </i> Registrado</th>
	                    </tr>
	                </thead>
	                <tbody>
	                    <tr style="align-content: center; cursor: pointer;" data-ng-repeat="item in listUser | orderBy:'item.idUser'">
	                        <td>{{item.idUser}}</td>
	                        <td>{{item.fullNameUser}}</td>
	                        <td>{{item.emailUser}}</td>
	                        <td ng-if="item.idProfileKf==1">Coferba</td>
	                        <td ng-if="item.idProfileKf==2">Empresa</td>
	                        <td ng-if="item.idProfileKf==3">Propietario</td>
	                        <td ng-if="item.idProfileKf==4">Admin. Consorcio</td>
	                        <td>
	                        	<div class="btn-group">
									<span  ng-if="item.idStatusKf==1" class="btn btn-success"> ACTIVO</span>
	                				<span  ng-if="item.idStatusKf==0" class="btn btn-warning"> INACTIVO</span>
	                				<span  ng-if="item.idStatusKf<0" class="btn btn-danger"> ELIMINADO</span>
								</div>
	                        </td>
	                        <td>{{item.dateCreated}}</td>
	                    </tr>
	                </tbody>
				</table>
    		</div>
	  	</div>
	    <div class="widget-box sample-widget">
		    <div class="widget-header">
		    	<h2>Correo Principal: PARAMETRO {{ParameterId}}</h2>
		    </div>
	      	<div class="widget-content">
	        	<!-- FORM CONTAINER-->
				<form class="form-horizontal" name="frmsmtpMail" ng-init="" ng-submit="">
					<fieldset>
					<!-- Old Password-->

					<div class="form-group">
					  <label class="col-md-4 control-label">Correo SMTP</label>  
					    <div class="col-md-4">
						    <div class="input-group">
						        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
						  		<input id="smtpMail" placeholder="Correo principal" class="form-control" ng-model="smtpMail" minlength="8" type="mail" required autofocus />
						    </div>
						</div>
					</div>
					<!-- Password-->

					<div class="form-group">
					  <label class="col-md-4 control-label">Contrase&#241a</label>  
					    <div class="col-md-4">
						    <div class="input-group">
						        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
						  		<input id="passwordSmtp" placeholder="Contrase&#241a" class="form-control" ng-model="passwordSmtp" minlength="8" type="text" required autofocus />
						    </div>
						</div>
					</div>
					<!-- Actions Button -->
					<div class="form-group">
					  <label class="col-md-4 control-label"></label>
					  <div class="col-md-4">
					    <button type="submit" class="btn btn-primary" >Fijar</button>
					  </div>
					</div>

					</fieldset>
				</form>
	      	</div>
	    </div>
	    <div class="widget-box sample-widget">
		    <div class="widget-header">
		       	<h2>Costos de Servicios</h2>
		    </div>
	      <div class="widget-content">
	        <!-- content here -->
	      </div>
	    </div>
	      <div class="widget-box sample-widget">
	      <div class="widget-header">
	        <h2>Parametros</h2>
	      </div>
	      <div class="widget-content">
	         <!-- content here -->
	      </div>
	    </div>  
  </div>
</section>
<div id="EditModalUser" class="modal fade bd-example-modal-lg" style="top: 20px;" role="dialog">
  	<div class="modal-dialog modal-lg" >
	    <div class="modal-content">
	      	<div class="modal-body">
				<div class="agileits-w3layouts"> 
		          	<div class="panel panel-default">
		              	<div class="panel-heading">
		                	<h3 class="panel-title">ACTUALIZAR USUARIO<a ng-click="closeModal('up')" class="frmclose"><i title="Cerrar" class="glyphicon glyphicon-remove-sign"> </i></a></h3>
		            	</div>
		            		<div class="panel-body" style="overflow-y: scroll;">
								<!-- FORM CONTAINER-->
			    				<form class="form-horizontal" name="fUpdateUser" ng-init="CallFilterFormU(); getAllAddress();" ng-submit="updateUser()">
									<fieldset>
									<!-- Select profile --> 
									<div class="form-group"> 
									  <label class="col-md-4 control-label">Perfil</label>
									    <div class="col-md-4 selectContainer">
										    <div class="input-group">
										        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
												    <select name="idProfileKf" class="form-control"  ng-options="item.idProfile as item.nameProfile for item in listProfile | filter:hideProfiles" ng-model="$parent.idProfileKf"  required autofocus >
												    	<option value=""></option>
											    	</select>
										  	</div>
										</div>
									</div>
									<!-- Company List-->
									      
									<div class="form-group" ng-show="sessionidProfile==1">  
									    <div class="col-md-4">
										    <div class="input-group">
										        <span class="input-group-addon"><i class="glyphicon glyphicon-cog"></i></span>
										  		<select name="idCompanyKf" class="form-control"  ng-options="item.idCompany as item.nameCompany for item in listCompany" ng-required="idProfileKf==2" ng-model="$parent.idCompanyKf"  >
												    	<option value=""></option>
											    	</select>
										    </div>
									  </div>
									</div>
									<!-- List Address-->
  
									<div class="form-group" ng-show="sessionidProfile==1">
									  <label class="col-md-4 control-label">Direcci&#243n</label>  
									    <div class="col-md-4">
										    <div class="input-group">
										        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
										  		<select name="idAddressKf" class="form-control"  ng-options="item.idAdress as item.nameAdress for item in ListAddress" ng-required="idProfileKf!=2" ng-model="$parent.idAddressKf" autofocus >
												    	<option value="">Seleccione una direccion</option>
											    	</select>
										    </div>
									  </div>
									</div>
									<!-- Form First Name -->
									<div class="form-group">
									  <label class="col-md-4 control-label">Nombres</label>  
										  <div class="col-md-4">
											  <div class="input-group">
												  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
												  <input  name="fname" autofocus="true" placeholder="Nombre" class="form-control" ng-model="namesUser"  type="text" required autofocus/>
											  </div>
										  </div>
									</div>
									<!-- Text Mail-->

									<div class="form-group">
									 <label class="col-md-4 control-label">E-Mail</label>  
									   <div class="col-md-4">
									    <div class="input-group">
									    	<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
									  		<input name="emailUser" placeholder="E-Mail" class="form-control" ng-model="$parent.emailUser"  type="email" required autofocus />
									    </div>
									  </div>
									</div>
									<!-- Text Phone-->
									       
									<div class="form-group">
									  <label class="col-md-4 control-label">Telefono Local</label>  
									    <div class="col-md-4">
										    <div class="input-group">
										        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
										  		<input name="phoneLocal" placeholder="(11) 555-1212" class="form-control" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" maxlength="12" ng-model="phonelocalNumberUser"  type="text" required autofocus />
										    </div>
									  </div>
									</div>
									<!-- Text Phone-->
									       
									<div class="form-group">
									  <label class="col-md-4 control-label">Telefono Movil</label>  
									    <div class="col-md-4">
										    <div class="input-group">
										        <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
										  		<input name="phoneMovil" placeholder="(11) 555-1212" class="form-control" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" maxlength="12" ng-model="phoneNumberUser"  type="text" required autofocus />
										    </div>
									  </div>
									</div>

									<!-- Actions Button -->
									<div class="form-group">
									  <label class="col-md-4 control-label"></label>
									  <div class="col-md-4">
									    <button type="submit" class="btn btn-primary" >Actualizar <!--<span class="glyphicon glyphicon-ok"></span>--></button>
									  </div>
									</div>

									</fieldset>
								</form>
								<div class="clearfix"> </div> 
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
