<!-- USER REQUEST KEY UP FORM  rukeyup=Register Key Up-->
		<div class="container">
          	<div class="panel panel-default">
              	<div class="panel-heading">
                	<h3 class="panel-title">ALTA DE LLAVE - {{mySwitch}}<a ng-click="fnShowHide()" class="frmclose"><i alt="Cerrar" class="glyphicon glyphicon-remove-sign"> </i></a></h3>
            	</div>
            		<div class="panel-body">
				    <form class="form-horizontal" name="fkeyup" ng-init="CallFilterFormT(); CallFilterDpto()" ng-submit="newTicket('up')" >
				    		<div ng-switch on="mySwitch">
								<fieldset ng-switch-when="PASO 1: DATOS DEL ENCARGADO">
									<!-- Text Address-->      
									<div class="form-group" ng-disable="idProfileKf!=2" ng-show="idProfileKf!=2">
									  	<label class="col-md-4 control-label">Direcci&#243n</label>
										    <div class="col-md-4">
											    <div class="input-group">
											        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
											  		<select name="idAddressAtt" class="form-control" ng-change="getAllAttendant()"  ng-options="item.idAdress as item.nameAdress for item in ListAddress" ng-required="idProfileKf!=2" ng-model="select.idAddressAtt" autofocus >
													    <option value=""></option>
												    </select>
											    </div>
										  	</div>
									</div>
									<!-- Encargado First Name & Lastname -->
									<div class="form-group" ng-disable="idProfileKf!=2" ng-show="idProfileKf!=2">
									  	<label class="col-md-4 control-label">Nombres</label>  
										    <div class="col-md-4">
											    <div class="input-group">
											        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
											  		<select name="nameAtt" class="form-control"  ng-options="item.idAttendant as item.nameAttendant for item in listAttendant" ng-required="idProfileKf!=2" ng-change="getData(3)" ng-model="select.nameAtt" autofocus >
													    <option value=""></option>
												    </select>
											    </div>
										  	</div>
									</div>
									<!-- Text Local Phone -->       
									<div class="form-group">
									  <label class="col-md-4 control-label">Telefono local</label>  
									    <div class="col-md-4">
										    <div class="input-group">
										        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
											  		<input name="localPhoneAtt" placeholder="(11) 555-1212" class="form-control" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" maxlength="12" ng-model="$parent.localPhoneAtt" type="text" required autofocus />
										    </div>
									  </div>
									</div>
									<!-- Text Phone 2 -->       
									<div class="form-group">
									  <label class="col-md-4 control-label">Telefono Celular</label>  
									    <div class="col-md-4">
										    <div class="input-group">
										        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
										  		<input name="movilPhoneAtt" placeholder="(11) 555-1212" class="form-control" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" maxlength="12" ng-model="movilPhoneAtt" type="text" required autofocus />
										    </div>
									  </div>
									</div>
									<!-- Text Mail-->
									<div class="form-group">
									 <label class="col-md-4 control-label">E-Mail</label>
									   <div class="col-md-4">
									    <div class="input-group">
									    	<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
									  		<input name="emailAd" placeholder="E-Mail" class="form-control" ng-model="emailAtt"  type="email" required autofocus />
									    </div>
									  </div>
									</div>
								</fieldset>
								<fieldset ng-switch-when="PASO 2: SOLICITUD PARA">
									<!-- Type of Tenant -->
									<div class="form-group">
										<div class="col-md-6 col-md-offset-3">
										    <label class="col-xs-6 ">
										  		<input type="radio" ng-click="getData(1)" name="typeTenant" value="1" ng-model="typeTenant" required autofocus>
											  		<code ng-show="sessionidProfile==3">{{sessionNames}}</code>
											  		<code ng-show="sessionidProfile!=3">Propietario</code>
									  		</label> 
									  		<label class="col-xs-6">
										  		<input ng-click="getData(2)" type="radio" ng-checked="1" name="typeTenant" value="2" ng-model="typeTenant" required autofocus>
											  		<code>Inquilino</code>
									  		</label> 
									 	</div>
									</div>
									<!-- Select Department -->
									<div ng-show="sessionidProfile==1 || (sessionidProfile==3 && typeTenant==2) || sessionidProfile==4" class="form-group"> 
									  <label class="col-md-4 control-label">Departamento</label>
									    <div class="col-md-4 selectContainer">
										    <div class="input-group">
										        <span style="cursor: pointer;" ng-click="searchOwner('a')" class="input-group-addon"><a><i class="glyphicon glyphicon-search"></i></a></span>
										        <select ng-model="select.idDepartmentKf" class="form-control" ng-options="x.idDepartment as x.departmentFloor for x in ListDpto" required autofocus >
										        	<option value="" >Seleccione</option>
											    	</select>
										  	</div>
										</div>
									</div>
								</fieldset>
								<fieldset ng-switch-when="PASO 3: DATOS PERSONALES">
									<!-- Owner First Name & Lastname -->
									<div class="form-group">
									  <label class="col-md-4 control-label">Nombre y Apellido</label>  
										  <div class="col-md-4">
											  <div class="input-group">
												  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
												  <input  name="namesTenant" autofocus="true" placeholder="Nombre y Apellido" class="form-control" ng-model="namesTenant"  type="text" required="true" required autofocus />
											  </div>
										  </div>
									</div>
									<!-- Text Owner Phone 1 -->      
									<div class="form-group">
									  <label class="col-md-4 control-label">Telefono Local</label>  
									    <div class="col-md-4">
										    <div class="input-group">
										        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
										  		<input name="localPhoneTenant" placeholder="(11) 555-1212" class="form-control" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" maxlength="12" ng-model="$parent.localPhoneTenant" type="text" required autofocus />
										    </div>
									  </div>
									</div>
									<!-- Text Owner Phone 2 -->     
									<div class="form-group">
									  <label class="col-md-4 control-label">Telefono Celular</label>  
									    <div class="col-md-4">
										    <div class="input-group">
										        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
										  		<input name="movilPhoneTenant" placeholder="(11) 555-1212" class="form-control" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" maxlength="12" ng-model="movilPhoneTenant" type="text" required autofocus />
										    </div>
									  </div>
									</div>
									<!-- Text Mail-->
									<div class="form-group">
									 <label class="col-md-4 control-label">E-Mail</label>  
									   <div class="col-md-4">
									    <div class="input-group">
									    	<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
									  		<input name="emailTenant" placeholder="E-Mail" class="form-control" ng-model="emailTenant"  type="email" required autofocus />
									    </div>
									  </div>
									</div>
									<!-- Form Key Quantity qku = Quantity Keys Up-->
									<div class="form-group">
									  	<label class="col-md-4 control-label" >Cantidad de llaves</label> 
									  		<div class="col-md-4">
												<div class="input-group">
										  			<span class="input-group-addon"><i class="glyphicon icon-key"></i></span>
										  				<select name="qkuTenant" class="form-control" placeholder="Seleccione la cantidad de llaves"  ng-model="$parent.qkuTenant" required autofocus >
														    <option value=""></option>
														    <option value="1">1</option>
														    <option value="2">2</option>
														    <option value="3">3</option>
														    <option value="4">4</option>
														    <option value="5">5</option>
											    		</select>
												</div>
									  		</div>
									</div>
									<!-- Select Type of Delivery -->   
									<div class="form-group"> 
									  <label class="col-md-4 control-label">Tipo de Entrega</label>
									    <div class="col-md-4 selectContainer">
										    <div class="input-group">
										        <span class="input-group-addon"><i class="glyphicon icon-truck"></i></span>
												    <select name="idTypeDeliveryKf" class="form-control" ng-change=""  ng-options="item.idTypeDelivery as item.typeDelivery for item in listTypeDelivery" ng-model="$parent.idTypeDeliveryKf" required autofocus >
												    <option value=""></option>
											    	</select>
										  	</div>
										</div>
									</div>
									<!-- Form Special Request sru= Special Request Up -->
									<div class="form-group">
									  <label class="col-md-4 control-label" >Observaciones Adicionales</label> 
									  	<div class="col-md-4">
											<div class="input-group">
										  		<textarea name="sruTenant" rows="10" cols="50" placeholder="Describa aqui si desea realizar una solicitud especial." class="form-control" ng-model="sruTenant" ></textarea>
											</div>
									  	</div>
									</div>
								</fieldset>
							</div>
							<!-- Actions Button -->
							<div class="form-group">
							  <label class="col-md-4"></label>
							  <div class="col-md-4">
							  	<input type="button" ng-click="decrementStep()" ng-show="btnBack" class="btn btn-primary" value="Atras" />	
						  		<input type="button" ng-click="incrementStep()" ng-show="btnShow" class="btn btn-primary" value="Siguiente"/>
						  		<button type="submit" ng-show="!hasNextStep()" class="btn btn-primary" >Enviar</button>
							  </div>
							</div>
						</form>
					</div>
			</div>
		</div>