<!--LINK HEADER -->
<script src="../../../assets/js/angular.min.js"></script>
<div  ng-app="coferbaApp" ng-controller="coferbaCtrl">
<div ng-include="'../../Partial/Header.html'"></div>

<!--MENU-->
<div ng-include="'../../Partial/Menu.html'"></div>

<!--USER LOGIN-->
<span>Usuario: </span><br>
<input type="text"  ng-model="uname" name="uname"><br>
<span>Password: </span><br>
<input type="text"  ng-model="upawd" name="upawd"><br><br>
<input type="button" value="Entrar" ng-click="ulogin" name="ulogin">









<!--LINK FOOTER -->
<div ng-include="'../../Partial/Footer.html'"></div>
</div>
<!--***********-->
<script src="../js/user.js"></script> <!-- CONTROLADOR ANGULAR -->

