<!-- USER LOGIN FORM -->
<div id="frm_loginU"> 
	<div class="container">
		<br>
          <div class="panel panel-default-login" >
              	<div class="panel-heading">
                	<h3 class="panel-title">LOGIN COFERBA</h3>
            	</div>
            		<div class="panel-body">
						<!-- FORM CONTAINER-->
				    	<form name="frmLogin" class="form-horizontal" id="frmLogin" ng-submit="sysLogin('login')">
							<fieldset>
							<!-- Text Mail E-Mail-->
								<div class="form-group" ng-class="{ 'has-error': frmLogin.email.$dirty && frmLogin.email.$error.required }">
									 <label for="">Email</label>  
									   <div class="">
									    <div class="input-group">
									    	<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
									  		<input name="emailLogin" placeholder="E-Mail" class="form-control" ng-model="Login.email" type="email" required autofocus />
									    </div>
									  </div>
								</div>
							<!-- Text Password Contrase&#241a-->
								<div class="form-group" ng-class="{ 'has-error': frmLogin.password.$dirty && frmLogin.password.$error.required }">
								  <label class="">Contrase&#241a</label>  
								    <div class="">
								    <div class="input-group">
								        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
								  		<input name="passwordLogin" placeholder="Contrase&#241a" class="form-control" ng-model="Login.password" type="password" required autofocus />
								    </div>
									</div>
								</div>
							<!-- Actions Button -->
								<div class="form-actions">
									<button id="btnLogin" type="submit" class="btn-primary-system" >LOGIN <!--<span class="glyphicon glyphicon-ok"></span>--></button>
								  	<a class="lostPass">Olvide mi contrase&#241a <i class="icon-cogs icon-2x"></i></a>
							  	</div>
							</fieldset>
						</form>
 					</div> 
			</div>
	</div>
</div>