<!-- USER REQUEST SERVICE  ruservice=Register Request User Service-->
<div class="agileits-w3layouts"> 
	<div class="container">
		<br>
          	<div class="panel panel-default">
              	<div class="panel-heading">
                	<h3 class="panel-title">SOLICITUD DE SERVICIO<a ng-click="fnShowHide()" class="frmclose"><i alt="Cerrar" class="glyphicon glyphicon-remove-sign"> </i></a></h3>
            	</div>
            		<div class="panel-body">
						<!-- FORM CONTAINER-->
				    	<form class="form-horizontal" name="fservice" ng-init="CallFilterFormT(); checkRS=false">
							<fieldset>
							<legend style="text-align: center;">Datos del Encargado</legend><br/>

							  <!-- Admin First Name & Lastname -->
							      
							<div ng-show="sessionidProfile==1 || sessionidProfile==4" class="form-group">
							  <label class="col-md-4 control-label">Nombre y Apellido</label> 
							    <div class="col-md-4">
								    <div class="input-group">
								        <span class="input-group-addon"><i class="glyphicon glyphicon-cog"></i></span>
								  		<input  name="namesAd" autofocus="true" placeholder="" class="form-control" ng-model="namesAd"  type="text" />
								    </div>
							  </div>
							</div>
							<!-- Company names-->

							<div ng-show="sessionidProfile==2 || sessionidProfile==4" class="form-group">
							  <label class="col-md-4 control-label">Razon Social</label>  
								  <div class="col-md-4">
									  <div class="input-group">
										  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
										  <input name="razonSocial" placeholder="Razon Social" class="form-control" ng-model="razonSocial" type="text" />
									  </div>
								  </div>
							</div>
							<!-- Text Phone 1 -->
							       
							<div class="form-group">
							  <label class="col-md-4 control-label">Telefono local</label>  
							    <div class="col-md-4">
								    <div class="input-group">
								        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
								  		<input name="localPhoneAd" placeholder="(11) 555-1212" class="form-control" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" maxlength="12" ng-model="localPhoneAd" type="text" required autofocus />
								    </div>
							  </div>
							</div>
							<!-- Text Phone 2 -->
							       
							<div class="form-group">
							  <label class="col-md-4 control-label">Telefono Celular</label>  
							    <div class="col-md-4">
								    <div class="input-group">
								        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
								  		<input name="movilPhoneAd" placeholder="(11) 555-1212" class="form-control" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" maxlength="12" ng-model="movilPhoneAd" type="text" required autofocus />
								    </div>
							  </div>
							</div>
							<!-- Text Mail-->

							<div class="form-group">
							 <label class="col-md-4 control-label">E-Mail</label>  
							   <div class="col-md-4">
							    <div class="input-group">
							    	<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
							  		<input name="emailAd" placeholder="E-Mail" class="form-control" ng-model="emailAd"  type="email" required autofocus />
							    </div>
							  </div>
							</div>
							<legend style="text-align: center;">Datos del Servicio</legend><br/>
							<!-- Text Address-->
							      
							<div class="form-group">
							  <label class="col-md-4 control-label">Direcci&#243n</label>  
							    <div class="col-md-4">
								    <div class="input-group">
								        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
								  		<input name="addressAd" placeholder="Direcci&#243n" class="form-control" ng-model="addressAd" type="text" required autofocus />
								    </div>
							  </div>
							</div>
							<!-- Select Type of Service -->
							   
							<div class="form-group"> 
							  <label class="col-md-4 control-label">Tipo de Servicio</label>
							    <div class="col-md-4 selectContainer">
								    <div class="input-group">
								        <span class="input-group-addon"><i class="glyphicon icon-ban-circle"></i></span>
										    <select name="idTypeLostKf" class="form-control" placeholder="Tipo de Servicio" ng-change="getSelectedData()" ng-options="item.idReasonDisabledItem as item.reasonDisabledItem for item in listTypeLost" ng-model="idTypeLostKf" required autofocus />
									    	</select>
								  	</div>
								</div>
							</div>
							<!-- Form service description -->

							<div class="form-group">
							  <label class="col-md-4 control-label" >Descripci&#243n</label> 
							  	<div class="col-md-4">
									<div class="input-group">
								  		<textarea name="detailSv" rows="10" cols="50" placeholder="Especifique aqui el servicio a solicitar." class="form-control" ng-model="detailSv"  required autofocus ></textarea>
									</div>
							  	</div>
							</div>
							<!-- Form Special Request sru= Special Request Up -->

							<div class="form-group">
							  <label class="col-md-4 control-label" >Observaciones Adicionales</label> 
							  	<div class="col-md-4">
									<div class="input-group">
								  		<textarea name="sruAd" rows="10" cols="50" placeholder="Describa aqui si desea realizar una solicitud especial." class="form-control" ng-model="sruAd" ></textarea>
									</div>
							  	</div>
							</div>

							<!-- Actions Button -->
							<div class="form-group">
							  <label class="col-md-4 control-label"></label>
							  <div class="col-md-4">
							    <button type="submit" ng-click="" class="btn btn-primary" >Solicitar <!--<span class="glyphicon glyphicon-ok"></span>--></button>
							  </div>
							</div>

							</fieldset>
						</form>
						<div class="clearfix"> </div> 
					</div>
			</div>
	</div>
</div>