<style type="text/css">
	img {
	  max-width: 100%;
	}
	a {
	  text-decoration: none;
	}
	#header {
	  float: left;
	  width: 100%;
	  background: #ffffff;
	  position: relative;
	}
	.white-label {
	  float: left;
	  background: #2A2D33;
	  max-width: 210px;
	  padding: 10px;
	  min-height: 69px;
	  background: #2A2D33;
	  width: 100%;
	  max-height: 44px;
	}
	.white-label img {
	  max-height: 43px;
	}
	.header-nav {
	  min-height: 64px;
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	  background: #279BE4;
	}
	.menu-button {
	  float: left;
	  font-size: 29px;
	}
	#sidebar {
	  overflow: hidden;
	  width: 210px;
	  height: 100%;
	  float: left;
	  background: #2A2D33;
	  margin-top: -45px;
	}
	#sidebar-nav {
	  width: 106%;
	  height: calc(100% - 95px);
	  padding: 0;
	  background: #2A2D33;
	  border-right: 1px solid #E0E0E0;
	  overflow-y: scroll;
	}
	#sidebar-nav h2 {
	  color: #60636B;
	  float: left;
	  width: 100%;
	  font-size: .8em;
	  font-family: 'Open Sans', sans-serif;
	  font-weight: 600;
	  text-transform: uppercase;
	  padding: 3px 0 2px 20px;
	  border-top: 1px solid #4D4C4C;
	  box-sizing: border-box;
	  margin: 10px 0;
	}


	#sidebar-nav div a{
	  color: #C2C2C2;
	  font-size: .95em;
	  padding: 15px 20px;
	  float: left;
	  width: 100%;
	  font-weight: 600;
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	}
	#sidebar-nav div:hover a {
	  background: #fff;
	  color: #333;
	}
	#sidebar-nav div.active {
	  background: #fff;
	  color: #333;
	}
	#sidebar-nav div.active a i {
	  background: #fff;
	}
	#sidebar-nav i {
	  padding-right: 8px;
	  font-size: 1.3em;
	  color: #60636B;
	  width: 25px;
	  text-align: center;
	}
	#content {
	  float: left;
	  width: calc(100% - 210px);
	  height: 100%;
	  word-wrap: break-word;
	  background: #FFFFFF;
	  margin-top:2em;
	}
    .content {
	  float: left;
	  background: #E9EEF4;
	  width: 100%;
	  height: calc(100% - 64px);
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	  margin-top: -20px;
	}
	.content-header {
	  background: #fff;
	  float: left;
	  width: 100%;
	  margin-bottom: 15px;
	  padding: 0 0 0 15px;
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	  border-bottom: 1px solid #ccc;
	}
	.content-header h1 {
	  margin: 0;
	  font-weight: normal;
	  padding-bottom: 5px;
	}
	.content-header p {
	  margin: 0;
	  padding-left: 2px;
	}
	.widget-box {
	  background: #fff;
	  border: 1px solid #E0E0E0;
	  float: left;
	  width: 100%;
	  margin: 0 0 15px 15px;
	}
	.widget-header {
	  background: #279BE4;
	}
	.widget-header h2 {
	  font-size: 15px;
	  font-weight: normal;
	  margin: 0;
	  padding: 11px 15px;
	  color: #F9F9F9;
	  display: inline-block;
	}
	.sample-widget {max-width: 47%;}
	.widget-box .icon-cog {
	  float: right;
	  color: #fff;
	  margin: 11px 11px 0 0;
	  font-size: 20px;
	}
/* remove border radius for the tab */
#emailTab .nav-pills > li > a {
  border-radius: 0;
}

.tab-content {
  background: rgba(108, 117, 125, .2);
  padding: 35px 1px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #14162b;
    font-weight: bold;
    background: rgba(108, 117, 125, .2);
}
</style>
<section id="sidebar"> 
  <div class="white-label"></div> 
  <div id="sidebar-nav">   
      <div ng-click="sideBarMenu('user')"><a href="#"><i class="icon-group"></i> Registrar Usuarios</a></div>
      <div ng-click="sideBarMenu('att')"><a href="#"><i class="icon-user"></i>Registrar Encargados</a></div>
      <div ng-click="sideBarMenu('smtp', 'open')"><a href="#"><i class="icon-envelope"></i>Configurar Correo</a></div>
      <div ng-click="sideBarMenu('services', 'open')"><a href="#"><i class="icon-usd"></i>Costos de Servicios</a></div>
      <div><a href="#"><i class="icon-bar-chart"></i> Reportes</a></div>
  </div>
  <div class="white-label"></div> 
</section>
<section id="content">
  <div ng-init="loadVarPag();" class="content">
	    <div class="content-header">
	      <h1>Administracion del Sistema</h1>
	    </div>
	    <div class="panel panel-default">
	        <div class="panel-heading">
	          <h3 class="panel-title">GESTION DE USUARIOS</h3>
	        </div>
	          <div class="panel-body">
	            <div  class="row" >
	                <!-- Filter Type of Tenant For Admins -->
	                <div ng-if="sessionidProfile!=0" class="form-group col-lg-2">
                          <label style="padding-left: 15px;">Tipo de Usuarios</label>
                            <div class="col-xs-12 selectContainer">
                              <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-tags"></i></span>
                                    <select name="filteroUserPrfile" class="form-control" ng-model="$parent.filterUserProfile" >
                                  	    <option value="" >Todos</option>
                                        <option value="1" >Coferba</option>
                                        <option value="2" >Empresa</option>
                                        <option value="3" >Propietario</option>
                                        <option value="4" >Admin. Consorcio</option>
                                    </select>
                              </div>
                            </div>
                    </div>
                    <!-- Filter Type of Tenant For Admins -->
	                <div ng-if="sessionidProfile!=0" class="form-group col-lg-2">
                          <label style="padding-left: 15px;">Estatus</label>
                            <div class="col-xs-12 selectContainer">
                              <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-tags"></i></span>
                                    <select name="filterUserStatus" class="form-control" ng-model="$parent.filterUserStatus" >
                                  	    <option value="" >Todos</option>
                                        <option value="1" >Activo</option>
                                        <option value="0" >Inactivo</option>
                                        <option value="-1" >eliminado</option>
                                    </select>
                              </div>
                            </div>
                    </div>
	                <div class="form-group col-lg-2">
	                <label style="padding-left: 15px;">Buscar</label>
	                  <div class="col-xs-12">
	                    <div class="input-group">
	                      <span class="input-group-addon"><i class="glyphicon glyphicon-search "></i></span>
	                      <input type="text" class="form-control" ng-model="searchboxfilter" placeholder="Buscar...">
	                    </div>
	                  </div>
	                </div>
	                <div class="form-group">
	            		<div class="col-xs-4"><br>
	                		<div >
	                    		<button type="button" ng-click="CallFilterFormT()" class="btn btn-info">
	                        		<i title="Actualizar" class="glyphicon glyphicon-refresh"></i>
	                    		</button>&nbsp
	                    		<button type="button" ng-click="sideBarMenu('user')" class="btn btn-info">
	                          		<i title="Agregar Inquilino" class="glyphicon glyphicon-plus"></i> Usuario
	                        	</button>
	                		</div>
	            		</div>
	        		</div>	
	            </div><br><br>
	            <div style="overflow-x:auto">
		            <table  class="table  table-striped table-responsive">
		                <thead style=" background: #4d5d6f; color: white;">
		                  <tr style="text-align: center;">
		                      <th>ID</th>
		                      <!--<th><i class="glyphicon glyphicon-user"> </i> Nombres</th>-->
		                      <!--<th><i class="glyphicon glyphicon-phone"> </i> Tlf Movil</th>
		                      <th><i class="glyphicon glyphicon-earphone"> </i> Tlf Fijo</th>-->
		                      <th><i class="glyphicon glyphicon-envelope"> </i> Correo</th>
		                      <th><i class="glyphicon glyphicon-user"> </i>Perfil</th>
		                      <th><i class="glyphicon icon-flag"> </i> Status</th>
		                      <th><i class="glyphicon icon-calendar"> </i> Registrado</th>
		                  </tr>
		                </thead>
		                <tbody>
		                  <tr style="align-content: center;" ng-repeat="item in listUser.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | filter: {idProfileKf:filterUserProfile} | filter: {idStatusKf:filterUserStatus} | filter: searchboxfilter">
		                      <td>
		                      	<div class="btn-group">
								  <button type="button" class="btn btn-info btn-sm">{{item.idUser}}</button>
								  <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">
								    <span class="caret"></span>
								  </button>
								  <ul class="dropdown-menu" role="menu">
								    <li><a href="#" ng-click="updateUser(item);"><i title="Modificar Datos" class="glyphicon glyphicon-edit"></i>  Editar</a></li>
								    <li ng-if="item.idStatusKf<=0 "><a href="#" ng-click="sysFunctionsUser('enabled',item.idUser)"><i title="Activar Usuario" class="glyphicon glyphicon-remove-circle"></i> Activar</a></li>
								    <li ng-if="item.idStatusKf>0"><a href="#" ng-click="sysFunctionsUser('disabled',item.idUser)"><i title="Desactivar Usuario" class="glyphicon glyphicon-remove-circle"></i> Desactivar</a></li>
								    <li ng-if="item.idStatusKf>0" role="presentation">
			                                <div class="divider"></div>
			                        </li>
								    <li ng-if="item.idStatusKf>0"><a href="#" ng-click="modalConfirmation('removeu', 0, item)"><i title="Eliminar Usuario" class="glyphicon glyphicon-trash"></i> Eliminar</a></li>
								  </ul>
								</div>
		                      </td>
		                      <!--<td>{{item.fullNameUser}}</td>-->
		                      <!--<td ng-if="item.phoneLocalNumberUser">{{item.phoneLocalNumberUser}}</td>
		                      <td ng-if="!item.phoneLocalNumberUser"><span style="padding-top: 4px; margin-top: 10px; text-align: center;" class="alert alert-warning"> &nbsp &nbsp n/a</span></td>
		                      <td ng-if="item.phoneNumberUser">{{item.phoneNumberUser}}</td>
		                      <td ng-if="!item.phoneNumberUser"><span style="padding-top: 4px; margin-top: 10px; text-align: center;" class="alert alert-warning"> &nbsp &nbsp n/a</span>
		                      </td>-->
		                      <td>{{item.emailUser}}</td>
		                      <td ng-if="item.idProfileKf==1">Coferba</td>
		                      <td ng-if="item.idProfileKf==2">Empresa</td>
		                      <td ng-if="item.idProfileKf==3">Propietario</td>
		                      <td ng-if="item.idProfileKf==4">Admin. Consorcio</td>
		                      <td> <!-- TD to Admins -->
		                          <label ng-if="item.idStatusKf==1" class="label label-success">ACTIVO
		                          </label>
		                          <label ng-if="item.idStatusKf==0" class="label label-warning">INACTIVO
		                          </label>
		                          <label ng-if="item.idStatusKf==-1" class="label label-danger"><del>ELIMINADO</del>
		                          </label>
		                      </td>
		                      <td>{{item.dateCreated | dateToISO | date:'MM/dd/yyyy'}}</td>
		                  </tr>
		                </tbody>
		            </table>
		        </div>
	            <div>
					<pagination 
				      total-items="totalItems" 
				      ng-model="currentPage" 
				      ng-change="pageChanged()" 
				      class="pagination-sm" 
				      items-per-page="itemsPerPage"
				      max-size="maxSize"
				      boundary-links="true">
				      
				    </pagination>
        		</div>
	        </div>
	    </div>
	    <!-- NO BORRAR -->
	    <div ng-show="noShow" class="widget-box sample-widget">
	      <div class="widget-header">
	        <h2>Usuarios Recientes Registrados</h2>
	      </div>
	      	<!-- LISTA DE USUARIOS REGISTRADOS-->
	      	<div class="widget-content">
		        <table class="table  table-striped ">
	                <thead style=" background: #4d5d6f; color: white;">
	                    <tr >
	                        <th>ID</th>
	                        <th><i class="glyphicon glyphicon-user"> </i> Nombres</th>
	                        <th><i class="glyphicon glyphicon-envelope"> </i> Correo</th>
	                        <th>Perfil</th>
	                        <th><i class="glyphicon icon-flag"> </i> Status</th>
	                        <th><i class="glyphicon icon-calendar"> </i> Registrado</th>
	                    </tr>
	                </thead>
	                <tbody>
	                    <tr  style="align-content: center; cursor: pointer;" data-ng-repeat="item in listUser | orderBy:'item.idUser'">
	                        <td>{{item.idUser}}</td>
	                        <td>{{item.fullNameUser}}</td>
	                        <td>{{item.emailUser}}</td>
	                        <td ng-if="item.idProfileKf==1">Coferba</td>
	                        <td ng-if="item.idProfileKf==2">Empresa</td>
	                        <td ng-if="item.idProfileKf==3">Propietario</td>
	                        <td ng-if="item.idProfileKf==4">Admin. Consorcio</td>
	                        		                        <td>
		                        	<div class="btn-group">
										<button type="button" ng-if="item.idStatusKf==1" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> ACTIVO | 
											<span class="caret"></span>
		                    				<span class="sr-only">Toggle Dropdown</span>
		                				</button>
		                				<button type="button" ng-if="item.idStatusKf==0" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> INACTIVO | 
											<span class="caret"></span>
		                    				<span class="sr-only">Toggle Dropdown</span>
		                				</button>
		                				<button type="button" ng-if="item.idStatusKf<0" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> ELIMINADO | 
											<span class="caret"></span>
		                    				<span class="sr-only">Toggle Dropdown</span>
		                				</button>
									  	<ul class="dropdown-menu">
	                    					<li><a ng-click="sysFunctionsUser('enabled',item.idUser)" ng-if="item.idStatusKf<1"><i title="Activar" class="glyphicon glyphicon-ok-circle"> </i> Activar</a></li>
	                    					<li><a ng-click="sysFunctionsUser('disabled',item.idUser)" ng-if="item.idStatusKf>0"><i title="desactivar" class="glyphicon glyphicon-ban-circle"></i> Desactivar</a></li>
	                					</ul>
									</div>
		                        </td>
	                        <td>{{item.dateCreated | date:'MM/dd/yyyy'}}</td>
	                    </tr>
	                </tbody>
				</table>
    		</div>
	  	</div>
  </div>
</section>

<!-- SETUP EMAIL -->
<div id="ModalSMTPEmail" class="modal fade bd-example-modal-lg" style="top: 120px;" role="dialog">
  	<div class="modal-dialog modal-lg" >
	    <div class="modal-content">
          	<div class="modal-header">
            	<h3 class="modal-title">CONFIGURACION DE CORREOS<a data-dismiss="modal" class="close"><i title="Cerrar" class="glyphicon glyphicon-remove-sign"> </i></a></h3>
        	</div>
			<div class="modal-body" style="overflow-y: scroll;">
	        	<div id="emailTab">
		        	<ul  class="nav nav-pills">
						<li class="active">
			        		<a  href="#1a" data-toggle="tab">SMTP</a>
						</li>
						<li>
							<a href="#2a" data-toggle="tab">COFERBA</a>
						</li>
					</ul>
				</div>
				<div class="tab-content clearfix">
					<div class="tab-pane fade in active" id="1a">
						<div class="container-fluid">
							<form class="form-horizontal" name="frmsmtpMail" ng-submit="sideBarMenu('smtp', 'save')">
								<fieldset>

								<div class="form-group">
								  <label class="col-md-4 control-label">Correo SMTP</label>  
								    <div class="col-md-4">
									    <div class="input-group">
									        <span ng-if="changeSmtp" class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
									  		<input ng-if="changeSmtp" id="smtpMail" placeholder="Correo principal" class="form-control" ng-model="smtp.mail" type="mail" required autofocus />
									    </div>
									    <div ng-show="smtpMail" class="alert alert-info" role="alert">
											<strong>Mail Actual: </strong>{{smtpMail}}
										</div>
										<div ng-show="!smtpMail" class="alert alert-warning" role="alert">
											<strong>Mail Actual: </strong>Sin Asignar.
										</div>
									</div>
								</div>
								<!-- Password-->

								<div class="form-group">
								  <label class="col-md-4 control-label">Contrase&#241a</label>  
								    <div class="col-md-4">
									    <div class="input-group">
									        <span ng-show="changeSmtp==true" class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
									  		<input ng-show="changeSmtp==true" id="passwordSmtp" placeholder="Contrase&#241a" class="form-control" ng-model="smtp.password" minlength="8" type="password" required autofocus />
									    </div>
									    <div ng-show="smtpPwd" class="alert alert-info" role="alert">
											<strong>Clave Actual: </strong>Asignada
										</div>
										<div ng-show="!smtpPwd" class="alert alert-warning" role="alert">
											<strong>Clave Actual: </strong>Sin Asignar.
										</div>
									</div>
								</div>
								<!-- Actions Button -->
								<div class="form-group">
								  <label class="col-md-4 control-label"></label>
								  <div class="col-md-4">
								  	<input type="button" ng-if="!changeSmtp" ng-click="changeSmtp=true" class="btn btn-primary" value="Cambiar" />
								    <button ng-show="changeSmtp" type="submit" class="btn btn-success" ><i class="glyphicon glyphicon-save"> </i> Guardar</button>

								  </div>
								</div>

								</fieldset>
							</form>
							<div class="clearfix"> </div> 
						</div>
					</div>
					<div class="tab-pane fade" id="2a">
						<div class="container-fluid">
							<form class="form-horizontal" name="frmOther" ng-submit="newTicket('other')">
								<fieldset>
									<!-- Select Type of Service -->
									   
									<div class="form-group"> 
									  <label class="col-md-4 control-label">Departamento</label>
									    <div class="col-md-4 selectContainer">
										    <div class="input-group">
										        <span class="input-group-addon"><i class="glyphicon glyphicon-pushpin"></i></span>
												    <select name="idTypeOutherKf" class="form-control" placeholder="Tipo de Consulta" ng-options="item.idTypeOuther as item.TypeOuther for item in listTypeQuery" ng-model="o.idTypeOutherKf" required autofocus ><option value="">Selecione una opcion</option></select>
										  	</div>
										</div>
									</div>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- SETUP SERVICES COST -->
<div id="ModalServiceCost" class="modal fade bd-example-modal-lg" style="top: 120px;" role="dialog">
  	<div class="modal-dialog modal-lg" >
	    <div class="modal-content">
          	<div class="modal-header">
            	<h3 class="modal-title">COSTOS DE SERVICIOS<a data-dismiss="modal" class="close"><i title="Cerrar" class="glyphicon glyphicon-remove-sign"> </i></a></h3>
        	</div>
    		<div class="modal-body" style="overflow-y: scroll;">
				<!-- FORM CONTAINER-->
				<form class="form-horizontal" name="frmCost">
					<fieldset>
						<!-- Company Name-->    
						<div class="container-fluid" ng-show="sessionidProfile!=3"> 
							<div class="row">   
								<div class="col-md-8 col-md-offset-4">
								  <label class="col-xs-12">Administracion</label>
								    <div class="col-md-6">
									    <div class="input-group">
									        <span class="input-group-addon"><i class="icon-suitcase"></i></span>
									  		<input ng-show="sessionidProfile!=1" name="CompanyName"  disabled class="form-control" ng-model="$parent.CompanyName" />

									  		<select ng-show="sessionidProfile==1" name="idCompanyKf" class="form-control" ng-change="officeListByCompnayID(); CallFilterFormT(); select.idAddressAtt=null"  ng-options="item.idCompany as item.nameCompany for item in listCompany" ng-required="sessionidProfile==1" ng-model="select.idCompanyKf"  ><option value="">Seleccione una opcion</option>
										    </select>
									    </div>
								  	</div>
								</div>
							</div>
						</div>
						<!-- Address for Admins -->
						<div class="container-fluid" ng-show="sessionidProfile!=3"> 
							<div class="row">   
								<div class="col-md-8 col-md-offset-4">
								  	<label class="col-xs-12">Direcci&#243n del Consorcio</label>
									    <div class="col-md-6">
										    <div class="input-group">
										        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
										  		<select name="idAddressKf" ng-disabled="!select.idCompanyKf && sessionidProfile==1" class="form-control" ng-change="getCostServiceData(4);"  ng-options="item.idAdressKf as item.nameAdress for item in listOffice" ng-required="sessionidProfile!=3" ng-model="select.idAddressAtt" autofocus >
												    <option value="">Seleccione un consorcio</option>
											    </select>
										    </div>
									  	</div>
								</div>
							</div>
						</div>
						<div><ul><i class="divider"></li></ul></div>
						<div ng-if="!select.idAddressAtt">
							<div class="alert alert-info alert-dismissible" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<i class="glyphicon glyphicon-info-sign"></i><span> <strong>INFO: </strong>Selecciona una dieccion de un consorcio para conocer los costos.</span>
							</div>
						</div>
						<div ng-if="select.idAddressAtt">
							<!-- Service-->
							<div class="container-fluid">
								<div class="row">
				  				    <div class="col-md-6 col-md-offset-3">
									    <div ng-if="costService!=0" class="alert alert-info" role="alert">
											<strong>Costo Gestion (Alta / Baja): </strong><span class="pull-right">{{costService}} <i class="glyphicon glyphicon-edit"></i></span>

										</div>
										<div ng-if="costService==0" class="alert alert-warning" role="alert">
											<strong>Costo Servicio: </strong><span class="pull-right"><span class="pull-right">Valor No Asignado. <i class="glyphicon glyphicon-exclamation-sign"></i></span>
											
										</div>
									</div>
								</div>
							</div>
							<!-- Key-->
							<div class="container-fluid"> 
								<div class="row"> 
								    <div class="col-md-6 col-md-offset-3">
									    <div ng-if="costKey!=0" class="alert alert-info" role="alert">
											<strong>Costo de Llave: </strong><span class="pull-right">{{costKey}} <i class="glyphicon icon-key"></i></span>
										</div>
										<div ng-if="costKey==0" class="alert alert-warning" role="alert">
											<strong>Costo Llave: </strong><span class="pull-right">Valor No Asignado. <i class="glyphicon glyphicon-exclamation-sign"></i></span>
										</div>
									</div>
								</div>
							</div>
							<!-- Delivery-->
							<div class="container-fluid">
								<div class="row">
								   	<div class="col-md-6 col-md-offset-3">
									    <div ng-if="costDelivery!=0" class="alert alert-info" role="alert">
											<strong>Costo de Envio: </strong><span class="pull-right">{{costDelivery}} <i class="glyphicon icon-truck"></i></span>
										</div>
										<div ng-if="costDelivery==0" class="alert alert-warning" role="alert">
											<strong>Costo Envio: </strong><span class="pull-right">Valor No Asignado. <i class="glyphicon glyphicon-exclamation-sign"></i></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</fieldset>
				</form>
				<div class="clearfix"> </div> 
			</div>
		</div>
	</div>
</div>
