    <!-- USER PROFILE FORM -->
	<div id="ProfileModalUser" style="top: 130px;" class="modal fade bd-example-modal-lg" role="dialog">
	  	<div class="modal-dialog modal-lg" >
		    <div class="modal-content">
		      	<div class="modal-body">
		          	<div class="panel panel-default">
		              	<div class="panel-heading">
		                	<h3 class="panel-title">PERFIL USUARIO<a data-dismiss="modal" class="frmclose"><i alt="Cerrar" class="glyphicon glyphicon-remove-sign"> </i></a></h3>
		            	</div>
	            		<div class="panel-body">
							<!-- FORM CONTAINER-->
		    				<form class="form-horizontal" name="fUserProfile" ng-init="" ng-submit="sysFunctionsUser('updprofile')">
								<fieldset>
								<!-- Select profile -->
								   
								<div class="form-group"> 
								  <label class="col-md-4 control-label">Perfil</label>
								    <div class="col-md-4 selectContainer">
									    <div class="input-group">
									        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
											    <span class="form-control disabled">{{sessionProfileName}}</span>
									  	</div>
									</div>
								</div>
								<!-- Company List-->
								      
								<div ng-show="sessionidProfile==2 || sessionidProfile==4" class="form-group">
								  <label class="col-md-4 control-label">Empresa</label>  
								    <div class="col-md-4">
									    <div class="input-group">
									        <span class="input-group-addon"><i class="glyphicon glyphicon-cog"></i></span>
									  		<span class="form-control disabled">{{sessionNameCompany}}</span>
									    </div>
								  </div>
								</div>
								<!-- Form First Name -->
								<div class="form-group">
								  <label class="col-md-4 control-label">Nombres</label>  
									  <div class="col-md-4">
										  <div class="input-group">
											  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
											  <input  name="profileNames" autofocus="true" placeholder="Nombre" class="form-control" ng-model="profile.Names"  type="text" required autofocus/>
										  </div>
									  </div>
								</div>
								<!-- Text Mail-->

								<div class="form-group">
								 <label class="col-md-4 control-label">E-Mail</label>  
								   <div class="col-md-4">
								    <div class="input-group">
								    	<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
								  		<input name="profileEmail" placeholder="E-Mail" class="form-control" ng-model="profile.Email"  type="email" required autofocus />
								    </div>
								  </div>
								</div>
								<!-- Text Phone-->
								       
								<div class="form-group">
								  <label class="col-md-4 control-label">Telefono Fijo</label>  
								    <div class="col-md-4">
									    <div class="input-group">
									        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
									  		<input name="phoneLocal" placeholder="(11) 555-1212" class="form-control" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" maxlength="12" ng-model="profile.PhonelocalNumber"  type="text" required autofocus />
									    </div>
								  </div>
								</div>
								<!-- Text Phone-->
								       
								<div class="form-group">
								  <label class="col-md-4 control-label">Telefono Movil</label>  
								    <div class="col-md-4">
									    <div class="input-group">
									        <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
									  		<input name="MovilPhoneNumber" placeholder="(11) 555-1212" class="form-control" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" maxlength="12" ng-model="profile.MovilPhoneNumber"  type="text" required autofocus />
									    </div>
								  </div>
								</div>

								<!-- Actions Button -->
								<div class="form-group">
								  <label class="col-md-4 control-label"></label>
								  <div class="col-md-4">
								    <button type="submit" class="btn btn-primary" >Actualizar</button>
								  </div>
								</div>

								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
