<!-- USER REQUEST OTHER QUERIES  ruother=Register Request User Other Queries-->
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">GESTION DE DEPARTAMENTOS<a ng-click="fnShowHide()" class="frmclose"><i alt="Cerrar" class="glyphicon  glyphicon-remove-sign"> </i></a></h3>
    </div>
    <div class="panel-body">
      <!-- FORM CONTAINER-->
      <form class="form-horizontal" name="frmDpto" ng-submit="assignUserDepto()" ng-init="CallFilterFormT();">
          <fieldset>
        
            <!-- Text Address for Admins-->      
            <div class="form-group">
                <label class="col-md-4 control-label">Direcci&#243n</label>
                  <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                      <select name="idAddressAtt" class="form-control" ng-change="getDeparment(1); listUserDepto();"  ng-options="item.idAdress as item.nameAdress for item in ListAddress" ng-required="sessionidProfile!=4" ng-model="select.idAddressAtt" autofocus >
                        <option value="" >Seleccione</option>
                      </select>
                    </div>
                  </div>
            </div>
            <!-- Select Department -->
                  <div ng-show="sessionidProfile==3" class="form-group"> 
                    <label class="col-md-4 control-label">Departamento</label>
                      <div class="col-md-4 selectContainer">
                        <div class="input-group">
                            <span style="cursor: pointer;" class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                            <select ng-model="select.idDepartmentKf" ng-disabled="dptoNotFound!=true" class="form-control" ng-options="x.idDepartment as x.departmentFloor for x in ListDpto " required autofocus >
                              <option value="" >Seleccione</option>
                            </select>
                        </div>
                    </div>
                  </div>
            <!-- Actions Button -->
            <div class="form-group" ng-show="sessionidProfile==3">
              <label class="col-md-4 control-label"></label>
              <div class="col-md-4">
                <button type="submit" ng-click="assignDepto()" class="btn btn-primary" ng-disabled="dptoNotFound!=true" >Asociar</button>
              </div>
            </div>
          </fieldset>
      </form>
      <div class="clearfix"></div> 
      <div ng-show="noRecordsFound" class="alert alert-info" role="alert">
            <strong>INFO: </strong>La direccion<strong>{{nameAdress}} </strong>No posee departamentos asociados en la direccion seleccionada.
      </div>
      <!-- Tabla para propietarios -->
        <table ng-show="recordsFound && sessionidProfile==3"  class="table  table-striped" style="width: 500px; margin: 0 auto;">
          <thead style=" background: #4d5d6f; color: white;">
              <tr >
                  <th></th>
                  <th>ID</th>
                  <th>Departamento</th>
                  <th>Status</th>
              </tr>
          </thead>
          <tbody>
    
              <tr style="align-content: center; cursor: pointer;" data-ng-repeat="item in ListDptoByTenant | filter : paginate track by $index">
                <td>
                  <div ng-show=item.isAprobatedAdmin==1 class="btn-group">
                    <button type="button" class="btn btn-lg btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acciones | 
                      <span class="caret"></span>
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a ng-click="searchTenant('depto', item.idDepartment)""><i title="desactivar" class="glyphicon glyphicon-user"></i> Ver inquilinos</a></li>
                        <li><a ng-click="updateUser(item.idDepartment, $index)"><i title="desactivar" class="glyphicon glyphicon-edit"></i> Solicitar Baja</a></li>
                    </ul>
                  </div>
                </td>
                <td>{{item.idDepartment}}</td>
                <td>{{item.departmentFloor}}</td>
                <td>
                  <div class="btn-group">
                    <button type="button" ng-if="item.isAprobatedAdmin==1" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> APROBADO </button>
                    <button type="button" ng-if="item.isAprobatedAdmin==0" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> PENDIENTE</button>
                    <button type="button" ng-if="item.isAprobatedAdmin<0" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> ELIMINADO</button>
                  </div>
                </td>
              </tr>
          </tbody>
        </table>
        <!-- Tabla para administradores -->
        <table ng-show="recordsFound && sessionidProfile!=3"  class="table  table-striped" style="width: 500px; margin: 0 auto;">
          <thead style=" background: #4d5d6f; color: white;">
              <tr >
                  <th></th>
                  <th>ID</th>
                  <th>Departamento</th>
                  <th>Status</th>
              </tr>
          </thead>
          <tbody>
    
              <tr style="align-content: center; cursor: pointer;" data-ng-repeat="item in ListDptoByTenant | filter : paginate track by $index">
                <td>
                  <div class="btn-group">
                    <button type="button" class="btn btn-lg btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acciones | 
                      <span class="caret"></span>
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a ng-click="searchTenant('depto', item.idDepartment)""><i title="desactivar" class="glyphicon glyphicon-user"></i> Ver propietario</a></li>
                        <li><a ng-click="updateUser(item.idDepartment, $index)"><i title="desactivar" class="glyphicon glyphicon-edit"></i> Solicitar Baja</a></li>
                    </ul>
                  </div>
                </td>
                <td>{{item.idDepartment}}</td>
                <td>{{item.departmentFloor}}</td>
                <td>
                  <div class="btn-group">
                    <button type="button" ng-if="item.isAprobatedAdmin==1 && item.idTenantKf!=null" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> ASIGNADO </button>
                    <button type="button" ng-if="item.isAprobatedAdmin==0 && item.idTenantKf==null" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> DISPONIBLE</button>
                    <button type="button" ng-if="item.isAprobatedAdmin==0 && item.idTenantKf!=null" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> SOLICITADO</button>
                    <button type="button" ng-if="item.isAprobatedAdmin<0 && item.idTenantKf==null" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> ELIMINADO</button>
                  </div>
                </td>
              </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>