<!--ANGULAR LIBRARY JS -->
<script src="../../../assets/js/angular.min.js"></script>
	<div  ng-app="coferbaApp" ng-controller="coferbaCtrl">
		<button ng-click="Validate(1)">ADMINISTRADOR</button><button ng-click="Validate(2)">PROPIETARIOS / INQUILINOS</button>
			<div ng-show="check">
				<div ng-if="idView == 1" ng-show="check" ng-include="'new_user.html'"></div>
				<div ng-if="idView == 2" ng-show="check" ng-include="'new_tenant.html'"></div>

			</div>
	</div>
<!--JS USER FUNCTIONS-->
<script src="../js/user.js"></script> <!-- CONTROLADOR ANGULAR -->

