<!--ANGULAR LIBRARY JS -->
<script src="../../../assets/js/angular.min.js"></script>
	<div  ng-app="coferbaApp" ng-controller="coferbaCtrl">
		<form name="ListUser" ng-init="CallListForm()">
			<div class="table-scrollable">
			    <table class="table table-hover table-striped table-hover">
				    <thead style=" background: #4d5d6f; color: yellow;">
				        <tr>
				            <th style="width:50px">#</th>
				            <th></th>
				            <th> Nombres / Apellidos </th>
				            <th>Email</th>
				            <th>Telefono</th>
				            <th>Direcci&#243n</th>
				            <th>Perfil</th>
				            <th>Fecha Creacion</th>
				            <th>Status</th>
				        </tr>
				    </thead>
				    <tbody>
				        <tr ng-repeat="item in listUsers">
				            <td>{{item.idUser}}</td>
				            <td>
				            	<a ng-if="item.idTypeClient == 2" class="btn yellow-gold  btn-block" ng-click="changueUri(item.idClient)" >Gestionar Empresa</a>
                                <a ng-if="item.idTypeClient == 1" class="btn  blue-steel   btn-block"  href="../MangerParticular/#/Dashboard{{item.idClient}}">Gestionar Particular</a>
				            </td>
				            <td>{{item.fullNameUser}}</td>
				            <td>{{item.emailUser}}</td>
				            <td>{{item.phoneNumberUser}}</td>
				            <td>{{item.addresUser}}</td>
				            <td>{{item.nameProfile}}</td>
				            <td>{{item.dateCreated}}</td>
				            <td>{{item.statusTenantName}}</td>

				        </tr>
				    </tbody>
				</table>
			</div>
		</form>
	</div>
<!--JS USER FUNCTIONS-->
<script src="../js/user.js"></script> <!-- CONTROLADOR ANGULAR -->