<!--USER REGISTER-->
<form name="fNewUser" ng-init="CallFilterForm()">
	<label>Nombres:</label><input type="text"  ng-model="fname" name="fname" required/><br><br>
	<label>Apellidos:</label><input type="text"  ng-model="lname" name="lname" required/><br><br>
	<label>Correo:</label><input type="text"  ng-model="emailUser" type="email" required/><br><br>
	<label>Telefono:</label><input type="text"  ng-model="phoneNumberUser" required/><br><br>
	<label>Contrase&#241a:</label><input type="password"  ng-model="passwordUser" required/><br><br>
	<label>Direcci&#243n:</label><input type="text"  ng-model="addresUser" required/><br><br>
    <label>Perfil: </label>
    <select class="form-control" ng-options="item.idProfile as item.nameProfile for item in listProfile" ng-model="idProfileKf" required/>
        <option value=""></option>
    </select><br><br>
	<button type="submit" ng-disabled="!fNewUser.$valid" ng-click="addUser()" name="uRegister">Registrar</button>
	<button type="reset" class="button radius alert large-5 columns">Cancelar</button>
</form>

