<!-- mail for key orders -->
<div class="form-group col-md-12" ng-if="(customer.new.idClientTypeFk==1 || customer.new.idClientTypeFk==2)" ng-class="
		{	'has-success': 
			customer.new.mailFronKey!='' && fNewCustomer.mailFromKey.$valid,
		 	'has-error':  
			(customer.new.mailFronKey=='' || customer.new.mailFronKey==undefined) && fNewCustomer.mailFromKey.$touched,
		}">
  <label style="padding-left: 15px;" >Mail para llaveros</label> 
		<div class="input-group">
	  		<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
	  		<input name="mailFromKey"  ng-blur="enabledNextBtn(); checkEmail('mailFromKey'); customer.new.mailFronKey=emailFound==true?'':customer.new.mailFronKey" placeholder="indique mail" class="form-control" ng-model="customer.new.mailFronKey" type="email" ng-disabled="(customer.new.idClientTypeFk!=1 && customer.new.idClientTypeFk!=2)" ng-required="(customer.new.idClientTypeFk==1 || customer.new.idClientTypeFk==2)" autofocus />
		</div>
  	<br>
		<div ng-if="emailFound && customer.new.mailFronKey && msgTimer && mailFromKey" class="alert alert-warning" role="alert">
    		<strong><i class="fas fa-exclamation-circle">&nbsp </i>INFO: </strong><br>correo registrado en el usuario, <strong>{{mailFoundNameUser}}</strong>.
		</div>					
</div>
<!-- Comments for keyorder -->
<div class="form-group col-md-12" ng-if="(customer.new.idClientTypeFk==1 || customer.new.idClientTypeFk==2)" >
  <label class="col-xs-12" >Observaciones de pedidos de llaveros</label> 
		<textarea style="resize: none;" name="observationOrderKey" rows="3" placeholder="indique las Observaciones." class="form-control" ng-model="customer.new.observationOrderKey" ></textarea>
</div>							
<!-- mail for technical service-->
<div class="form-group col-md-12" ng-if="(customer.new.idClientTypeFk!=5)" ng-class="
		{	'has-success': 
			customer.new.mailServiceTecnic!='' && fNewCustomer.mailServiceTecnic.$valid,
		 	'has-error':  
			(customer.new.mailServiceTecnic=='' || customer.new.mailServiceTecnic==undefined) && fNewCustomer.mailServiceTecnic.$touched,
		}">
 <label style="padding-left: 15px;">Mail para servicios t&#233;cnicos</label>  
	    <div class="input-group">
	    	<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
	  		<input name="mailServiceTecnic" ng-blur=" enabledNextBtn(); checkEmail('mailServiceTecnic'); customer.new.mailServiceTecnic=emailFound==true?'':customer.new.mailServiceTecnic" ng-disabled="(customer.new.idClientTypeFk==5)" placeholder="indique mail" class="form-control" ng-model="customer.new.mailServiceTecnic" type="email" required autofocus />
	    </div>
  	<br>
		<div ng-if="emailFound && customer.new.mailServiceTecnic && msgTimer && mailServiceTecnic" class="alert alert-warning" role="alert">
    		<strong><i class="fas fa-exclamation-circle">&nbsp </i>INFO: </strong><br>correo registrado en el usuario, <strong>{{mailFoundNameUser}}</strong>.
		</div>	
</div>
<!-- Comments for technical services -->
<div class="form-group col-md-12" ng-if="(customer.new.idClientTypeFk!=5)">
  <label class="col-xs-12" >Observaciones de servicios t&#233;cnicos</label> 
		<textarea style="resize: none;" name="observationSericeTecnic" rows="3" ng-disabled="(customer.new.idClientTypeFk==5)" placeholder="indique las Observaciones." class="form-control" ng-model="customer.new.observationSericeTecnic" ng ></textarea>
</div>										
<!-- mail for payments-->
<div class="form-group col-md-12" ng-if="(customer.new.idClientTypeFk!=5)" ng-class="
		{	'has-success': 
			customer.new.mailCollection!='' && fNewCustomer.mailCollection.$valid,
		 	'has-error':  
			(customer.new.mailCollection=='' || customer.new.mailCollection==undefined) && fNewCustomer.mailCollection.$touched,
		}">
 <label style="padding-left: 15px;">Mail para Cobranzas</label>  
	    <div class="input-group">
	    	<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
	  		<input name="mailCollection" ng-blur="enabledNextBtn(); checkEmail('mailCollection'); customer.new.mailCollection=emailFound==true?'':customer.new.mailCollection" ng-disabled="(customer.new.idClientTypeFk==5)" placeholder="indique mail" class="form-control" ng-model="customer.new.mailCollection"  type="email" required autofocus />
	    </div>
  	<br>
		<div ng-if="emailFound && customer.new.mailCollection && msgTimer && mailCollection" class="alert alert-warning" role="alert">
    		<strong><i class="fas fa-exclamation-circle">&nbsp </i>INFO: </strong><br>correo registrado en el usuario, <strong>{{mailFoundNameUser}}</strong>.
		</div>	
</div>	
<!-- Comments for payments -->
<div class="form-group col-md-12" ng-if="(customer.new.idClientTypeFk!=5)">
  <label class="col-xs-12" >Observaciones de  Cobranzas</label> 
		<textarea style="resize: none;" name="sruTenant" rows="3" ng-disabled="(customer.new.idClientTypeFk==5)" placeholder="indique las Observaciones." class="form-control" ng-model="customer.new.observationCollection" ></textarea>
</div>