<!-- Authorized Users -->
<div id="authorizedUsers" style="top: 130px;" class="modal fade modal-dialog-centered in" style="top: 130px;" role="dialog" ng-init="removeAllUser();">
    <div class="modal-dialog modal-md" >
      <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><i alt="Cerrar" class="glyphicon glyphicon-remove-sign"> </i></span><span class="sr-only">Close</span></button>
              <h3 class="modal-title">AUTORIZADOS A REALIZAR PEDIDOS</h3>
          </div>
        <div class="modal-body">
        <!-- FORM CONTAINER-->
        <form class="form-horizontal" name="fAuthUsers" novalidate>
          <fieldset>
          	<div class="col-md-12 col-sm-12">
				<label class="clf-size clf-p-left">Usuario a autorizar <span style="margin-left: 290px;"> <button ng-disabled="authUser==0 || authUser==undefined" ng-click="addAuthUserFn(authUser.selected)" class="btn btn-sm btn-success">Agregar</button></label>  
                <div class="col-xs-12 selectContainer">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fas fa-lock-open"></i></span>
                        <ui-select class="dropdown-select" ng-model="$parent.authUser.selected" on-select="onSelectCallback()">
                          <ui-select-match allow-clear="true" placeholder="Buscar usuario" >{{$select.selected.fullNameUser}}</ui-select-match>
                            <ui-select-choices repeat="item in rsList.clientUser | filter: $select.search">
                              <div ng-bind-html="item.fullNameUser | highlight: $select.search"></div>
                                <small ng-bind-html="item.nameProfile | highlight: $select.search"></small>
                                <small ng-bind-html="item.statusTenantName | highlight: $select.search"></small>
                            </ui-select-choices>
                            <ui-select-no-choice>
							    No hay resultados, contacte area de soporte.
						  	</ui-select-no-choice>
                        </ui-select>
                    </div>
                </div>
              	<div ng-if="list_users.length>0" class="well-checkbox n-padding-t n-padding-b" style="margin-top: 20px;">
	                <table>
	                  <tr ng-repeat="user in list_users">
	                    <td style="width: 200%"><span class="text-muted text-uppercase text-box">{{user.fullNameUser}} </span></td>
	                        <td style="padding-bottom: 5px;">
	                          <button ng-click="removeAuthUserFn(user)" class="btn btn-sm btn-danger">Eliminar</button>
	                        </td>
	                    </tr>
	                </table>
              	</div>          
          	</div>
          </fieldset>
        </form>
        <div class="clearfix"> </div> 
      </div>
      <!-- Actions Button ng-click="newSysProfileFn()"-->
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 pull-right">
                        <button type="submit" ng-click="sysCustomerFn('update', 'authUsers')" ng-disabled="fAuthUsers.$invalid" class="btn btn-labeled btn-success">
                            <span class="btn-label"><i class="glyphicon glyphicon-send"></i> </span>Actualizar</button>
                        <a data-dismiss="modal" type="button" class="btn btn-labeled btn-danger">
                            <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>Cancelar</a>
                    </div>
                </div>
            </div>
    </div>
  </div>
</div>
<!-- // Authorized Users -->