<!-- CUSTOMER REGISTER FORM -->
<div id="UpdateModalCustomer" class="modal fade bd-example-modal-lg" style="top: 10px;" role="dialog">
    <div class="modal-dialog modal-lg" >
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><i alt="Cerrar" class="glyphicon glyphicon-remove-sign"> </i></span><span class="sr-only">Close</span></button>
              <h3 class="modal-title"><i class="fas fa-pen-square"></i> CLIENTE: 
                <span class="text-uppercase" style="font-weight: 600;">{{customer.update.name}}</span> [
                <span class="text-uppercase" style="font-weight: 600;color: #f0ad4e !important;" ng-if="customer.update.idClientTypeFk==1">Administracion</span>
                <span class="text-uppercase" style="font-weight: 600;color: #f0ad4e !important;" ng-if="customer.update.idClientTypeFk==2">Edificio</span>
                <span class="text-uppercase" style="font-weight: 600;color: #f0ad4e !important;" ng-if="customer.update.idClientTypeFk==3">Empresa</span>
                <span class="text-uppercase" style="font-weight: 600;color: #f0ad4e !important;" ng-if="customer.update.idClientTypeFk==4">Sucursal</span>
                <span class="text-uppercase" style="font-weight: 600;color: #f0ad4e !important;" ng-if="customer.update.idClientTypeFk==5">Particular</span>]
              </h3>
          </div>
        <div class="modal-body"  style="overflow-y: scroll;">
        <!-- FORM CONTAINER-->
        <form name="fUpdateCustomer" novalidate>
          <div ng-switch on="mySwitch">
            <fieldset ng-switch-when="PASO 1">
              <!-- Left Colunm -->
              <div class="col-md-6">
                <!-- Customer Type -->
                <div class="form-group col-md-12" ng-class="
                        { 
                          'col-md-12':
                          customer.update.idClientTypeFk=='' || customer.update.idClientTypeFk==undefined || customer.update.idClientTypeFk=='2',
                          'col-md-6':
                          (customer.update.idClientTypeFk!='' && customer.update.idClientTypeFk!=undefined && customer.update.idClientTypeFk!='2'),
                          'has-success': 
                          customer.update.idClientTypeFk!=undefined && fUpdateCustomer.update_customer_type.$valid,
                          'has-error':  
                          (customer.update.idClientTypeFk==undefined && fUpdateCustomer.update_customer_type.$touched),
                        }"> 
                  <label style="padding-left: 15px;">Tipo de cliente</label>
                      <div class="input-group">
                          <span class="input-group-addon"><i class="fas fa-address-card"></i></span>
                          <select name="update_customer_type" class="form-control" ng-change="customerTypeCustomer(); cleanCustomerFieldFn(); "  ng-options="item.idClientType as item.ClientType for item in rsCustomerTypeData " ng-model="customer.update.idClientTypeFk" required autofocus >
                            <option value="">Seleccione una opci&#243n</option>
                          </select>
                      </div>
                </div>
                <div class="form-group col-md-6" ng-if="(customer.update.idClientTypeFk!='' && customer.update.idClientTypeFk!=undefined && customer.update.idClientTypeFk!=2)" ng-class="
                        { 'has-success': 
                          customer.update.typeInmueble!=undefined && fUpdateCustomer.tipo_inmueble.$valid,
                          'has-error':  
                          (customer.update.typeInmueble==undefined) && fUpdateCustomer.tipo_inmueble.$touched,
                        }"> 
                    <label style="padding-left: 15px;">Tipo de inmueble</label>
                        <div class="input-group " >
                          <span class="input-group-addon"><i class="fas fa-address-card"></i></span>
                          <select id="tipo_inmueble" name="update_tipo_inmueble" class="form-control" ng-change="customerTypeInmueble(); " ng-model="customer.update.typeInmueble" ng-required="(customer.update.idClientTypeFk!=2)" autofocus >
                            <option value="">Inmueble</option>
                            <option value="1">Edificio</option>
                            <option value="2">Casa</option>
                            <option value="3">Local</option>
                          </select>
                      </div>
                  </div>
                <!-- Customer Basic Inputs -->
                <div ng-if="customer.new.idClientTypeFk!='' && customer.new.idClientTypeFk!=undefined" ng-include="'views/customer/comp_customerBasicInputs.html'"></div> 
                <!-- Customer Name -->
                <div class="form-group col-md-12">
                  <label style="padding-left: 15px;">Nombre</label>  
                      <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input  name="update_cname" autofocus="true" placeholder="Nombre" class="form-control" ng-model="customer.update.name"  type="text" required autofocus/>
                      </div>
                </div>          
                <!-- Agent -->
                <div class="form-group col-md-12" > 
                    <label style="padding-left: 15px;">Agente</label>
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-cogs"></i></span>
                        <select name="update_Agent" class="form-control"  ng-options="item.idAgent as item.agent for item in rsAgentsData" ng-model="customer.update.idAgentFk" required autofocus >
                          <option value="">Seleccione una opci&#243n</option>
                        </select>
                      </div>
                </div>
                <!-- Company razon social Name -->
                <div class="form-group col-md-12">
                    <label style="padding-left: 15px;">Raz&#243n Social</label>  
                      <div class="input-group">
                    <span class="input-group-addon"><i class="fas fa-address-card"></i></span>
                    <input  name="update_razonsocial" autofocus="true" placeholder="Raz&#243n Social" class="form-control" ng-model="customer.update.businessName"  type="text" required autofocus/>
                      </div>
                </div>  
                <!-- Company CUIT -->
                <div class="form-group col-md-12">
                    <label style="padding-left: 15px;">CUIT</label>  
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-address-card"></i></span>
                      <input  name="update_cuit" autofocus="true" placeholder="CUIT" class="form-control" ng-model="customer.update.CUIT"  type="text" required autofocus/>
                    </div>
                </div>  
                <!-- Address list-->              
                <div class="form-group col-md-12" >
                    <label style="padding-left: 15px;">Direcci&#243n</label> 
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-map-marked-alt"></i></span> 
                          <input type="text" name="update_direccion" ng-model="customer.update.address" placeholder="Direcci&#243n" ng-keyup="getAddressByNameFn(customer.update.address)" class="form-control" required="true" />
                      </div>
                      <ul class="list-group" ng-if="rsAddress_API_Data.length>0">
                        <li class="list-group-item" ng-repeat="item in rsAddress_API_Data" ng-click="fillData(item, 'address', 'update')">{{item.nomenclatura}}</li>
                      </ul>                      
                </div>              
                <!-- State List-->
                <div class="form-group col-md-12">
                  <label style="padding-left: 15px;">Provincia</label> 
                    <div class="input-group">
                            <span class="input-group-addon"><i class="fas fa-map-marked-alt"></i></span>
                                <ui-select name="update_direccion" class="dropdown-select" ng-model="selectCustomerAddressId.selected" autofocus ng-change="getLocationByIdFn(selectCustomerAddressId.selected.idProvince); getCurrentAddrVal(selectCustomerAddressId.selected, selectCustomerLocationId.selected); ">
                                    <ui-select-match placeholder="Seleccione una provincia">{{$select.selected.province | uppercase}}</ui-select-match>
                                    <ui-select-choices repeat="item in rsStatesData | filter: $select.search">
                                      <div ng-bind-html="item.province | highlight: $select.search"></div>
                                        <!--<small>Costo de Gestion: </small><small ng-bind-html="item.priceManagement | highlight: $select.search"></small>
                                        <small>Costo de Envio: </small><small ng-bind-html="item.priceShipping | highlight: $select.search"></small>-->
                                    </ui-select-choices>
                                </ui-select>
                    </div>
                </div>                 
                <!--<div class="form-group col-md-12" >
                    <label style="padding-left: 15px;">Provincia</label> 
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-map-marked-alt"></i></span> 
                          <input type="text" name="update_provincia" ng-model="customer.update.nameState" placeholder="Provincia" ng-keyup="sysFindInArrFn(customer.update.nameState, rsStatesData, 'states')" class="form-control"  ng-disabled="!customer.update.address" required="customer.update.address"/>
                      </div>
                      <ul class="list-group" ng-if="rsStatesList.length>0">
                        <li class="list-group-item" ng-repeat="item in rsStatesList" ng-click="fillData(item.objTmp, 'states')">{{item.objTmp.province}}</li>
                      </ul>                      
                </div>-->            
                <!-- Localidad list-->
                <div class="form-group col-md-12">
                  <label style="padding-left: 15px;">Localidad</label> 
                    <div class="input-group">
                            <span class="input-group-addon"><i class="fas fa-map-marked-alt"></i></span>
                                <ui-select name="update_Localidad" class="dropdown-select" ng-model="selectCustomerLocationId.selected" ng-change="getCurrentAddrVal(selectCustomerAddressId.selected, selectCustomerLocationId.selected);" autofocus>
                                    <ui-select-match placeholder="Seleccione una localidad">{{$select.selected.location | uppercase}}</ui-select-match>
                                    <ui-select-choices repeat="item in rsLocations_All | filter: $select.search">
                                      <div ng-bind-html="item.location | highlight: $select.search"></div>
                                        <!--<small>Costo de Gestion: </small><small ng-bind-html="item.priceManagement | highlight: $select.search"></small>
                                        <small>Costo de Envio: </small><small ng-bind-html="item.priceShipping | highlight: $select.search"></small>-->
                                    </ui-select-choices>
                                </ui-select>
                    </div>
                </div>  
                <!--               
                <div class="form-group col-md-12" >
                    <label style="padding-left: 15px;">Localidad</label> 
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-map-marked-alt"></i></span> 
                          <input type="text" name="update_localidad" ng-model="customer.update.nameLocation" placeholder="Localidad" ng-keyup="sysFindInArrFn(customer.update.nameLocation, rsLocations_Data, 'locations')" class="form-control" ng-disabled="!customer.update.address" required="customer.update.address" />
                      </div>
                      <ul class="list-group" ng-if="rsLocationsList.length>0">
                        <li class="list-group-item" ng-repeat="item in rsLocationsList" ng-click="fillData(item.objTmp, 'locations')">{{item.objTmp.location}}</li>
                      </ul>                      
                </div>-->
                <!-- Schedule Atention -->
                  <div class=" col-md-12">
                    <div class="well-checkbox" style="margin-left: 0px; margin-right: 0px;">
                      <label class="from-left-from-label">HORARIO DE ATENCION </label>
                        <table>
                          <!--<tr ng-if="customer.update.list_schedule_atention.length>0" ng-repeat="item in customer.update.list_schedule_atention">
                              <td style="padding-top: 11px; width: 1%;">
                                  <label class="switch">
                                      <input type="checkbox" class="success" ng-required="!chekBox.row[$index]" ng-model="chekBox.row[$index]" id="chekBox-{{$index}}">
                                      <span class="slider round nslider nround"></span>
                                  </label>
                              </td>
                              <td style="font-size: 11px; padding-top: 11px; width: 5%;">
                                <span class="text-muted text-uppercase text-box">{{item.day}}</span>
                              </td>
                              <td style="font-size: 11px; padding-left: 10px;">
                                <label class="from-left-from-label">desde</label>     
                                <label class="from-middle-to-label">hasta</label>
                                <label class="from-middle-from-label">desde</label>     
                                <label class="from-rigth-to-label">hasta</label>
                                <div class="form-group form-inline">                                                       
                                  <input style="width:22%" id="update_fromAm-{{item.day}}" ng-disabled="!chekBox.row[$index]" autofocus="true" class="from-left-box input--time" ng-keydown="fnLoadPhoneMask(); enabledNextBtn();" placeholder="07:00" ng-required="!chekBox.row[$index]" ng-model="item.fronAm" type="text" autofocus/>

                                  <input style="width: 22%;" id="update_toAm-{{item.day}}" ng-disabled="!chekBox.row[$index]" autofocus="true" class="from-left-box input--time" ng-keydown="fnLoadPhoneMask(); enabledNextBtn();" placeholder="12:00" ng-required="!chekBox.row[$index]" ng-model="item.toAm"  type="text" ng-keyup="item.toAm.length==5?setScheduleTimeFn(item):''" autofocus/>

                                  <input style="width: 22%;" id="update_fromPm-{{item.day}}" ng-disabled="!chekBox.row[$index]" autofocus="true" class="from-left-box input--time" ng-keydown="fnLoadPhoneMask(); enabledNextBtn();" placeholder="14:00" ng-required="!chekBox.row[$index]" ng-model="item.fronPm"  type="text" autofocus/>

                                  <input style="width: 22%;" id="update_toPm-{{item.day}}" ng-disabled="!chekBox.row[$index]" autofocus="true" class="from-left-box input--time" ng-keydown="fnLoadPhoneMask(); enabledNextBtn();" placeholder="18:00" ng-required="!chekBox.row[$index]" ng-model="item.toPm"  type="text" ng-keyup="item.toPm.length==5?setScheduleTimeFn(item):''" autofocus/>                            
                                </div>
                              </td>                                   
                          </tr> -->
                          <tr ng-repeat="item in list_schedule">
                            <td style="padding-top: 11px; width: 1%;">
                              <label class="switch switch-3x">
                                <input type="checkbox" class="success" ng-click="item.id>=2?setScheduleTimeFn(item, 'update'):''" ng-required="!item.selected" ng-model="item.selected" id="modCheck-{{item.id}}">
                                <span class="slider slider-3x flat"></span>
                              </label>
                            </td>
                            <td style="font-size: 11px; padding-top: 11px; width: 5%;">
                              <span class="text-muted text-uppercase text-box">{{item.day}}</span>
                            </td>
                            <td style="font-size: 11px; padding-left: 10px;">
                              <label class="from-left-from-label">desde</label>     
                              <label class="from-middle-to-label">hasta</label>
                              <label class="from-middle-from-label">desde</label>     
                              <label class="from-rigth-to-label">hasta</label>
                              <div class="form-group form-inline">                  
                                <input style="width:22%" id="fromAm-{{item.id}}" ng-disabled="!item.selected" autofocus="true" class="from-left-box input--time" ng-keydown="fnLoadPhoneMask(); enabledNextBtn();" placeholder="07:00" ng-required="!item.selected" ng-model="item.fronAm" type="text" autofocus/>

                                <input style="width: 22%;" id="toAm-{{item.id}}" ng-disabled="!item.selected" autofocus="true" class="from-left-box input--time" ng-keydown="fnLoadPhoneMask(); enabledNextBtn();" placeholder="12:00" ng-required="!item.selected" ng-model="item.toAm"  type="text" ng-keyup="item.toAm.length==5?setScheduleTimeFn(item):''" autofocus/>

                                <input style="width: 22%;" id="fromPm-{{item.id}}" ng-disabled="!item.selected" autofocus="true" class="from-left-box input--time" ng-keydown="fnLoadPhoneMask(); enabledNextBtn();" placeholder="14:00" ng-required="!item.selected" ng-model="item.fronPm"  type="text" autofocus/>

                                <input style="width: 22%;" id="toPm-{{item.id}}" ng-disabled="!item.selected" autofocus="true" class="from-left-box input--time" ng-keydown="fnLoadPhoneMask(); enabledNextBtn();" placeholder="18:00" ng-required="!item.selected" ng-model="item.toPm"  type="text" ng-keyup="item.toPm.length==5?setScheduleTimeFn(item):''" autofocus/>                                                     
                              </div>
                            </td>                                   
                          </tr>                           
                          <!--<tr ng-if="customer.update.list_schedule_atention.length==0" >
                            <td colspan="5"><div class="col-md-12"><span style="font-size: 14px; font-weight: 600; color: rgba(255, 188, 87, 1);">Horarios de atencion No Registrados</span></div>
                            </td>
                          </tr>-->                                     
                        </table>   
                    </div>
                  </div>
                <!-- Schedule Atention -->                                                        
                <!-- website -->
                <div class="form-group col-md-12">
                  <label style="padding-left: 15px;">Pagina web</label>  
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-code"></i></span>
                        <input  name="update_typeOtherAtt" autofocus="true" class="form-control" placeholder="website.com" ng-model="customer.update.pageWeb"  type="text" autofocus/>
                      </div>
                </div>
              </div>
              <div class="col-md-6">
                <!-- mail default -->
                <!--
                <div class="form-group col-md-12">
                  <label style="padding-left: 15px;" >Mail principal</label> 
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input name="mailCustomer"  ng-blur="checkEmail('mailCustomer'); enabledNextBtn(); customer.update.mail=emailFound==true?'':customer.update.mail" placeholder="indique mail" class="form-control" ng-model="customer.update.mail" type="email" required autofocus />
                    </div>
                    <br>
                    <div ng-if="emailFound && customer.update.mail && msgTimer && mailCustomer" class="alert alert-warning" role="alert">
                            <strong><i class="fas fa-exclamation-circle">&nbsp </i>INFO: </strong><br>correo registrado en el usuario, <strong>{{mailFoundNameUser}}</strong>.
                        </div>          
                </div>-->               
                  <div class="form-group form-inline col-md-12">
                    <label class="clf-p-left">Telefonos de contactos <button style="margin-left: 100px;" ng-disabled="contactPhones.phoneContact==undefined || contactPhones.phoneContact.length<=0 || contactPhones.phoneContact.length<8 || contactPhones.phoneTag=='' || contactPhones.phoneTag==undefined" ng-click="addPhoneNumFn(contactPhones, 'update')" class="btn btn-sm btn-success"><i class="fas fa-plus"></i> Agregar</button> </label>  
                    <div class="input-group">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>  
                      <select style="width: 43%" name="update_contactName" class="form-control" ng-model="contactPhones.phoneTag" ng-required="list_phones.length==0" autofocus >
                        <option value="">Selecci&#243n Tipo</option>
                        <option value="comercial">Comercial</option>
                        <option value="guardia">Guardia</option>
                        <option value="urgente">Urgente</option>
                      </select>
                                                
                      <input style="width: 57%" name="update_contact_numbers" autofocus="true" class="form-control input--phone" ng-keydown="fnLoadPhoneMask()" ng-model="contactPhones.phoneContact" type="text" ng-required="list_phones.length==0" autofocus/>
                    </div>
                    <div class="well-checkbox n-padding-t n-padding-b" style="margin-left: 0px;margin-right: 0px;">
                        <table>
                          <tr ng-if="list_phones.length>0" ng-repeat="phone in list_phones">
                              <td style="width: 50%">
                                <span class="text-muted text-box">
                                  <label ng-if="phone.phoneTag=='comercial'" style="font-size: 100%" class="label label-default">{{phone.phoneTag | uppercase}}</label>
                                  <label ng-if="phone.phoneTag=='guardia'" style="font-size: 100%" class="label label-warning">{{phone.phoneTag | uppercase}}</label>
                                  <label ng-if="phone.phoneTag=='urgente'" style="font-size: 100%" class="label label-danger">{{phone.phoneTag | uppercase}}</label>
                                </span>
                              </td>                               
                              <td style="width: 150%"><span class="text-muted text-box"><label style="font-size: 100%" class="label label-info">{{phone.phoneContact}}</label></span></td>
                                <td style="padding-bottom: 5px;">
                                  <button data-toggle="tooltip" data-placement="right" title="Eliminar" ng-click="removePhoneNumFn(phone)" class="btn btn-sm btn-danger"><i class="fas fa-phone-slash"></i></button>

                                </td>
                          </tr>
                          <tr ng-if="list_phones.length==0" >
                            <td colspan="5"><div class="col-md-12"><span style="font-size: 14px; font-weight: 600; color: rgba(255, 188, 87, 1);">Tel&#233;fonos No Registrados</span></div>
                            </td>
                          </tr>                          
                        </table>
                    </div>                     
                </div>        
                <!-- mail for key orders -->
                <div class="form-group col-md-12">
                  <label style="padding-left: 15px;" >Mail para llaveros</label> 
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input name="update_mailFromKey"  ng-blur="checkEmail('mailFromKey'); enabledNextBtn(); customer.update.mailFronKey=emailFound==true?'':customer.update.mailFronKey" placeholder="indique mail" class="form-control" ng-model="customer.update.mailFronKey" type="email" required autofocus />
                    </div>
                    <br>
                    <div ng-if="emailFound && customer.update.mailFronKey && msgTimer && mailFromKey" class="alert alert-warning" role="alert">
                            <strong><i class="fas fa-exclamation-circle">&nbsp </i>INFO: </strong><br>correo registrado en el usuario, <strong>{{mailFoundNameUser}}</strong>.
                        </div>          
                </div>
                <!-- Comments for keyorder -->
                <div class="form-group col-md-12">
                  <label >Observaciones de pedidos de llaveros</label> 
                    <textarea style="resize: none;" name="update_observationOrderKey" rows="3" placeholder="indique las Observaciones." class="form-control" ng-model="customer.update.observationOrderKey" ></textarea>
                </div>              
                <!-- mail for technical service-->
                <div class="form-group col-md-12">
                 <label style="padding-left: 15px;">Mail para servicios t&#233;cnicos</label>  
                      <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input name="update_mailServiceTecnic" ng-blur="checkEmail('mailServiceTecnic'); enabledNextBtn(); customer.update.mailServiceTecnic=emailFound==true?'':customer.update.mailServiceTecnic" placeholder="indique mail" class="form-control" ng-model="customer.update.mailServiceTecnic" type="email" required autofocus />
                      </div>
                    <br>
                    <div ng-if="emailFound && customer.update.mailServiceTecnic && msgTimer && mailServiceTecnic" class="alert alert-warning" role="alert">
                            <strong><i class="fas fa-exclamation-circle">&nbsp </i>INFO: </strong><br>correo registrado en el usuario, <strong>{{mailFoundNameUser}}</strong>.
                        </div>  
                </div>
                <!-- Comments for technical services -->
                <div class="form-group col-md-12">
                  <label class="col-xs-12" >Observaciones de servicios t&#233;cnicos</label> 
                    <textarea style="resize: none;" name="update_observationSericeTecnic" rows="3" placeholder="indique las Observaciones." class="form-control" ng-model="customer.update.observationSericeTecnic" ></textarea>
                </div>                    
                <!-- mail for payments-->
                <div class="form-group col-md-12">
                 <label style="padding-left: 15px;">Mail para Cobranzas</label>  
                      <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input name="update_mailCollection" ng-blur="checkEmail('mailCollection'); enabledNextBtn(); customer.update.mailCollection=emailFound==true?'':customer.update.mailCollection" placeholder="indique mail" class="form-control" ng-model="customer.update.mailCollection"  type="email" required autofocus />
                      </div>
                    <br>
                    <div ng-if="emailFound && customer.update.mailCollection && msgTimer && mailCollection" class="alert alert-warning" role="alert">
                            <strong><i class="fas fa-exclamation-circle">&nbsp </i>INFO: </strong><br>correo registrado en el usuario, <strong>{{mailFoundNameUser}}</strong>.
                        </div>  
                </div>  
                <!-- Comments for payments -->
                <div class="form-group col-md-12">
                  <label>Observaciones de  Cobranzas</label> 
                    <textarea style="resize: none;" name="update_observationFinancial" rows="3" placeholder="indique las Observaciones." class="form-control" ng-model="customer.update.observationCollection" ></textarea>
                </div>                
              </div>    
            </fieldset>
            <fieldset ng-switch-when="PASO 2">
              <div class="col-md-6">
                <!-- General Comments -->
                <div class="form-group col-md-12">
                  <label>Observaciones Generales</label> 
                    <textarea style="resize: none;" name="update_observation" rows="3" placeholder="indique las Observaciones." class="form-control" ng-model="customer.update.observation" ></textarea>
                </div>                
                      <div class="col-md-12">               
                  <label class="clf-p-left">Usuario a autorizar <span style="margin-left: 120px;"> <button ng-disabled="authUser==0 || authUser==undefined" ng-click="addAuthUserFn(authUser.selected)" class="btn btn-sm btn-success"><i class="fas fa-plus"></i>Agregar</button></label>  
                          <div class="selectContainer">
                              <div class="input-group">
                                <span class="input-group-addon"><i class="fas fa-lock-open"></i></span>
                                    <ui-select class="dropdown-select" ng-model="$parent.authUser.selected" on-select="onSelectCallback()">
                                      <ui-select-match style="width: 326px;" allow-clear="true" placeholder="Buscar usuario" >{{$select.selected.fullNameUser}}</ui-select-match>
                                        <ui-select-choices repeat="item in rsList.clientUser | filter: $select.search">
                                          <div ng-bind-html="item.fullNameUser | highlight: $select.search"></div>
                                            <small ng-bind-html="item.emailUser | highlight: $select.search"></small>
                                            <small ng-bind-html="item.nameProfile | highlight: $select.search"></small>
                                            
                                        </ui-select-choices>
                                        <ui-select-no-choice>
                              No hay resultados, contacte area de soporte.
                            </ui-select-no-choice>
                                    </ui-select>
                              </div>
                          </div>
                          <div ng-if="list_users.length>0" class="well-checkbox n-padding-t n-padding-b" style="margin-left: 0px;margin-right: 0px;">
                            <table>
                              <tr ng-repeat="user in list_users">
                                <td style="width: 200%"><span class="text-muted text-uppercase text-box">{{user.fullNameUser}} </span></td>
                                    <td style="padding-bottom: 5px;">
                                      <button ng-click="removeAuthUserFn(user)" class="btn btn-sm btn-danger"><i class="fas fa-user-times"></i> Eliminar</button>
                                    </td>
                                </tr>
                            </table>
                          </div>          
                      </div>
              </div>
              <div class="col-md-6">          
                <!-- PAYMENT FIELDS -->
                <div class="form-group col-md-12">
                  <label class="clf-size from-left-from-label">DATOS DE FACTURACION</label><br>
                  <label style="padding-left: 15px;" >Razon Social</label> 
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input name="update_businessNameBilling" placeholder="razon social" class="form-control" ng-model="tmpVars.billing_information.businessNameBilling" type="text" required autofocus />
                    </div>                    
                </div>
                <div class="form-group col-md-12">                  
                  <label style="padding-left: 15px;" >CUIT</label> 
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input name="update_cuitBilling" placeholder="CUIT" class="form-control" ng-model="tmpVars.billing_information.cuitBilling" type="text" required autofocus />
                    </div>                    
                </div>
                <!-- State List-->
                <div class="form-group col-md-12">
                  <label style="padding-left: 15px;">Provincia</label> 
                    <div class="input-group">
                            <span class="input-group-addon"><i class="fas fa-map-marked-alt"></i></span>
                                <ui-select name="update_paymentprovincia" class="dropdown-select"
                                      select.idDepartmentKf=null;" ng-model="selectnameProvinceBillingFk.selected" ng-change="getLocationByIdFn(selectnameProvinceBillingFk.selected.idProvince)" autofocus>
                                    <ui-select-match placeholder="Seleccione una provincia">{{$select.selected.province | uppercase}}</ui-select-match>
                                    <ui-select-choices repeat="item in rsStatesData | filter: $select.search">
                                      <div ng-bind-html="item.province | highlight: $select.search"></div>
                                        <!--<small>Costo de Gestion: </small><small ng-bind-html="item.priceManagement | highlight: $select.search"></small>
                                        <small>Costo de Envio: </small><small ng-bind-html="item.priceShipping | highlight: $select.search"></small>-->
                                    </ui-select-choices>
                                </ui-select>
                    </div>
                </div>                             
                <!-- Localidad list-->
                <div class="form-group col-md-12">
                  <label style="padding-left: 15px;">Localidad</label> 
                    <div class="input-group">
                            <span class="input-group-addon"><i class="fas fa-map-marked-alt"></i></span>
                                <ui-select name="update_paymentlocalidad" class="dropdown-select"
                                      select.idDepartmentKf=null;" ng-model="selectnameLocationBillingFk.selected" autofocus>
                                    <ui-select-match placeholder="Seleccione una localidad">{{$select.selected.location | uppercase}}</ui-select-match>
                                    <ui-select-choices repeat="item in rsLocations_All | filter: $select.search">
                                      <div ng-bind-html="item.location | highlight: $select.search"></div>
                                        <!--<small>Costo de Gestion: </small><small ng-bind-html="item.priceManagement | highlight: $select.search"></small>
                                        <small>Costo de Envio: </small><small ng-bind-html="item.priceShipping | highlight: $select.search"></small>-->
                                    </ui-select-choices>
                                </ui-select>
                    </div>
                </div>                   
                <!-- Type of IVA -->
                <div class="form-group col-md-12" > 
                  <label style="padding-left: 15px;">Tipo de IVA</label>
                      <div class="input-group">
                          <span class="input-group-addon"><i class="fas fa-address-card"></i></span>
                          <select name="update_typeOfIVA" class="form-control"  ng-options="item.idTypeTax as item.typeTax for item in rsTypeOfIVAData" ng-model="tmpVars.billing_information.idTypeTaxFk" required autofocus>
                            <option value="">Seleccione una opci&#243n</option>
                          </select>
                      </div>
                </div>                                                  
              </div>  
            </fieldset>
          </div>
        </form>
        <div class="clearfix"> </div> 
      </div>    
          <div class="modal-footer">
              <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6 pull-right">
                      <button type="submit" ng-click="switchCustomersFn('update', customer.update)" ng-show="!hasNextStep()" ng-disabled="fUpdateCustomer.$invalid" class="btn btn-labeled btn-success">
                          Actualizar<span class="btn-label-right"><i class="glyphicon glyphicon-send"></i> </span></button>
                          <!--enabledNextBtn(); loadFieldsTo2Step(); -->
                      <button ng-click="getCurrentAddrVal(selectCustomerAddressId.selected, selectCustomerLocationId.selected); incrementStep(); enabledNextBtn(); loadFieldsTo2Step('update');" ng-disabled="formValidated!=true" ng-show="btnShow" class="btn btn-labeled btn-primary">
                          Siguiente<span class="btn-label-right"><i class="fas fa-arrow-circle-right"></i></span></button>
                  </div>
                  <div class="col-xs-1 col-sm-1 col-md-1 pull-left">
                       <button type="button" ng-click="decrementStep();" ng-show="btnBack" class="btn btn-labeled btn-primary">
                          <span class="btn-label"><i class="fas fa-arrow-circle-left"></i></span>Atras</button>
                  </div>              
              </div>
          </div>
    </div>
  </div>
</div>
<!-- // CUSTOMER REGISTER FORM -->