<!-- Authorized Users -->
<div id="customerMailsContact" style="top: 130px;" class="modal fade modal-dialog-centered in" style="top: 130px;" role="dialog">
    <div class="modal-dialog modal-md" >
      <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><i alt="Cerrar" class="glyphicon glyphicon-remove-sign"> </i></span><span class="sr-only">Close</span></button>
              <h3 class="modal-title">CORREOS DE CONTACTO</h3>
          </div>
        <div class="modal-body">
        <!-- FORM CONTAINER-->
        <form class="form-horizontal" name="fPhonesSchedule" novalidate>
          <fieldset>
          	<div class="col-md-12 col-sm-12">
				      <label class="clf-size clf-p-left">Cliente:</label>
              <span class="label label-default clf-size">{{customer.info.name | uppercase}}</span>
          	</div>
            <!-- Phones -->
              <div class=" col-md-12">
                <div class="well-checkbox" style="margin-left: 0px; margin-right: 0px; ">
                  <label class="from-left-from-label" style="font-size: 18px;">Correos:</label>
                      <div  class="well-checkbox n-padding-t n-padding-b" style="margin-left: 0px;margin-right: 0px;">
                          <table>
                            <tr style="padding-bottom: 20px;">
                              <td class="mailList" style="width: 17%;"><i style="padding-right: 2%;" data-toggle="tooltip" data-placement="top" title="Mail Llaveros" class="fas fa-key"></i><label class="label label-default">Llaveros: </label></td>
                              <td style="width: 70%; padding-left: 1em;">
                                <span class="text-muted text-box">
                                  <span ng-if="customer.info.mailFronKey" style="font-size: 85%; cursor: pointer;" data-toggle="tooltip" data-placement="top" title="Click para Copiar" class="mailListItem" ngclipboard data-clipboard-text="{{item.mailFronKey}}">
                                  {{customer.info.mailFronKey | uppercase}}
                                  </span>
                                </span>
                              </td>                               
                            </tr>
                            <tr style="padding-bottom: 20px;">
                              <td class="mailList" style="width: 17%;"><i style="padding-right: 5%;" data-toggle="tooltip" data-placement="top" title="Mail servicios t&#233;cnico" class="fas fa-tools"></i><label class="label label-default">T&#233;cnico: </label></td>
                              <td style="width: 70%; padding-left: 1em;">
                                <span class="text-muted text-box">
                                  <span ng-if="customer.info.mailServiceTecnic" style="font-size: 85%; cursor: pointer;" data-toggle="tooltip" data-placement="top" title="Click para Copiar" class="mailListItem" ngclipboard data-clipboard-text="{{item.mailServiceTecnic}}">                                    
                                  {{customer.info.mailServiceTecnic | uppercase}}
                                  </span>
                                </span>
                              </td>                               
                            </tr> 
                            <tr style="padding-bottom: 20px;">
                              <td class="mailList" style="width: 17%;"><i style="padding-right: 7%;" data-toggle="tooltip" data-placement="top" title="Mail Cobranzas" class="fas fa-dollar-sign"></i><label class="label label-default">Cobranza: </label></td>
                              <td style="width: 70%; padding-left: 1em;">
                                <span class="text-muted text-box">
                                  <span ng-if="customer.info.mailCollection" style="font-size: 85%; cursor: pointer;" data-toggle="tooltip" data-placement="top" title="Click para Copiar" class="mailListItem" ngclipboard data-clipboard-text="{{item.mailCollection}}">
                                    {{customer.info.mailCollection | uppercase}}
                                  </span>
                                </span>
                              </td>                               
                            </tr>                                                                                     
                          </table>
                      </div>                  
                  </div>
              </div>
          </fieldset>
        </form>
        <div class="clearfix"> </div> 
      </div>
      <!-- Actions Button ng-click="newSysProfileFn()"-->
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 pull-right">
                        <a data-dismiss="modal" type="button" class="btn btn-labeled btn-danger">
                            <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>Cerrar</a>
                    </div>
                </div>
            </div>
    </div>
  </div>
</div>
<!-- // Authorized Users -->