<!-- Authorized Users -->
<div id="customerPhonesContact" style="top: 130px;" class="modal fade modal-dialog-centered in" style="top: 130px;" role="dialog">
    <div class="modal-dialog modal-md" >
      <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><i alt="Cerrar" class="glyphicon glyphicon-remove-sign"> </i></span><span class="sr-only">Close</span></button>
              <h3 class="modal-title">TEL&#201;FONOS DE CONTACTO</h3>
          </div>
        <div class="modal-body">
        <!-- FORM CONTAINER-->
        <form class="form-horizontal" name="fPhonesSchedule" novalidate>
          <fieldset>
          	<div class="col-md-12 col-sm-12">
				      <label class="clf-size clf-p-left">Cliente:</label>
              <span class="label label-default clf-size">{{customer.info.name | uppercase}}</span>
          	</div>
            <!-- Phones -->
              <div class=" col-md-12">
                <div class="well-checkbox" style="margin-left: 0px; margin-right: 0px; ">
                  <label class="from-left-from-label" style="font-size: 18px;">TEL&#201;FONOS DE CONTACTO</label>
                      <div  class="well-checkbox n-padding-t n-padding-b" style="margin-left: 0px;margin-right: 0px;">
                          <table>
                            <tr ng-if="list_phones.length>0" ng-repeat="phone in list_phones">
                                <td style="width: 70%; padding-left: 3.8em; padding-bottom: 0.5em;">
                                  <span class="text-muted text-box">
                                    <label ng-if="phone.phoneTag=='comercial'" style="font-size: 100%" class="label label-default">{{phone.phoneTag | uppercase}}</label>
                                    <label ng-if="phone.phoneTag=='guardia'" style="font-size: 100%" class="label label-warning">{{phone.phoneTag | uppercase}}</label>
                                    <label ng-if="phone.phoneTag=='urgente'" style="font-size: 100%" class="label label-danger">{{phone.phoneTag | uppercase}}</label>
                                  </span>
                                </td>                               
                                <td style="width: 50% padding-bottom: 0.5em;"><span class="text-muted text-box"><label style="font-size: 100%" class="label label-info">{{phone.phoneContact}}</label></span></td> 
                            </tr>
                            <tr ng-if="list_phones.length==0" >
                              <td colspan="5"><div class="col-md-12 col-md-offset-4"><span style="font-size: 18px; font-weight: 600; color: rgba(255, 188, 87, 1);">Tel&#233;fonos No Registrados</span></div>
                              </td>
                            </tr>                            
                          </table>
                      </div>                  
                  </div>
              </div>    
              <div class=" col-md-12"></div>                          
            <!-- Schedule Atention -->
              <div class=" col-md-12">
                <div class="well-checkbox" style="margin-left: 0px; margin-right: 0px; font-size: 18px;">
                  <label class="from-left-from-label">HORARIO DE ATENCION </label>
                    <table>
                      <tr ng-if="customer.info.list_schedule_atention.length>0" ng-repeat="item in customer.info.list_schedule_atention">
                        <td style="font-size: 17px; padding-top: 17px; width: 5%;">
                          <span class="text-muted text-uppercase text-box">{{item.day}}</span>
                        </td>
                        <td style="font-size: 11px; padding-left: 10px;">
                          <label class="from-left-from-label-2">desde</label>     
                          <label class="from-middle-to-label-2">hasta</label>
                          <label class="from-middle-from-label-2">desde</label>     
                          <label class="from-rigth-to-label-2">hasta</label>
                          <div class="form-group form-inline">                  
                            <input style="width:22%" id="contact_fromAm-{{item.id}}" readonly="true" class=" from-left-box-2 input--time" placeholder="{{item.fronAm}}" type="text" />

                            <input style="width: 22%;" id="contact_toAm-{{item.id}}" readonly="true" class=" from-left-box-2 input--time" placeholder="{{item.toAm}}" type="text"  />

                            <input style="width: 22%;" id="contact_fromPm-{{item.id}}" readonly="true" class=" from-left-box-2 input--time" placeholder="{{item.fronPm}}" type="text" />

                            <input style="width: 22%;" id="contact_toPm-{{item.id}}" readonly="true" class=" from-left-box-2 input--time" placeholder="{{item.toPm}}" type="text" />
                          </div>
                        </td>                                   
                      </tr> 
                      <tr ng-if="customer.info.list_schedule_atention.length==0" >
                        <td colspan="5"><div class="col-md-12 col-md-offset-2"><span style="font-size: 18px; font-weight: 600; color: rgba(255, 188, 87, 1);">Horarios de atencion No Registrados</span></div>
                        </td>
                      </tr>                                
                    </table>   
                  </div>
              </div>
            <!-- Schedule Atention -->              
          </fieldset>
        </form>
        <div class="clearfix"> </div> 
      </div>
      <!-- Actions Button ng-click="newSysProfileFn()"-->
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 pull-right">
                        <a data-dismiss="modal" type="button" class="btn btn-labeled btn-danger">
                            <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>Cerrar</a>
                    </div>
                </div>
            </div>
    </div>
  </div>
</div>
<!-- // Authorized Users -->