<!-- Licencias de Usuario -->
<div id="serviceUserLicenseList" style="top: 130px;" class="modal fade modal-dialog-centered in" style="top: 130px;" role="dialog">
    <div class="modal-dialog modal-lg" >
      <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><i alt="Cerrar" class="glyphicon glyphicon-remove-sign"> </i></span><span class="sr-only">Close</span></button>
              <h3 class="modal-title"><i class="product-success far fa-address-book"></i>
                <span class="text-uppercase">LICENCIAS DE USUARIO</span></h3>
          </div>
        <div class="modal-body">
          <div class="form-group col-md-12">
            <div class="col-md-3">
              <span ng-if="service.numbOfLicenceSet>0 && isCollapsed">
                <label class="label label-default">Pedidas :&nbsp;</label>&nbsp;
                <label class="label" ng-class="{
                'label-success':  service.numbOfLicenceSet>0,
                'label-warning':  service.numbOfLicenceRemains==0 }">{{service.numbOfLicenceSet}}</label>
              </span>
            </div>
            <div class="col-md-3">
              <span ng-if="service.numbOfLicenceSet>0 && isCollapsed">
                <label class="label label-default">Disponibles:&nbsp;</label>&nbsp;
                <label class="label" ng-class="{
                'label-success':  service.numbOfLicenceRemains>1,
                'label-warning':  service.numbOfLicenceRemains==1,
                'label-danger':   service.numbOfLicenceRemains==0 }">{{service.numbOfLicenceRemains}}</label>
              </span>
            </div>              
            <div class="col-md-3">
              <span ng-if="service.numbOfLicenceSet>0 && isCollapsed">
                <label class="label label-default">Asignadas:&nbsp;</label>&nbsp;
                <label class="label" ng-class="{
                'label-success':  list_user_licence.length>0,
                'label-warning':  list_user_licence.length==0}">{{list_user_licence.length}}</label>
              </span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <!-- Licence Assigned List -->
            <div class="well-checkbox n-padding-t n-padding-b" style="margin-left: 0px;margin-right: 0px;">
                <table ng-if="list_user_licence.length>0">
                  <tr ng-repeat="licence in list_user_licence">
                      <!--<td style="width: 0%; padding: 0 10px 0 10px;"><label style="font-size: 100%" class="label label-default">{{$index+1}}</label></td>-->
                      <td style="width: 35%">
                        <span class="text-muted text-box">
                          {{licence.fullName | uppercase}}&nbsp;
                          <span data-toggle="tooltip" data-placement="top" title="Usuario del sistema" ng-if="licence.idUserFk" class="btn btn-xs btn-warning"><i class="fas fa-users-cog"></i></span>
                        </span>
                      </td>
                      <td style="width: 30%"><span data-toggle="tooltip" data-placement="top" title="Correo" class="text-muted text-box"><label style="font-size: 100%" class="label label-default"><i class="fas fa-envelope"></i></label>&nbsp;{{licence.email}}</span></td>
                      <td style="width: 5%"><span class="text-muted text-box"><label style="font-size: 100%" class="label label-default">
                        <span ng-if="licence.idOS=='1'" data-toggle="tooltip" data-placement="top" title="IOS"><i class="fab fa-apple"></i></span>
                        <span ng-if="licence.idOS=='2'" data-toggle="tooltip" data-placement="top" title="Android"><i class="fab fa-android"></i></span>
                      </label></span></td>
                      <td style="width: 20%"><span data-toggle="tooltip" data-placement="top" title="Perfil" class="text-muted text-box"><label style="font-size: 100%" class="label label-default"><i class="fas fa-address-card"></i></label>&nbsp;{{licence.profileUser}}</span></td>
                        <td style="width: 10%; padding-bottom: 5px;">
                          <button data-toggle="tooltip" data-placement="top" title="ver" ng-click="loadSelectedUserLicenceFn(licence);" class="btn btn-xs btn-warning"><i class="fas fa-eye"></i></button>
                        </td>
                  </tr>
                </table>
                <div ng-if="list_user_licence.length==0" class="text-uppercase banner-no-rows banner-no-rows-padding-1 banner-no-rows-warning"><h5><i class="fas fa-exclamation-triangle"> </i> No hay licencias cargadas</h5></div>
            </div>
          </div>
          <div class="clearfix"> </div> 
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 pull-right">
                    <a data-dismiss="modal" type="button" class="btn btn-labeled btn-danger">
                        <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>Cerrar</a>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
<!-- // Licencias de Usuario -->