<!-- Customer Attached Files -->
<div id="attachCustomerFiles" style="top: 130px;" class="modal fade bd-example-modal-lg" style="top: 130px;" role="dialog" ng-init="removeAllUser();">
    <div class="modal-dialog modal-lg" >
      <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><i alt="Cerrar" class="glyphicon glyphicon-remove-sign"> </i></span><span class="sr-only">Close</span></button>
              <h3 class="modal-title">LISTA DE ARCHIVOS ADJUNTOS</h3>
          </div>
        <div class="modal-body">
        <!-- FORM CONTAINER-->
        <form class="form-horizontal" name="fAttachCustFiles" novalidate>
          <fieldset>
          	<div class="col-md-12 col-sm-12">            
                    <div class="form-group clf-size clf-p-left">
                      <button  class="btn btn-sm m-l btn-file btn-warning">Seleccionar archivos
                        <input name="file" base-sixty-four-input onload="onLoad" type="file" onload="onLoad" nv-file-select="" uploader="uploader" multiple class="file" />
                      </button>
                      
                    </div>
              	<div ng-if="uploader.queue.length>0" class="well-checkbox n-padding-t n-padding-b" style="margin-top: 20px;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="60%">Nombre</th>
                                <th ng-show="uploader.isHTML5">Tamaño</th>
                                <th>Estatus</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>              
                        <tbody>
                            <tr ng-repeat="item in uploader.queue">
                                <td><strong>{{ item.file.name }}</strong></td>
                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i data-toggle="tooltip" data-placement="left" title="Cargado correctamente" class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i data-toggle="tooltip" data-placement="left" title="Error al subir archivo" class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i data-toggle="tooltip" data-placement="left" title="Error al subir archivo" class="glyphicon glyphicon-remove"></i></span>
                                </td>
                                <td nowrap>
                                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> subir
                                    </button>
                                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.download()">
                                        <span class="glyphicon glyphicon-upload"></span> Descargar
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                        <span class="glyphicon glyphicon-trash"></span> Remover
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
              	</div>          
          	</div>
          </fieldset>
        </form>
        <div class="clearfix"> </div> 
      </div>
      <!-- Actions Button ng-click="newSysProfileFn()"-->
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 pull-right">
                        <button type="submit" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length" class="btn btn-labeled btn-success">
                            <span class="btn-label"><i class="glyphicon glyphicon-upload"></i> </span>Subir todo</button>
                        <a ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length" type="button" class="btn btn-labeled btn-warning">
                            <span class="btn-label"><i class="glyphicon glyphicon-trash"></i></span>Remover todo</a>
                        <a data-dismiss="modal" ng-click="uploader.clearQueue()" type="button" class="btn btn-labeled btn-danger">
                            <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>Cancelar</a>

                    
                    </div>
                </div>
            </div>
    </div>
  </div>
</div>
<!-- // Authorized Users -->