/*************************************
*                                    *
*    MATERIAL CSS CLASS FOR INPUTS   *
*                                    *
*************************************/
.form-group {
  position: relative;
  margin-top: 25px;
  margin-bottom: 15px;
}
.form-group label {
    font-weight: 300;
    color: rgba(20, 22, 43, .4);
    position: absolute;
    top: 50%;
    left: 0;
    pointer-events: none;
    font-size: 16px;
    transform: translateY(-50%);
    transition: all .2s ease-in-out;
}

.form-input:focus ~ label, .form-input:active ~ label , .form-input.active ~ label{
      color: rgba(20, 22, 43, .9);
      font-size: 11px;
      top: -10px;
      font-weight: 700;
      transform: none;
}
.form-input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    color: rgba(20, 22, 43, .5);
    background: none;
    border-radius: 0;
    box-shadow: none;
    border: none;
    border-bottom: 1.2px solid #ddd;
}
.form-input:focus, .form-input:active {
      outline: none;
      box-shadow: none;
      border: none;
      color: rgba(20, 22, 43, .9);
}
/*************************************/
/*************************************
*                                    *
*       BOTTOM BORDER IN INPUTS      *
*                                    *
*************************************/

.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before, .bar:after {
    content: '';
    border-bottom: 1.1px solid #14162b; 
    width: 0; 
    position: absolute;
    background: #14162b; 
    transition: all .2s ease-in-out;
}

.bar:before { left: 50%; }
.bar:after  { right: 50%;}


/* active */

input:focus ~ .bar:before, input:focus ~ .bar:after { width: 50%; }


/* Class for login & signup buttons */
.loginMsg button,
.signupMsg button {
  background-color: #404040;
  border: 2px solid #404040;
  border-radius: 0px;
  color: white;
  font-size: 12px;
  font-weight: 300;
  padding: 10px;
  margin-top: 20px;
}

.loginMsg button:hover,
.signupMsg button:hover {
  background-color: #fff;
  border: 2px solid #fff;
  color: #404040;
}



/*******************************************************
*                                                      *
*        Class to show icon into the input box         *
*                                                      *
*******************************************************/
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 8px;
  color: rgba(20, 22, 43, .4);
  pointer-events: none;
}
/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}


.form-input:focus ~ .glyphicon, .form-input:active ~ .glyphicon, .form-input.active ~ .glyphicon{
    color: rgba(20, 22, 43, 0.9);
} 

