<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html  ng-app="coferbaApp" lang="es">
<head>
<title>Sistema Coferba</title><!--[if lt IE 9]><link rel="stylesheet" type="text/css" media="all" href="/static/css/style-ie.css"/><![endif]-->
<meta content="width = device-width, initial-scale = 1.0, minimum-scale = 1.0" name="viewport">

<!-- Default Style Sheets -->
<link href="css/bootstrap_system.css" type="text/css" rel="stylesheet" media="all">
<!-- Bootstrap CSS -->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">-->
<link rel="stylesheet" type="text/css" afrres="true" href="css/acsportal.packed.css">
<link rel="stylesheet" type="text/css" afrres="true" href="css/cloud.css">
<link rel="stylesheet" type="text/css" afrres="true" href="css/fa.min.css">
<link rel="stylesheet" type="text/css" afrres="true" href="css/angular-block-ui.css">
<link rel="stylesheet" type="text/css" afrres="true" href="css/angular-inform.min.css">
<!-- Default Style Sheets -->
<!-- User Style Sheets -->

<link rel="stylesheet" type="text/css" afrres="true" href="css/style.css">
<!-- User Style Sheets -->
<link rel="shortcut icon" href="images/favicon.ico">

<!-- web-fonts -->  
<!--<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet"> 
<link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700" rel="stylesheet">-->
<!-- //web-fonts -->
</head>
<body>
<div id="wLoader">
  <div id="loader">&nbsp;</div>
  <div class="companyName"></div>
</div>
    <noscript>This page uses JavaScript and requires a JavaScript enabled browser.Your browser is not JavaScript enabled.</noscript>
<!--ANGULAR MODULE -->
<div ng-controller="coferbaCtrl">
	<div id="sytemHead" class="fixedHead"  ng-show="Token">
		<div  id="navbar" class="navbar navbar-inverse navbar-fixed-top top-nav">
		    <div class="navbar-inner m-h-30">
		        <div class="container">
		            <div>
			            <div class="pull-left l-h-15 p-t-2 m-t-10">
			                <a href="#" alt="Coferba Seguridad" class="ASC-logo pull-left h-25 i-b w-130 p-l-5 m-t--5"></a>
			            </div>
		                <ul class="nav pull-right">
	    					<li>
	                			<a href="#" class="p-r">
				                    <i class="icon-envelope-alt"></i>
				                    <font class="c-0">.</font>
				                    <div id="notificationMessagesHeaderShow"></div>
	                			</a>
				                <div id="messageContainerView">
				                </div>
	    					</li>
	                    	<li class="dropdown gray">
		                        <a class="dropdown-toggle" data-toggle="dropdown" href="sistema.html">
		                            <i class="icon-user"></i> {{sessionNames}} <i class="icon-caret-down"></i>
		                        </a>
		                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
		                        	<li role="presentation">
		                                <a style="cursor: pointer;" class="clear-lazy-cache" ng-click="fnShowHide('ruprofile', 'open')" tabindex="-1" role="menuitem"><i class="icon-user"></i> Usuario</a>
		                            </li>
		                            <li role="presentation">
		                                <a style="cursor: pointer;" class="clear-lazy-cache" ng-click="fnShowHide('ruchpwd', 'open')" tabindex="-1" role="menuitem"><i class="icon-key"></i> Cambiar clave</a>
		                            </li>
		                            <li role="presentation">
		                                <div class="divider"></div>
		                            </li>
		                            <li role="presentation">
		                                <a style="cursor: pointer;" class="clear-lazy-cache" ng-click="logout()" tabindex="-1" role="menuitem"><i class="icon-signout"></i> Salir</a>
		                            </li>
		                        </ul>
	                    	</li>
		                </ul>
		            </div>
		    	</div>
			</div>
		</div>
		<!--MENU BUTTONS- class="active"-->
		<div class="jumbotron masthead b-s-20 m-b-5 -m-t-10">
		    <div class="container">
		        <table cellspacing="0" cellpadding="0" border="0">
		            <tbody><tr>
		                <td>
		                    <ul class="nav-icon">
		                    	<li id="m_monitor" class="active" ng-show="sessionidProfile!=0">
							       <a href="#Monitor"  ng-click="fnShowHide('home', 'open')"> 
							          <i class="icon-dashboard"></i>
							          <br>Monitor de pedidos
							       </a>
							    </li>
							    <li id="m_pedidos">
							       <a href="#Pedidos" ng-click="fnShowHide()"> 
							          <i class="icon-file-text"></i>
							          <br>Pedidos
							       </a>
							    </li>
							    <li id="m_depto" ng-show="sessionidProfile!=2">
							       <a href="#Departamentos" ng-click="fnShowHide('managedepto', 'open')"> 
							          <i class="icon-building"></i>
							          <br>Gestion de Departamento
							       </a>
							    </li>
							    <li id="m_user" ng-show="sessionidProfile==1 || sessionidProfile==4">
							       <a href="#Usuarios" ng-click="fnShowHide('user', 'open')"> 
							          <i class="icon-group"></i>
							          <br>Gestion de inquilinos
							       </a>
							    </li>
							     <li id="m_config" ng-show="sessionidProfile==1">
							       <a href="#Config" ng-click="fnShowHide('sysConfig', 'open')"> 
							          <i class="icon-cogs"></i>
							          <br>Configuracion
							       </a>
							    </li>
							    <li id="m_contact">
							       <a href="#Contact" ng-click="fnShowHide('frmcontact', 'open')"> 
							          <i class="icon-phone"></i>
							          <br>Contacto
							       </a>
							    </li>
		                    </ul>
		                </td>
		                <td class="hidden-desktop v-a-t">
		                    <div id="header-icon-show" style=" margin:-15px -19px  20px -15px ">
		                        <i class="icon-reorder icon-4x"></i>
		                    </div>
		                </td>
		            </tr>
		        </tbody></table>
		    </div>
		</div>
		<!--//MENU BUTTONS -->
		<!--SubMenu Items -->
		<div class="sub-navi b-s--20">
		        <div id="SubM_Pedidos" class="container p-r">
		            <a class="sn-close"><i class="icon-double-angle-up"></i></a>
			            <ul>
						    <li ng-show="sessionidProfile==1 || sessionidProfile==3 || sessionidProfile==4" class="am">
						        <a href="#">Llaveros<i class="icon-caret-down"></i></a>
						        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
						                <li><a ng-click="fnShowHide('rukeyup', 'open')" href="#Alta" class="dropItemTitle">Alta</a></li>
						                <li><a ng-click="fnShowHide('rukeydown', 'open')" href="#Baja" class="dropItemTitle">Baja</a></li>
						        </ul>
						    </li>
						    <li ng-show="sessionidProfile==1 || sessionidProfile==2 || sessionidProfile==4" class="cms">
						        <a ng-click="fnShowHide('ruservice', 'open')" href="#Servicio">Servicio Tecnico</a>
						    </li>
						    <li ng-show="sessionidProfile!=1"class="cms"> <!--class="im active"-->
						        <a ng-click="fnShowHide('ruother', 'open')" href="#Otros">Otros<i class=""></i></a>
						    </li>
			    		</ul>
		        </div>
		</div>
	</div>
	<!-- USER LOGIN FORM -->
	<div id="frm_loginU" ng-show="!Token"> 
		<div class="container">
		<br>
          <div class="panel panel-default-login" >
              	<div class="panel-heading">
                	<h3 class="panel-title">LOGIN COFERBA</h3>
            	</div>
            		<div class="panel-body">
						<!-- FORM CONTAINER-->
				    	<form name="frmLogin" class="form-horizontal" id="frmLogin" ng-submit="sysFunctionsUser('login')">
							<fieldset>
							<!-- Text Mail E-Mail-->
								<div class="form-group" ng-class="{ 'has-error': frmLogin.email.$dirty && frmLogin.email.$error.required }">
									 <label for="">Email</label>  
									   <div class="">
									    <div class="input-group">
									    	<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
									  		<input name="emailLogin" placeholder="E-Mail" class="form-control" ng-model="Login.email" type="email" required autofocus />
									    </div>
									  </div>
								</div>
							<!-- Text Password Contrase&#241a-->
								<div class="form-group" ng-class="{ 'has-error': frmLogin.password.$dirty && frmLogin.password.$error.required }">
								  <label class="">Contrase&#241a</label>  
								    <div class="">
								    <div class="input-group">
								        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
								  		<input name="passwordLogin" placeholder="Contrase&#241a" class="form-control" ng-model="Login.password" type="password" required autofocus />
								    </div>
									</div>
								</div>
							<!-- Actions Button -->
								<div class="form-actions">
									<button id="btnLogin" type="submit" class="btn-primary-system" >LOGIN </button>
							  	</div>
							</fieldset>
						</form>
							<!-- Login&Register Button--> 
							
							<div ng-show="!Token" class="row">
								<hr class="style14">
							  	<div class="col-xs-12 col-md-8">
							  		<br>
							  		<a id="lr2" ng-click="fnShowHide('uRegister', 'open')" class="btn btn-default">Crear Cuenta</a>
							  	</div>
							  	<div class="col-xs-6 col-md-4">
							  		<a class="lostPass"><i class="icon-cogs icon-2x"></i> Olvide mi clave </a>
							  	</div>
							</div>
						    <!-- //Login&Register Button-->
 					</div> 
			</div>
		</div>
	</div>    

    <!-- USER REGISTER FORM -->
	<div id="RegisterModalUser" class="modal fade bd-example-modal-lg" style="top: 120px;" role="dialog">
	  	<div class="modal-dialog modal-lg" >
		    <div class="modal-content">
		      	<div class="modal-body">
					<div class="agileits-w3layouts"> 
			          	<div class="panel panel-default">
			              	<div class="panel-heading">
			                	<h3 class="panel-title">NUEVO USUARIO {{idProfileKf}}<a ng-click="closeModal('u')" class="frmclose"><i alt="Cerrar" class="glyphicon glyphicon-remove-sign"> </i></a></h3>
			            	</div>
			            		<div class="panel-body" style="padding-right: 0px;">
									<!-- FORM CONTAINER-->
				    				<form class="form-horizontal" name="fNewUser" ng-init="CallFilterFormU();" ng-submit="sysFunctionsUser('register')">
										<fieldset>
										<!-- Select profile -->
										 <div class="form-group col-lg-12" ng-show="!Token">
										 <label style="padding-left: 15px;">Perfil</label>  
										   <div class="col-xs-12">
										    <div class="input-group">
										    	<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
												<input type="text" style="width:96%;" name="idProfileKf" value=3 ng-show="!Token" placeholder="Propietario" class="form-control" ng-disabled="!token" ng-model="$parent.idProfileKf"  ng-required="!Token" autofocus />
										    </div>
										  </div>
										</div>  
										<div class="form-group col-md-6" ng-show="sessionidProfile==1"> 
										  <label style="padding-left: 15px;">Perfil</label>
										    <div class="col-xs-12 selectContainer">
											    <div class="input-group">
											    		<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
												    	<select name="idProfileKf" ng-show="Token" class="form-control"  ng-options="item.idProfile as item.nameProfile for item in listProfile" ng-model="$parent.idProfileKf"  ng-required="Token" autofocus >
													    	<option value="">Seleccione una opcion</option>
												    	</select>
											  	</div>
											</div>
										</div>
										<!-- Company List-->
										      
										<div class="form-group col-md-6" ng-show="sessionidProfile==1" >  
										  <label style="padding-left: 15px;">Empresa / Consorcio</label>
										    <div class="col-xs-12 selectContainer">
											    <div  class="input-group">
											        <span class="input-group-addon"><i class="glyphicon glyphicon-cog"></i></span>
											  		<select ng-disabled="idProfileKf==1 || idProfileKf==3" name="idCompanyKf" class="form-control"  ng-options="item.idCompany as item.nameCompany for item in listCompany" ng-required="idProfileKf==2" ng-model="$parent.idCompanyKf"  >
													    	<option value="">Seleccione una opcion</option>
												    	</select>
											    </div>
										  	</div>
										</div>
										<!-- List Address-->
      
										<!--<div class="form-group" ng-show="sessionidProfile==1">
										  <label class="col-md-4 control-label">Direcci&#243n</label>  
										    <div class="col-md-4">
											    <div class="input-group">
											        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
											  		<select name="idAddressKf" class="form-control"  ng-options="item.idAdress as item.nameAdress for item in ListAddress" ng-required="idProfileKf==1" ng-model="$parent.idAddressKf" autofocus >
													    	<option value="">Seleccione una direccion</option>
												    	</select>
											    </div>
										  </div>
										</div>-->
										<!-- Form First Name -->
										<div class="form-group col-md-6">
										  <label style="padding-left: 15px;">Nombre</label>  
											  <div class="col-xs-12">
												  <div class="input-group">
													  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
													  <input  name="fname" autofocus="true" placeholder="Nombre" class="form-control" ng-model="fname"  type="text" required autofocus/>
												  </div>
											  </div>
										</div>
										<!-- Form Last Name -->

										<div class="form-group col-md-6">
										  <label style="padding-left: 15px;" >Apellido</label> 
										  	<div class="col-xs-12">
												<div class="input-group">
											  		<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
											  		<input name="lname" placeholder="Apellido" class="form-control" ng-model="lname" type="text" required autofocus />
												</div>
										  	</div>
										</div>
										<!-- Text Mail-->

										<div class="form-group col-lg-12">
										 <label style="padding-left: 15px;">E-Mail</label>  
										   <div class="col-xs-12">
										    <div class="input-group">
										    	<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
										  		<input style="width:96%;" name="emailUser" placeholder="E-Mail" class="form-control" ng-model="$parent.emailUser"  type="email" required autofocus />
										    </div>
										  </div>
										</div>
										<!-- Text Password-->

										<div class="form-group col-md-6">
										  <label style="padding-left: 15px;">Contrase&#241a</label>  
										    <div class="col-xs-12">
											    <div class="input-group">
											        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
											  		<input id="passwordUser" placeholder="Contrase&#241a" aria-describedby="passwordHelpBlock" class="form-control" ng-model="passwordUser" minlength="8" type="password" required autofocus />
											    </div>
											    <small id="passwordHelpBlock" class="form-text text-muted">
      													La clave debe contener entre 8 y 20 caracteres alfanumericos.
    											</small>
											</div>
										</div>
										<!-- Text Password Check-->

										<div class="form-group col-md-6">
										  <label style="padding-left: 15px;">Confirme su Contrase&#241a</label>  
										    <div class="col-xs-12">
											    <div class="input-group">
											        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
											  		<input id="passwordUsertmp" placeholder="Confirme su Contrase&#241a" aria-describedby="passwordHelpBlock" class="form-control" minlength="8" ng-model="passwordUsertmp" type="password" required autofocus />
											    </div>
											    <small id="passwordHelpBlock" class="form-text text-muted">
      													La clave debe contener entre 8 y 20 caracteres alfanumericos.
    											</small>
											</div>
										</div>
										<!-- Text Phone-->
										       
										<div class="form-group col-md-6">
										  <label style="padding-left: 15px;">Telefono Local</label>  
										    <div class="col-xs-12">
											    <div class="input-group">
											        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
											  		<input name="phoneLocal" placeholder="(11) 555-1212" class="form-control" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" maxlength="12" ng-model="$parent.phonelocalNumberUser"  type="text" required autofocus />
											    </div>
										  </div>
										</div>
										<!-- Text Phone-->
										       
										<div class="form-group col-md-6">
										  <label style="padding-left: 15px;">Telefono Movil</label>  
										    <div class="col-xs-12">
											    <div class="input-group">
											        <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
											  		<input name="phoneMovil" placeholder="(11) 555-1212" class="form-control" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" maxlength="12" ng-model="phoneNumberUser"  type="text" required autofocus />
											    </div>
										  </div>
										</div>

										<!-- Actions Button -->
										<div class="form-group">
										  <label class="col-md-4 control-label"></label>
										  <div class="col-md-4">
										    <button type="submit" class="btn btn-primary" >Registrar <!--<span class="glyphicon glyphicon-ok"></span>--></button>
											<button type="reset" class="btn btn-primary" >Limpiar <!--<span class="glyphicon glyphicon-ok"></span>--></button>
										  </div>
										</div>

										</fieldset>
									</form>
									<script type="text/javascript">
										var password = document.getElementById("passwordUser")
  											, confirm_password = document.getElementById("passwordUsertmp");

												function validatePassword(){
												  if(password.value != confirm_password.value) {
												    confirm_password.setCustomValidity("La clave no coincide");
												  } else {
												    confirm_password.setCustomValidity('');
												  }
												}

												password.onchange = validatePassword;
												confirm_password.onkeyup = validatePassword;
									</script>
									<div class="clearfix"> </div> 
								</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	

	<div class="main_container" ng-show="Token" ng-init="sysLoadLStorage(); CallFilterFormT(); getAllAddress(); getParameter(); ">
			<!--REQUEST FORM FOR REGISTERED USERS -->
			<div ng-show="ruprofile" ng-include="'view/formUser.html'"></div>
			<div ng-show="userManage" ng-include="'view/formManageUser.html'"></div>
			<div ng-show="rudepto" ng-include="'view/frmDepartment.html'"></div>
			<div ng-show="rukeyup" ng-include="'view/formAltaLlave.html'"></div>
			<div ng-show="rukeydown" ng-include="'view/formBajaLlave.html'"></div>
			<div ng-show="ruservice" ng-include="'view/formServicio.html'"></div>
			<div ng-show="ruother" ng-include="'view/formOtrasConsultas.html'"></div>
			<div ng-show="rusysconfig" ng-include="'view/formConfig.html'"></div>
			<div ng-show="rucontact" ng-include="'view/formContact.html'"></div>
			<div ng-show="home" ng-include="'view/home.html'" class="ng-scope" style="width: 100%;"></div>
			<!--//REQUEST FORM FOR NO REGISTERED USERS -->
		<!-- LIST TENANT MODAL -->
			<div id="ModalListTenant" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog">
			  	<div class="modal-dialog modal-lg" >
			    <!-- Modal content-->
				    <div class="modal-content">
				      	<div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal">&times;</button>
					        <h4 class="modal-title" ng-show="typeTenant==1">Propietarios &nbsp<button ng-click="sysFunctionsTenant('open')" title="Seleccionar" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>Nuevo</button></h4>
						    <h4 class="modal-title" ng-show="typeTenant==2">Inquilinos &nbsp<button ng-click="sysFunctionsTenant('open')" title="Seleccionar" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>Nuevo</button></h4>
						    <h4 class="modal-title" ng-show="sessionidProfile!=3 && typeTenant<0">Propietarios / Inquilinos &nbsp<button ng-click="sysFunctionsTenant('open')" title="Seleccionar" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>Nuevo</button></h4>
						    <h4 class="modal-title" ng-show="sessionidProfile==3 && typeTenant<0">Inquilinos &nbsp<button ng-click="sysFunctionsTenant('open')" title="Seleccionar" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>Nuevo</button></h4>
				      	</div>
				      	<div class="modal-body pre-scrollable">
	                				<table class="table  table-striped ">
					                    <thead style=" background: #4d5d6f; color: white;">
					                        <tr >
					                            <th ng-show="manageDepto==0" style="width:20px">#</th>
					                            <th>ID</th>
					                            <th>Nombres</th>
					                            <th>Tlf Movil</th>
					                            <th>Tlf Local</th>
					                            <th>Correo</th>
					                            <th>Cliente</th>
					                            <th>Status</th>
					                        </tr>
					                    </thead>
					                    <tbody ng-show="manageDepto==0">
					                        <tr ng-show="manageDepto==0" style="align-content: center; cursor: pointer;" data-ng-repeat="item in listTenant | filter: {idTypeKf:typeTenant} ">
					                        
					                        	<td ng-show="manageDepto==0"><button ng-click="selectTenant(item); enabledNextBtn();" title="Seleccionar" class="btn btn-primary"><i class="glyphicon glyphicon-check"></i></button></td>
						                        <td>{{item.idTenant}}</td>
						                        <td>{{item.fullNameTenant}}</td>
						                        <td>{{item.phoneNumberTenant}}</td>
						                        <td>{{item.phoneNumberContactTenant}}</td>
						                        <td>{{item.emailTenant}}</td>
						                        <td ng-if="item.idTypeKf==1">Propietario</td>
						                        <td ng-if="item.idTypeKf==2">Inquilino</td>
						                        <td ng-if="item.idStatusKf==1">Activo</td>
						                        <td ng-if="item.idStatusKf==2">Inactivo</td>
						                    </tr>
						                </tbody>
						                <tbody ng-show="manageDepto==1">
					                    	<tr  style="align-content: center; cursor: pointer;" data-ng-repeat="item in listTenant | orderBy : 'listIndex' ">
					                        
					                        	<td ng-show="manageDepto==0"><button ng-click="selectTenant(item); enabledNextBtn();" title="Seleccionar" class="btn btn-primary"><i class="glyphicon glyphicon-check"></i></button></td>
						                        <td>{{item.idTenant}}</td>
						                        <td>{{item.fullNameTenant}}</td>
						                        <td>{{item.phoneNumberTenant}}</td>
						                        <td>{{item.phoneNumberContactTenant}}</td>
						                        <td>{{item.emailTenant}}</td>
						                        <td ng-if="item.idTypeKf==1">Propietario</td>
						                        <td ng-if="item.idTypeKf==2">Inquilino</td>
						                        <td ng-if="item.idStatusKf==1">Activo</td>
						                        <td ng-if="item.idStatusKf==2">Inactivo</td>
						                    </tr>
						                </tbody>
		            				</table>
					      		<!--<div class="modal-footer">
					        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					      		</div>-->
			    		</div>

			  		</div>
				</div>
			</div>
		<!-- // LIST TENANT MODAL -->

		<!-- TENANT REGISTER FORM -->
			<div id="RegisterModalTenant" class="modal fade bd-example-modal-lg" style="top: 130px;" role="dialog">
			  	<div class="modal-dialog modal-lg" >
				    <div class="modal-content">
				      	<div class="modal-body">
							<div class="agileits-w3layouts"> 
					          	<div class="panel panel-default">
					              	<div class="panel-heading">
					                	<h3 class="panel-title">NUEVO INQUILINO<a ng-click="closeModal('t')" title="Cerrar" class="frmclose"><i alt="Cerrar" class="glyphicon glyphicon-remove-sign"> </i></a></h3>
					            	</div>
					            		<div class="panel-body" style="overflow-y: scroll;">
											<!-- FORM CONTAINER-->
						    				<form class="form-horizontal" name="fNewTenant" ng-submit="sysFunctionsTenant('search');">
												<fieldset>
												<!-- Select profile -->
												   
												<div class="form-group" ng-show="sessionidProfile!=2 && sessionidProfile!=3"> 
												  <label class="col-md-4 control-label">Tipo de Inquilino</label>
												    <div class="col-md-4 selectContainer">
													    <div class="input-group">
													        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
															    <select name="idTypeTenantKf" class="form-control"  ng-options="item.idTypeTenant as item.typeTenantName for item in lisTypeTenant " ng-model="$parent.idTypeTenantKf" ng-required="!sessionidProfile"  autofocus >
															    	<option value=""></option>
														    	</select>
													  	</div>
													</div>
												</div>
												<!-- List Address-->
												      
												<div class="form-group" ng-show="!sessionidProfile">
												  <label class="col-md-4 control-label">Direcci&#243n</label>  
												    <div class="col-md-4">
													    <div class="input-group">
													        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
													  		<select name="idAddressKf" class="form-control" ng-change="getAllDeparment()"  ng-options="item.idAdress as item.nameAdress for item in ListAddress" ng-required="!sessionidProfile" ng-model="$parent.idAddressKf" autofocus >
															    	<option value=""></option>
														    	</select>
													    </div>
												  </div>
												</div>
												<!-- List Department by address-->
												      
												<div class="form-group" ng-show="!sessionidProfile">
												  <label class="col-md-4 control-label">Departamento</label>  
												    <div class="col-md-4">
													    <div class="input-group">
													        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
													  		<select name="idDepartmentKf" class="form-control"  ng-options="item.idDepartment as item.departmentFloor for item in ListDpto" ng-model="$parent.idDepartmentKf" ng-required="!sessionidProfile" autofocus >
															    	<option value=""> </option>
														    	</select>
													    </div>
												  </div>
												</div>
												<!-- Form First Name -->
												<div class="form-group">
												  <label class="col-md-4 control-label">Nombre</label>  
													  <div class="col-md-4">
														  <div class="input-group">
															  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
															  <input  name="fnameT" autofocus="true" placeholder="Nombre" class="form-control" ng-model="$parent.fnameT"  type="text" required autofocus/>
														  </div>
													  </div>
												</div>
												<!-- Form Last Name -->

												<div class="form-group">
												  <label class="col-md-4 control-label" >Apellido</label> 
												  	<div class="col-md-4">
														<div class="input-group">
													  		<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
													  		<input name="lnameT" placeholder="Apellido" class="form-control" ng-model="$parent.lnameT" type="text" required autofocus />
														</div>
												  	</div>
												</div>
												<!-- Text Mail-->

												<div class="form-group">
												 <label class="col-md-4 control-label">E-Mail</label>  
												   <div class="col-md-4">
												    <div class="input-group">
												    	<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
												  		<input name="emailT" placeholder="E-Mail" class="form-control" ng-model="$parent.emailT"  type="email" required autofocus />
												    </div>
												  </div>
												</div>
												<!-- Text Phone-->
												       
												<div class="form-group">
												  <label class="col-md-4 control-label">Telefono Local</label>  
												    <div class="col-md-4">
													    <div class="input-group">
													        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
													  		<input name="phoneLocalT" placeholder="(11) 555-1212" class="form-control" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" maxlength="12" ng-model="$parent.phonelocalT"  type="text" required autofocus />
													    </div>
												  </div>
												</div>
												<!-- Text Phone-->
												       
												<div class="form-group">
												  <label class="col-md-4 control-label">Telefono Movil</label>  
												    <div class="col-md-4">
													    <div class="input-group">
													        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
													  		<input name="phoneMovil" placeholder="(11) 555-1212" class="form-control" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" maxlength="12" ng-model="$parent.phoneMovilT"  type="text" required autofocus />
													    </div>
												  </div>
												</div>

												<!-- Actions Button -->
												<div class="form-group">
												  <label class="col-md-4 control-label"></label>
												  <div class="col-md-4">
												    <button type="submit" class="btn btn-primary" >Registrar </button>
													<button type="reset" ng-click="closeModal('t')" class="btn btn-primary" >Cancelar </button>
												  </div>
												</div>

												</fieldset>
											</form>
										</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- // TENANT REGISTER FORM -->

		<!-- ATTENDANT REGISTER FORM -->
			<div id="RegisterModalAtt" class="modal fade bd-example-modal-lg" style="top: 130px;" role="dialog">
			  	<div class="modal-dialog modal-lg" >
				    <div class="modal-content">
				      	<div class="modal-body">
							<div class="agileits-w3layouts"> 
					          	<div class="panel panel-default">
					              	<div class="panel-heading">
					                	<h3 class="panel-title">NUEVO ENCARGADO<a ng-click="closeModal('att')" title="Cerrar" class="frmclose"><i alt="Cerrar" class="glyphicon glyphicon-remove-sign"> </i></a></h3>
					            	</div>
					            		<div class="panel-body" style="overflow-y: scroll;">
											<!-- FORM CONTAINER-->
						    				<form class="form-horizontal" name="fNewTenant" ng-submit="sysRegisterAtt('save')">
												<fieldset>
												<!-- Form First Name -->
												<div class="form-group">
												  <label class="col-md-4 control-label">Nombre</label>  
													  <div class="col-md-4">
														  <div class="input-group">
															  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
															  <input  name="fnameAtt" autofocus="true" placeholder="Nombre" class="form-control" ng-model="$parent.fnameAttd"  type="text" required autofocus/>
														  </div>
													  </div>
												</div>
												<!-- Form Last Name -->

												<div class="form-group">
												  <label class="col-md-4 control-label" >Apellido</label> 
												  	<div class="col-md-4">
														<div class="input-group">
													  		<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
													  		<input name="lnameAttd" placeholder="Apellido" class="form-control" ng-model="$parent.lnameAttd" type="text" required autofocus />
														</div>
												  	</div>
												</div>
												<!-- Text Mail-->

												<div class="form-group">
												 <label class="col-md-4 control-label">E-Mail</label>  
												   <div class="col-md-4">
												    <div class="input-group">
												    	<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
												  		<input name="emailAtt" placeholder="E-Mail" class="form-control" ng-model="emailAttd" type="email" required autofocus />
												    </div>
												  </div>
												</div>
												<!-- Text Phone-->
												       
												<div class="form-group">
												  <label class="col-md-4 control-label">Telefono Local</label>  
												    <div class="col-md-4">
													    <div class="input-group">
													        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
													  		<input name="phoneLocalAtt" placeholder="(11) 555-1212" class="form-control" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" maxlength="12" ng-model="$parent.phonelocalAttd"  type="text" required autofocus />
													    </div>
												  </div>
												</div>
												<!-- Text Phone-->
												       
												<div class="form-group">
												  <label class="col-md-4 control-label">Telefono Movil</label>  
												    <div class="col-md-4">
													    <div class="input-group">
													        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
													  		<input name="phoneMovilAtt" placeholder="(11) 555-1212" class="form-control" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" maxlength="12" ng-model="$parent.phoneMovilAttd"  type="text" required autofocus />
													    </div>
												  </div>
												</div>

												<!-- Actions Button -->
												<div class="form-group">
												  <label class="col-md-4 control-label"></label>
												  <div class="col-md-4">
												    <button type="submit" class="btn btn-primary" >Registrar </button>
													<button type="reset" ng-click="closeModal('att')" class="btn btn-primary" >Cancelar </button>
												  </div>
												</div>

												</fieldset>
											</form>
										</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- // ATTENDANT REGISTER FORM -->

		<!-- Modal Confirmation -->
			<div class="modal fade" id="confirmRequestModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="ModalLabel">Coferba <a  data-dismiss="modal" class="frmclose"><i alt="Cerrar" class="glyphicon glyphicon-remove-sign"></i></a></h5>
			        </button>
			      </div>
			      <div class="modal-body">
			        <p style="text-align: center;">{{mess2show}}</p>
			      </div>
			      <div class="modal-footer">
			        <button type="button" ng-click="modalConfirmation(swMenu,1)" class="btn btn-success">Si</button>
			        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
			      </div>
			    </div>
			  </div>
			</div>
		<!-- //Modal Confirmation -->

		<!-- Modal Password Change -->
			<div id="PasswdModalUser" style="top: 130px;" class="modal fade bd-example-modal-lg" role="dialog">
	  			<div class="modal-dialog modal-lg" >
				    <div class="modal-content">
				      	<div class="modal-body">
				          	<div class="panel panel-default">
				              	<div class="panel-heading">
				                	<h3 class="panel-title">Cambio de Contrase&#241a<a data-dismiss="modal" class="frmclose"><i alt="Cerrar" class="glyphicon glyphicon-remove-sign"> </i></a></h3>
				            	</div>
			            		<div class="panel-body">
									<!-- FORM CONTAINER-->
				    				<form class="form-horizontal" name="fUserProfile" ng-submit="sysFunctionsUser('updprofile')">
										<fieldset>
										<!-- Old Password-->

										<div class="form-group">
										  <label class="col-md-4 control-label">Contrase&#241a Actual</label>  
										    <div class="col-md-4">
											    <div class="input-group">
											        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
											  		<input id="passwordUser" placeholder="Contrase&#241a" class="form-control" ng-model="passwordUser" minlength="8" type="password" required autofocus />
											    </div>
											</div>
										</div>
										<!-- New Password-->

										<div class="form-group">
										  <label class="col-md-4 control-label">Nueva Contrase&#241a</label>  
										    <div class="col-md-4">
											    <div class="input-group">
											        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
											  		<input id="passwordUser" placeholder="Contrase&#241a" class="form-control" ng-model="passwordUser" minlength="8" type="password" required autofocus />
											    </div>
											</div>
										</div>
										<!-- New Password Check-->

										<div class="form-group">
										  <label class="col-md-4 control-label">Confirme su Nueva Contrase&#241a</label>  
										    <div class="col-md-4">
											    <div class="input-group">
											        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
											  		<input id="passwordUsertmp" placeholder="Confirme su Contrase&#241a" class="form-control" minlength="8" ng-model="passwordUsertmp" type="password" required autofocus />
											    </div>
											</div>
										</div>

										<!-- Actions Button -->
										<div class="form-group">
										  <label class="col-md-4 control-label"></label>
										  <div class="col-md-4">
										    <button type="submit" class="btn btn-primary" >Cambiar</button>
										  </div>
										</div>

										</fieldset>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- //Modal Password Change -->
	</div>
	<!-- Response Inform Meessage plugin -->
	<div inform class="inform-fixed inform-shadow inform-animate"></div>
	<!-- //Response Inform Meessage plugin -->
</div>
<!--ANGULAR MODULES -->
<script src="js/angular.js"></script>
<script src="js//underscore-min.js"></script>
<script src="js/angular-block-ui.js"></script>
<script src="js/angular-inform.min.js"></script>
<script src="js/angular-showdown.js"></script>
<script src="js/angular-animate.min.js"></script>
<!--ANGULAR MODULES -->
<!--JQUERY MODULES -->
<script type="text/javascript" language="javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/core-SHERMAN-MLR-1249.js"></script>
<script type="text/javascript" language="javascript" src="js/acsportal.packed.js"></script>
<!--JQUERY MODULES -->
<script src="js/coferbaAngularApp.js"></script> <!-- Coferba Angular App -->
<script src="js/coferbaJsFunctions.js"></script> <!--  Coferba Jquery Functions -->
</body>
</html>

