
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html  ng-app="coferbaApp" lang="es">
<head>
<title>Sistema Coferba</title><!--[if lt IE 9]><link rel="stylesheet" type="text/css" media="all" href="/static/css/style-ie.css"/><![endif]-->
<meta content="width = device-width, initial-scale = 1.0, minimum-scale = 1.0" name="viewport">

<!-- Default Style Sheets -->
<link href="css/bootstrap_system.css" type="text/css" rel="stylesheet" media="all">
<link rel="stylesheet" type="text/css" afrres="true" href="css/acsportal.packed.css">
<link rel="stylesheet" type="text/css" afrres="true" href="css/cloud.css">
<link rel="stylesheet" type="text/css" afrres="true" href="css/fa.min.css">
<link rel="stylesheet" type="text/css" afrres="true" href="css/angular-block-ui.css">
<link rel="stylesheet" type="text/css" afrres="true" href="css/angular-inform.min.css">
<!-- Default Style Sheets -->
<!-- User Style Sheets -->
<link rel="stylesheet" type="text/css" afrres="true" href="css/style.css">
<!-- User Style Sheets -->
<link rel="shortcut icon" href="images/favicon.ico">

<!-- web-fonts -->  
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet"> 
<link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700" rel="stylesheet">
<!-- //web-fonts -->
</head>
<body>
<div id="wLoader">
  <div id="loader">&nbsp;</div>
  <div class="companyName"></div>
</div>
    <noscript>This page uses JavaScript and requires a JavaScript enabled browser.Your browser is not JavaScript enabled.</noscript>
<!--ANGULAR MODULE -->
<div ng-controller="coferbaCtrl">
<div id="sytemHead" class="fixedHead" >
	<div  id="navbar" class="navbar navbar-inverse navbar-fixed-top top-nav">
	    <div class="navbar-inner m-h-30">
	        <div class="container">
	            <div>
		            <div class="pull-left l-h-15 p-t-2 m-t-10">
		                <a href="#" alt="Coferba Seguridad" class="ASC-logo pull-left h-25 i-b w-130 p-l-5 m-t--5"></a>
		            </div>
	                <ul class="nav pull-right">
    					<li>
                			<a href="#" class="p-r">
			                    <i class="icon-envelope-alt"></i>
			                    <font class="c-0">.</font>
			                    <div id="notificationMessagesHeaderShow"></div>
                			</a>
			                <div id="messageContainerView">
			                </div>
    					</li>
                    	<li class="dropdown gray">
	                        <a class="dropdown-toggle" data-toggle="dropdown" href="sistema.html">
	                            <i class="icon-user"></i> {{rsJSON.fullNameUser}} <i class="icon-caret-down"></i>
	                        </a>
	                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
	                        	<li role="presentation">
	                                <a class="clear-lazy-cache" ng-click="userData()" href="#" tabindex="-1" role="menuitem"><i class="icon-user"></i> Usuario</a>
	                            </li>
	                            <li role="presentation">
	                                <a class="clear-lazy-cache" ng-click="logout()" href="#" tabindex="-1" role="menuitem"><i class="icon-signout"></i> Salir</a>
	                            </li>
	                        </ul>
                    	</li>
	                </ul>
	            </div>
	    	</div>
		</div>
	</div>
	<!--MENU BUTTONS- class="active"-->
	<div class="jumbotron masthead b-s-20 m-b-5 -m-t-10">
	    <div class="container">
	        <table cellspacing="0" cellpadding="0" border="0">
	            <tbody><tr>
	                <td>
	                    <ul class="nav-icon">
						    <li id="m_pedidos">
						       <a href="#Pedidos"> 
						          <i class="icon-bolt"></i>
						          <br>Pedidos
						       </a>
						    </li>
						    <li id="m_monitor">
						       <a href="#Monitor"> 
						          <i class="icon-desktop"></i>
						          <br>Monitor de pedidos
						       </a>
						    </li>
						    <li id="m_report">
						       <a href="#Reportes"> 
						          <i class="icon-th-large"></i>
						          <br>Reportes
						       </a>
						    </li>
						    <li id="m_user">
						       <a href="#Usuarios"> 
						          <i class="icon-group"></i>
						          <br>Gestion de usuarios
						       </a>
						    </li>
						     <li id="m_config">
						       <a href="#Config"> 
						          <i class="icon-cogs"></i>
						          <br>Configuracion
						       </a>
						    </li>
						    <li id="m_contact">
						       <a href="#Contact"> 
						          <i class="icon-phone"></i>
						          <br>Contacto
						       </a>
						    </li>
	                    </ul>
	                </td>
	                <td class="hidden-desktop v-a-t">
	                    <div id="header-icon-show" style=" margin:-15px -19px  20px -15px ">
	                        <i class="icon-reorder icon-4x"></i>
	                    </div>
	                </td>
	            </tr>
	        </tbody></table>
	    </div>
	</div>
	<!--//MENU BUTTONS -->
	<!--SubMenu Items -->
	<div class="sub-navi b-s--20">
	        <div id="SubM_Pedidos" class="container p-r">
	            <a class="sn-close"><i class="icon-double-angle-up"></i></a>
		            <ul>
					    <li class="am">
					        <a href="#">Llaveros<i class="icon-caret-down"></i></a>
					        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
					                <li><a ng-click="fnShowHide('rukeyup', 'open')" href="#Alta" class="dropItemTitle">Alta</a></li>
					                <li><a ng-click="fnShowHide('rukeydown', 'open')" href="#Baja" class="dropItemTitle">Baja</a></li>
					        </ul>
					    </li>
					    <li class="cms">
					        <a ng-click="fnShowHide('ruservice', 'open')" href="#Servicio">Servicio Tecnico</a>
					    </li>
					    <li class="cms"> <!--class="im active"-->
					        <a ng-click="fnShowHide('ruother', 'open')" href="#Otros">Otros<i class=""></i></a>
					    </li>
		    		</ul>
	        </div>
	</div>
</div>
	<!--<ng-include src="'../Partial/Header.html'"></ng-include>-->
	<!-- USER LOGIN FORM -->
<div id="frm_loginU"> 
	<div class="container">
		<br>
          <div class="panel panel-default-login" >
              	<div class="panel-heading">
                	<h3 class="panel-title">LOGIN COFERBA</h3>
            	</div>
            		<div class="panel-body">
						<!-- FORM CONTAINER-->
				    	<form name="frmLogin" class="form-horizontal" id="frmLogin" ng-submit="sysLogin('login')">
							<fieldset>
							<!-- Text Mail E-Mail-->
								<div class="form-group" ng-class="{ 'has-error': frmLogin.email.$dirty && frmLogin.email.$error.required }">
									 <label for="">Email</label>  
									   <div class="">
									    <div class="input-group">
									    	<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
									  		<input name="emailLogin" placeholder="E-Mail" class="form-control" ng-model="Login.email" type="email" required autofocus />
									    </div>
									  </div>
								</div>
							<!-- Text Password Contrase&#241a-->
								<div class="form-group" ng-class="{ 'has-error': frmLogin.password.$dirty && frmLogin.password.$error.required }">
								  <label class="">Contrase&#241a</label>  
								    <div class="">
								    <div class="input-group">
								        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
								  		<input name="passwordLogin" placeholder="Contrase&#241a" class="form-control" ng-model="Login.password" type="password" required autofocus />
								    </div>
									</div>
								</div>
							<!-- Actions Button -->
								<div class="form-actions">
									<button id="btnLogin" type="submit" class="btn-primary-system" >LOGIN <!--<span class="glyphicon glyphicon-ok"></span>--></button>
								  	<a class="lostPass">Olvide mi contrase&#241a <i class="icon-cogs icon-2x"></i></a>
							  	</div>
							</fieldset>
						</form>
 					</div> 
			</div>
	</div>
</div>
	<div class="main_container">
		<div>
			<!--REQUEST FORM FOR REGISTERED USERS -->
			<ng-include ng-show="rukeyup" src="'view/formAltaLlave.html'"></ng-include>
			<ng-include ng-show="rukeydown" src="'view/formBajaLlave.html'"></ng-include>
			<ng-include ng-show="ruservice" src="'view/formServicio.html'"></ng-include>
			<ng-include ng-show="ruother" src="'view/formOtrasConsultas.html'"></ng-include>
			<!--//REQUEST FORM FOR NO REGISTERED USERS -->
			<!-- Response Inform Meessage plugin -->
			<div inform class="inform-fixed inform-shadow inform-animate"></div>
			<!-- Modal -->
			<div id="myModal" class="modal fade" role="dialog">
			  <div class="modal-dialog">

			    <!-- Modal content-->
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			        <h4 class="modal-title">Modal Header</h4>
			      </div>
			      <div class="modal-body">
			        <p>Some text in the modal.</p>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      </div>
			    </div>

			  </div>
			</div>
		</div>
	</div>

</div>
<!--ANGULAR MODULES -->
<script src="https://code.angularjs.org/1.2.22/angular.js"></script>
<script src="js/angular-block-ui.js"></script>
<script src="js/angular-inform.min.js"></script>
<script src="js/angular-showdown.js"></script>
<script src="js/angular-animate.min.js"></script>
<script src="https://rawgit.com/grevory/angular-local-storage/master/dist/angular-local-storage.min.js"></script>
<!--ANGULAR MODULES -->
<!--JQUERY MODULES -->
<script type="text/javascript" language="javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/core-SHERMAN-MLR-1249.js"></script>
<script type="text/javascript" language="javascript" src="js/acsportal.packed.js"></script>
<!--JQUERY MODULES -->
<script src="js/coferbaAngularApp.js"></script> <!-- Coferba Angular App -->
<script src="js/coferbaJsFunctions.js"></script> <!--  Coferba Jquery Functions -->
</body>
</html>

